<style>
  .activateClass{
    background-color: #337ab7;
  }
  span:focus {
    outline: none;
    border: 0;
  }
  .gray{
    background-color: #eee;
  }
  .appointmentIdSearchBox{
     background-color: white;
     margin: 0px;
     border-color: black;

  }

</style>
<div class="col-lg-12">
  <h1 class="page-header">Completed Appointments</h1>
</div>
<div class="col-lg-12" style="text-align: center;">
  <h3>Filters</h3>
</div>
<div class="row export-btn">
  <div class="col-md-3 col-lg-3 col-md-offset-2" >
    <h4>Name</h4>
  </div>
  <div class="col-md-6 col-lg-3">
    <input style="background-color: white;"  name="nameSearched" class="appointmentIdSearchBox form-control" type="text" ng-model="nameSearched" required/>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-lg-3 col-md-offset-2" >
    <h4>Appointment Id</h4>
  </div>
  <div class="col-md-6 col-lg-3">
      <input style="background-color: white;"  name="appointmentIdSearched" class="appointmentIdSearchBox form-control" type="text" ng-model="appointmentIdSearched" required/>
  </div>
</div>
<div class="col-md-12 dailysummary">
      <div class="col-md-3  col-lg-3 col-md-offset-2">
        <h4>Select Date Range</h4>
      </div>
      <div class="col-md-6 col-lg-3">
              <input date-range-picker id="daterange1" name="daterange1" class="date-picker revenue-report-page-inputdate" type="text" ng-model="filter.date" required/>
      </div>
    </div>
<div class="row">
  <div class="col-md-4 col-md-offset-5" style="display:inline-flex;"><button class="btn btn-primary" id="collection-btn" ng-click="filterApplied()"> Apply Filters</button><button class="btn btn-primary"  ng-click="removeFilterApplied()">Remove Applied Filters</button><button class="btn btn-primary"  ng-click="exportToExcel('#tableId')">Export To Excel</button></div>
</div>
<div class="row">
  <button ng-csv="loadData()" csv-header='["Customer Name","Phone Number","Customer Gender","Loyality Points","Start Time","End Time","Total","Payment Method","Amount Payable","Appointment Id","Service Revenue","Tax","Discount","Product Revenue","Services","Products"]' filename="file.csv">Full Month Data</button>
</div>
<!--<div class="card">
  <div class="container-fluid">
    <div class="table-responsive" style="overflow-x: initial">
      <table ng-table="tableParams" class="table table-striped table-hover" show-filter="false">
        <tr ng-repeat="row in $data | filter : query">
          <td title="'Customer Name'"  sortable="'name'">
            {{row.client.name}}
          </td>
          <td title="'Services'" sortable="'id'">
            <span ng-repeat="service in row.services">{{service.name}}, </span>
          </td>
          <td title="'Start Time'"  sortable="'sp'">
            {{row.startsAt  | date:'short' }}
          </td>
          <td title="'Total'" >
            {{row.payableAmount}}
          </td>
            <td title="'Payment Method'" >
                <div ng-repeat="pay in row.allPaymentMethods"><span>Paid {{pay.amount+" "}} by {{pay.name}}.<br/></span></div>
          </td>
          <td title="'Discount'" >
            {{row.discount + row.membershipDiscount}}
          </td>

          <td title="'Amount Payable'" >
            (Rs {{row.payableAmount}})
          </td>
		  <td title="'Appointment Id'" filter="{ parlorAppointmentId: 'number'}">
            {{row.parlorAppointmentId}}
          </td>
          <td title="'Action'">
            <button ng-click="changeStatus($index, 2)" class="btn btn-primary">Cancel</button>
            <button ng-click="print($data, $index)" class="btn btn-primary">Print</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>-->
<div class="card" >
  <div class="container-fluid">
    <div class="table-responsive">
      <table  class="table table-striped table-hover" id="tableId">
        <thead>
        <tr>
          <th  style="background-color: #FAE596;" >
            <span>Customer Name</span>
          </th>
          <th  style="background-color: #FAE596;" >
            <span>Phone Number</span>
          </th>
          <th  style="background-color: #FAE596;" >
            <span>Services</span>
          </th>
            <th  style="background-color: #FAE596;" >
            <span>Products</span>
          </th>
          <th  style="background-color: #FAE596;" >
            <span>Loyality Points</span>
          </th>
          <th  style="background-color: #FAE596;" >
            <span>Start Time</span>
          </th>
             <th  style="background-color: #FAE596;" >
            <span>End Time</span>
          </th>
          <th style="background-color: #FAE596;" >
            <span>Total</span>
          </th>
          <th style="background-color: #FAE596;" >
            <span>Tax</span>
          </th>
          <th  style="background-color: #FAE596;" >
            <span>Payment Method</span>
          </th>
          <th  style="background-color: #FAE596;" >
            <span>Discount</span>
          </th>
          <th  style="background-color: #FAE596;" >
            <span>Amount Payable</span>
          </th>
          <th  style="background-color: #FAE596;" >
            <span>Appointment Id</span>
          </th>
          <th style="background-color:#FAE596;">
              <span>Closed By</span>
          </th>
          <th style="background-color:#FAE596;">
              <span>Revenue</span>
          </th>
          <th  style="background-color: #FAE596;" >
            <span>Action</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user  in appointments1 | orderBy:'-startsAt' ">
          <td >
            {{user.client.name}}
          </td>
          <td >
            {{user.client.phoneNumber}}
          </td>
          <td >
            <span ng-repeat="serviceName in user.services">
              {{serviceName.name}},
            </span>
            <span ng-if="user.services.length==0">-</span>
          </td>
          <td >
                  <span ng-repeat="productName in user.products">
                          {{productName.name}}
                  </span>
                  <span ng-if="user.products.length==0">-</span>
          </td>
          <td >
            <span>
             {{user.loyalityPoints}}
            </span>
          </td>
          <td >
            <span>
             {{user.startsAt  | date:'short' }}
            </span>
          </td>
            <td >
            <span>
             {{user.appointmentEndTime  | date:'short' }}
            </span>
          </td>
          <td>
            <span>
              
              {{user.payableAmount}}
            </span>
          </td>
          <td>
            <span>
              
              {{user.tax}}
            </span>
          </td>
          <td >
            <span ng-repeat="paymentList in user.allPaymentMethods">
              <span ng-if="paymentList.amount">Paid {{paymentList.amount+" "}} by {{paymentList.name}}.<br/></span>
              <span ng-if="user.creditUsed!= '0.00' ">Paid {{user.creditUsed}} by Family Wallet</span>
            </span>
          </td>
          <td >
            <span>
              {{user.discount + user.membershipDiscount}}
            </span>
          </td>
          <td >
            <span>
              (Rs {{user.payableAmount}})
            </span>
          </td>
          <td >
            <span>
              {{user.parlorAppointmentId}}
            </span>
          </td>
          <td>
                <span>{{user.closedByName}}</span>
          </td>
           <td>
                <span>{{user.subtotal-(.50 *user.loyalityPoints) -user.membershipDiscount}}</span>
          </td>
          <td >
              <!--<button ng-click="changeStatus($index, 2)" class="btn btn-primary">Cancel</button>-->
            <button ng-click="print(user, $index)" class="btn btn-primary complatedappointment">Print</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div style="display:inline-flex;">
  <span  style="padding-left: 5px;padding-right: 5px;border: 1px solid #ddd;height: 32px;cursor: pointer;text-align: center;padding-top: 5px;margin-top: -6px;padding-bottom: 7px;" ng-disabled="disablePreviousFlag" ng-click="goToPrevious()">Previous</span>
  <span style="padding-top: 1px;padding-left: 3px;padding-right:3px;" ng-repeat="list in buttonArray" ng-if="list.showFlag==true">
              <span ng-if="(secondDotsFlag==true)&&($index==buttonArray.length-1)">....</span>
            <span style="padding-left: 12px;padding-right: 12px;border: 1px solid #ddd;cursor: pointer;padding-top: 6px;padding-bottom: 6px;" ng-class="{'activateClass':list.active,'gray':hover}" ng-if="list.showFlag==true" ng-click="buttonValue(list)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">{{list.value}}</span>
           <span ng-if="(firstDotsFlag==true) && $index==0">....</span> 
        </span>
  <span  style="padding-left: 5px;padding-right: 5px;border: 1px solid #ddd;height: 32px;cursor: pointer;text-align: center;padding-top: 5px;margin-top: -6px;padding-bottom: 7px;"  ng-disabled="disableNextFlag" ng-click="goToNext()">Next</span>
</div>
