  <style type="text/css">

  </style>


  <uib-tabset active="active">
            <uib-tab index="0" heading="Current Appointments" active="tabs[0].active">

                <h3>tab 1</h3>
                
            </uib-tab>
              <uib-tab index="0" heading="Service" active="tabs[1].active">
                <div class="row">
                    <div class="col-md-6">
                        <div class="new-appointment-card">
                        <div class="row">
                              <form class="form-inline">
                                  <div class="form-group">
                                    <label>Select option</label>
                                        <select class="form-control">
                                            <option>option</option>
                                            <option>option</option>
                                            <option>option</option>
                                            <option>option</option>
                                        </select>
                              
                                  </div>
                                  <div class="form-group">
                 
                                    <input type="text" class="form-control">
                                  </div>
                            </form>
                        </div>
                        <div  class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Add</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Hair</td>
                                    <td>200</td>
                                    <td><button class="btn btn-lg new-appointment-add ">Add</button></td>
                                    
                                </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>Hair</td>
                                    <td>200</td>
                                    <td><button class="btn btn-lg new-appointment-add">Add</button></td>
                                    
                                </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>Hair</td>
                                    <td>200</td>
                                    <td><button class="btn btn-lg new-appointment-add ">Add</button></td>
                                    
                                </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>Hair</td>
                                    <td>200</td>
                                    <td><button class="btn btn-lg new-appointment-add">Add</button></td>
                                    
                                </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>Hair</td>
                                    <td>200</td>
                                    <td><button class="btn btn-lg new-appointment-add ">Add</button></td>
                                    
                                </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>Hair</td>
                                    <td>200</td>
                                    <td><button class="btn btn-lg new-appointment-add ">Add</button></td>
                                    
                                </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>Hair</td>
                                    <td>200</td>
                                    <td><button class="btn btn-lg add">Add</button></td>
                                    
                                </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>Hair</td>
                                    <td>200</td>
                                    <td><button class="btn btn-lg add">Add</button></td>
                                    
                                </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>Hair</td>
                                    <td>200</td>
                                    <td><button class="btn btn-lg ">Add</button></td>
                                    
                                </tr>

                            </tbody>
                        </table>
                     </div>
                     </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 3%;">
                        <div class=" card">
                        <div class="row">
                                  <form>
                                    <div class="form-group col-md-4">
                                      <label for="Name">Name:</label>
                                      <input type="text" class="form-control" id="Name" placeholder="Enter Name" name="email">
                                    </div>
                                    <div class="form-group col-md-4">
                                      <label for="pwd">Number</label>
                                      <input type="Number" class="form-control" id="Number" placeholder="Enter Number" name="Number">
                                    </div>
                                     <div class="form-group col-md-4">
                                      <label for="pwd">Password:</label>
                                      <select class="form-control">
                                          <option>Male</option>
                                          <option>Female</option>
                                      </select>
                                     
                                    </div>
                                 
                                  </form>
                        </div>
                        <div  class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                     <td>1</td>
                                </tr>

                            </tbody>
                        </table>
                     </div>
                     </div>
                        
                    </div>

                </div>

                 
            </uib-tab>
              <uib-tab index="0" heading="Parlor Layout" active="tabs[2].active">
                  <h3>tab 3</h3>

            </uib-tab>
</uib-tabset>