<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Non Completed Appointments</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="card">
	<div class="container-fluid">
		<div class="form-inline row" style="text-align:right">
			<input type="text" ng-model="query.term" class="form-control" placeholder="Search" ng-change='filterTable(query.term)'>
			
        </div>
		<div class="table-responsive">
			<table ng-table="tableParams" class="table table-striped table-hover" show-filter="false">
				<tr ng-repeat="appt in $data ">
					<td title="'Parlor Name'" >
						{{appt.parlorName}}</td>
					<td title="'Client Name'"  >
						{{appt.client.name}}</td>
					<td title="'Total Amount'"  >
							{{appt.payableAmount|number:0}}</td>
					<td title="'Date Time'">
							{{appt.startsAt | date :  "medium"}}</td>
					<td title="'Action'">
							<button class="btn btn-primary" ng-click="closeAppointment(appt)" ng-disabled='appt.employees.length==0 &&  appt.services.length>0 ' >Close</button></td>
				</tr>
			</table>
		</div>
	</div>
</div>