

<div  class="companyinfo-page-container" flex>
    <update-title title="A new title">
</update-title>
<update-meta charset="ISO-8859-1"></update-meta>
    <div   flex>
        <div layout="row" layout-align="center" flex class="companyinfo-page-heading">
            <h2 class="beu-company-heading">About Us</h2>
        </div>
        <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">
            <div flex-xs flex-gt-xs="80" layout="column">
                <div>
                    <md-card-content>
                        <h3 style="text-align:center;padding-top: 10px;font-size:20px;font-family:latoRegular;color: #58595b;">India's First-Ever App Based Standardized Salon Chain- </h3>
                        <h4 style="text-align:center;padding-top: 10px;font-size:20px;font-family:latoRegular;color: #d2232a;margin-top: -10px;">Now at your Neighborhood</h4>
                        <md-content class="md-padding" layout-xs="column" layout="row">
                            <div flex-xs flex-gt-xs="33" layout="column">
                                <md-card style="padding: 15px;" >
                                    <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1492524195/ABOUT_US_CARDS_3_er9yjb.png" class="md-card-image" alt="Washed Out">
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline" style="text-align: center;color:#d2232a;font-size: 20px;">Affordable</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <p style="font-family: latoRegular;color:#58595b;font-size:13px;">
                                            To maintain consistency on the basis of budgets, we have classified salons broadly into 3 categories mainly; Be U Red, Be U Blue, Be U Green. Customers can easily opt for their preferred salon that fits their budget perfectly.
                                        </p>


                                    </md-card-content>

                                </md-card>

                            </div>
                            <div flex-xs flex-gt-xs="33" layout="column">
                                <md-card style="padding: 15px;">
                                    <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1492523342/ABOUT_US_CARDS_1_aozi4z.png" class="md-card-image" alt="Washed Out">
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline" style="text-align: center;color:#d2232a;font-size: 20px;">Standardized</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <p style="font-family: latoRegular;color:#58595b;font-size:13px;">
                                            Be U Salons promises to provide standardized services and uniform prices at all our outlets with basic amenities like WIFI, Air Conditioned ambiance, professional services, hygienic and well-sanitized products, mineral drinking water
                                        </p>


                                    </md-card-content>

                                </md-card>

                            </div>
                            <div flex-xs flex-gt-xs="33" layout="column">
                                <md-card style="padding: 15px;">
                                    <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1492523342/ABOUT_US_CARDS_2_bdnf5l.png" class="md-card-image" alt="Washed Out">
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline" style="text-align: center;color:#d2232a;font-size: 20px;">Technology Driven</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <p style="font-family: latoRegular;color:#58595b;font-size:13px;padding-bottom:7%;">
                                            The most advanced beauty technology has shaped here with our efficient operations, management, service and CRM. Our App allows customers to easily book appointments in just 10 seconds.
                                        </p>

                                    </md-card-content>

                                </md-card>

                            </div>
                        </md-content>
                    <!--<p class="beu-about">-->

                        <!--Revolutionizing Salons Like Never Before!-->
                        <!--<br>-->
                        <!--<br>-->
                        <!--India's First-Ever App Based Standardized Salon Chain- Now at your Neighborhood-->
                        <!--<br>-->
                        <!--<br>-->

                        <!--Be U Salons promises to provide standardized services and uniform prices at all our outlets with basic amenities like WIFI, Air Conditioned ambiance, professional services, hygienic and well-sanitized products, mineral drinking water etc.-->

                        <!--To maintain consistency on the basis of budgets, we have classified salons broadly into 3 categories mainly; Be U Red, Be U Blue, Be U Green. Customers can easily opt for their preferred salon that fits their budget perfectly.-->

                        <!--The most advanced beauty technology has shaped here with our efficient operations, management, service and CRM. Our App allows customers to easily book appointments in just 10 seconds.-->

                    <!--</p>-->
                        <!--<b>Who We Are?</b>-->
                        <!--<br>-->


                        <!--<p class="beu-about">-->
                            <!--One of you! We are trying to create a standard platform to allow easy accessibility of a plethora of beauty services for our customers at unmatched prices. Technology has further escalated and strengthened the brand to create uniformity in terms of prices and services across all the outlets.-->

                            <!--We are passionate dwellers who strongly believe in evolution of this widely unorganized sector into something that will be a pure bliss! Our further expansion and growth plans revolve around associating with over 1,000-1,500 salons all over New Delhi- NCR and other parts of India. Our game changing strategy reflects in the rising popularity and increased footfall of the salons.-->

                            <!--Change the way you Salon and spread the word because we’re waiting eagerly to pamper you very soon!-->
                        <!--</p>-->
                    </md-card-content>

                        <div layout="column">
                    <h2 style="text-align:center;padding-top: 10px;font-size:20px;font-family:latoRegular;color: #58595b;">WHAT'S IN STORE FOR YOU!</h2>
                        </div>
                    <div layout="row" layout-xs="column">
                    <div flex-xs flex-gt-xs="20" layout="column">
                        <div style="padding: 15px;">
                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1492600344/logo5_itgorr.png" style="width:100%;">

                        </div>

                    </div>
                    <div flex-xs flex-gt-xs="20" layout="column">
                        <div style="padding: 15px;">
                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1492600344/logo4_p2kuom.png" style="width:100%;">

                        </div>

                    </div>
                    <div flex-xs flex-gt-xs="20" layout="column">
                        <div style="padding: 15px;">
                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1492600344/logo3_wkeg2n.png" style="width:100%;">

                        </div>

                    </div>
                        <div flex-xs flex-gt-xs="20" layout="column">
                        <div style="padding: 15px;">
                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1492600344/logo12_jaj5tp.png" style="width:100%;">
                        </div>

                    </div>
                        <div flex-xs flex-gt-xs="20" layout="column">
                            <div style="padding: 15px;">
                                <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1492600344/logo3_wkeg2n.png" style="width:100%;">
                            </div>

                        </div>
                    </div>
                
            </div>
            </div>

        </md-content>



    </div>
</div>