<div  flex>
    <div   flex>
        <div layout="row" layout-align="center" flex class="companyinfo-page-heading">
            <h2 class="beu-company-heading">FREQUENTLY ASKED QUESTIONS</h2>
        </div>
        <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center" style="padding-bottom: 4%">
            <div flex-xs flex-gt-xs="80" layout="column">
                <md-card>

                    <md-card-content>
                        <h3 class="beu-ques">
                            Q1. HOW CAN I UPDATE MY APP?
                        </h3>
                        <p class="beu-about">
                            You can check for updates using the App Store/ Google Play Store application installed on your device.
                        </p>
                        <h3 class="beu-ques">
                            Q2. HOW DO I LOG IN TO THE APP?
                        </h3>
                        <p class="beu-about">
                            If you are new to the app or when you launch the app, you can login with your Google or Facebook account. The app will save your login information, so you won’t need to enter it every time you launch the app.
                        </p>
                        <h3 class="beu-ques">
                            Q3. IS THIS MOBILE APP SECURE?
                        </h3>
                        <p class="beu-about">
                            Yes! All your information is absolutely safe with us,
                        </p>
                        <h3 class="beu-ques">
                            Q4.WHAT CAN I DO WITH THIS APP?
                        </h3>
                        <p class="beu-about">
                            You can do the following with our mobile app:
                            <br>

                            1)You can view all available services in the salon<br>
                            2)You can check out our affordable beauty deals and packages<br>
                            3)You can book any service at the selected salon<br>
                            4)You can win exciting rewards on transacting from our app
                        </p>
                        <h3 class="beu-ques">
                            Q5. WHAT WILL I FIND IN ‘MY ACCOUNT’ SECTION?
                        </h3>
                        <p class="beu-about">
                            - You can view the services that you had in your last visit as your completed appointments.<br>
                            - You can review your completed appointment services.<br>
                            - You will be able to view the details of services that you have availed at the salon.<br>
                            -You will be able to see your loyalty points if any<br>
                            - You will see a list of freebies that are offered on our app<br>
                            -You will be able to see notifications for your upcoming and completed services<br>
                        </p>
                        <h3 class="beu-ques">
                            Q6. HOW SHOULD I BOOK APPOINTMENT ON THE APP?
                        </h3>
                        <p class="beu-about">
                            Login into the app and select your desired services or deals, then you can select the closest salon around your location. You will be directed to the salon page where you can have a quick look at the salon information and then click on ‘Book Appointment’. The next page is that of the date & time you want to select according to your preference. Further, the next page will show you a list of discounted services you get with already selected items in your cart. You can also add further discounted items to your cart to avail the best deals on our services. Then, click proceed to have a quick view at the bill summary and the number of services and then click on ‘Confirm Booking’.
                        </p>
                        <h3 class="beu-ques">
                            Q7. WHEN I BOOK APPOINTMENT FROM MY APP, IS IT CONFIRMED?
                        </h3>
                        <p class="beu-about">
                            When you book an appointment on the app, you would receive a confirmation message on the number registered and a mail on the registered Email Id.
                        </p>
                        <!--<b class="beu-company-sub-heading">Personally Identifiable Information</b>-->
                        <!--<p class="beu-about">-->
                            <!--Personally Identifiable Information is any information that concerns you individually and would permit someone to contact you, for example, your name, address, telephone/fax number, e-mail address or any information you submitted to beusalon.com that identifies you individually.-->

                            <!--Beusalon.com will not collect any personally identifiable information about you unless you provide it. Therefore, if you do not want beusalon.com to obtain any personally identifiable information about you, do not submit it.-->

                            <!--You can visit and browse the Be U Salon website without revealing personally identifiable information about yourself. You may also choose to disclose personally identifiable information about yourself, which may be maintained as described below. Beusalon.com may collect personally identifiable information about you from its website by methods such as the following:-->

                            <!--E-mail and other voluntary communications - You may also choose to communicate with beusalon.com through e-mail, via our website, by telephone, in writing, or though other means. Be U Salon collects the information in these communications and such information may be personally identifiable.-->

                            <!--Information Use-->
                            <!--Beusalon.com may use the personally identifiable information collected through its website primarily for such purposes as:-->

                            <!--processing, servicing or enforcing transactions and sending related communications,-->
                            <!--providing services and support to users,-->
                            <!--improving the website, including tailoring it to users' preferences, providing users with product or service updates, promotional notices and offers, etc-->
                            <!--information about Be U Salon and its affiliates,-->
                            <!--responding to your questions, inquiries, comments and instructions,-->
                            <!--maintaining the security and integrity of its systems.-->
                        <!--</p>-->

                        <!--<p class="beu-about">-->
                            <!--This privacy policy governs your use of the software application Be U Salons ( “ Application” ) for Mobile devices created by our team.-->
                            <!--The Application obtains information you provide when you download and register the Application and any information you enter in the Application. This includes information that can identify you ( “ personal information” )  telephone number, l and e-mail addresses, social media login.-->
                        <!--</p>-->
                    </md-card-content>
                </md-card>

            </div>
        </md-content>
    </div>
</div>