<div  flex>
    <div   flex>
        <div layout="row" layout-align="center" flex  class="companyinfo-page-heading">
            <h2 class="beu-company-heading">Terms and Conditions</h2>
        </div>
        <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center" style="padding-bottom: 4%">
            <div flex-xs flex-gt-xs="80" layout="column">
                <md-card>
                    <md-card-content>
                        
                        <b class="beu-company-sub-heading">Scope and Definitions</b>
                        <p class="beu-about">
                            Terms and Condition is made by Be U Salons (as defined hereinafter) and shall apply to your visit and your use of Services (as defined hereinafter) provided through our Site/ or Application (as defined hereinafter)<br>
                            Members are hereby allowed to use the Services, subject to acceptance in full, of the Conditions mentioned herein below and any other conditions as specified by Be U Salons from time to time on the Application/ and or the Site.<br>
                            Defined Terms

                            “Application” shall mean such mobile applications which are owned, maintained and operated by Be U Salons and all screenshots, pages appearing, appended, available alongwith such mobile applications.

                            “Conditions” mean these Terms & Conditions and Privacy Policy of Be U Salons as notified on the Site and / or the Application.

                            “Be U Salons” shall mean the offspring company under Gingerpan Swapcart Pvt. Ltd., a company incorporated under the Companies Act 1956 with Corporate Identity Number ___________ and having it’s registered office at Plot Number 62 Okhla Industrial Area Phase-3 New Delhi, Pincode: 110020, India who owns , operates and maintains the Site and Application.

                            “Privacy Policy” shall mean such privacy policies published on the Site and /or the Application alongwith these Terms and Conditions.
                        </p>
                            <b class="beu-company-heading">Variation of the Conditions, Site, Application and Service</b>
                            <p class="beu-about">
                                Be U Salons reserves the right to change, modify or amend any or all of the Conditions at any time without any prior notice. In addition, Be U Salons may vary or amend the Services provided through the Site/ and or Application, functionality of the site and / or Application and/ or the “look and feel” of the Site and / or the Application at any time without notice and without any liability towards the registered Members on the Application.

                                Any modification to the Site, Application, Services or Conditions shall come into effect as soon as such changes changes are published on the Site and / or the Application.

                                Members shall be deemed to have accepted any varied Conditions in the event that they use any Services offered through the Site or the Application following publication of the varied Conditions. However, changes will not apply to any bookings which have been made prior to publication of the varied Conditions
                            </p>
                        <b class="beu-company-heading">Use of Service</b>
                        <p class="beu-about">
                            User Account<br>

                            In order to use the Service, each Member must create a User Account and shall agree to provide any information requested by Be U Salons.

                           <br> Disclaimer of Liability<br>
                            All appointments are subject to availability of operators and service slots. In case of any issue, every attempt will be made to inform the Customer and our liability will be limited to rescheduling the appointment to the next convenient available time slot.

                            By choosing to do a service at our Salon, you understand and agree that while our aim is to deliver a great service experience every time, in the rare event to the contrary, our liability will be limited to the value equivalent to the cost of the service.<br>
                        </p>
                        <b class="beu-company-heading">User Provided Information</b>
                        <p class="beu-about">
                            When you register with us and use the Application, you generally provide your; a)name, email, and other social media login information ;b) information you provide us when you contact us for help, c) transaction-related information, such as when you make appointments , respond to make any offers, or download or use application from us ;d)credit card information for purchase and use of the Application ;e)information you enter into our system when using the Application, such as contact information and project management information.

                            The more information you provide, the better benefits you may derive from the services provided through this Application as it helps in defining your professional identity. It enables us to serve you relevant content, our suggested/ recommended services or offers as we deem fit.

                            We may also use the information you provided us to contact you from time to time and to provide you with important information, required notices and marketing promotions or offers. We may also use your information to understand trends and statistics, conduct research surveys and analyses to evaluate the services or products you use or purchase through us; make any improvisations; develop new features and tools, for correcting technical glitches, or for audit purposes.

                            When you provide us with your location information, we may use it to help you find a nearest salons around the area you have selected or are present.
                        </p>
                        <b class="beu-company-heading">Membership Card Policy</b>
                        <p class="beu-about">
                            Amount received against any service will not be refunded and cannot be redeemed against any other service. Deals once sold cannot be exchanged or returned. Be U Salons is not liable for any loss or damage of any personal belonging and reaction to skin or hair. Offers/ Packages need to be redeemed within stipulated duration of time or they hold expire by default. You will receive transaction related and promotional SMS’es. To unsubscribe or to file a complaint, please email us at info@beusalons.com. Rights of admission reserved. All disputes are subject to Delhi Jurisdiction.
                        </p>

                        <b class="beu-company-heading">Bill Policy</b>
                        <p class="beu-about">
                            Amount received against any services will not be refunded and can not be redeemed against other service. Deal once sold cannot be exchanged or returned. Be U Salons is not liable for any loss or damage to any personal belonging and reaction to skin and hair. Offers/ Packages need to be redeemed within stipulated duration of time or they hold expire by default. You will receivetransaction related and promotional SMS’es. To unsubscribe or to file a complaint, please email us at info@beusalons.com. Rights of admission reserved. All disputes are subject to Delhi Jurisdiction.
                        </p>
                        <b class="beu-company-heading">Automatically Collected Information</b>
                        <p class="beu-about">
                            In addition, the Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, your location and information about the way you use the Application.
                        </p>
                        <b class="beu-company-heading">Disclosure by Third Parties</b>
                        <p class="beu-about">
                            From time to time, we may make certain third party offers available through our Application. If you choose to accept such an offer, we will disclose your contact and billing information to the third party who made the offer available to you.<br>We may also disclose your personal data:- as requested by law, such as to comply with any legal, judicial, regulatory process;
                            - when we believe in good faith that disclosure is necessary to protect our rights, protect our rights, protect your safety, or the safety of others, investigate fraud, or respond to a government.

                            -if (Co Name) is involved in a merger, acquisition or sale of all or a portion of its assets, be notified via email and/ or a prominent notice on our Website and Application of any change in ownership or uses of this information, as well as any choices you may have regarding this information.

                            Only aggregated, anonymized data is periodically transmitted to external services to help us improve the Application and our service.
                        </p>
                        <b class="beu-company-heading">Opt Out Rights</b>
                        <p class="beu-about">
                            You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall process as may be available as part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email by writing to us at info@beusalons.com
                        </p>
                        <b class="beu-company-heading">Data Retention Policy, Managing Your Information</b>
                        <p class="beu-about">
                            We will retain your personal information for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information for up to 36 months and thereafter may store it in aggregate. Please note that some or all of the personal information may be required in order for the Application to function properly.
                        </p>
                        <b class="beu-company-heading">Security</b>
                        <p class="beu-about">
                            We are concerned about safeguarding confidentiality of certain personal information of yours, such as your payment instrument and bank details. We provide physical, electronic and procedural safeguards to protect information we process and maintain.
                            Please be aware that, although we endeavor to provide reasonable security for information we process and maintain, no security system can prevent all potential security breached.
                        </p>
                        <b class="beu-company-heading">Amendments</b>
                        <p class="beu-about">
                            This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here and informing you via the Application, email or text message. You are advised to consult this Privacy Policy regularly for any changes , as continued use is deemed approval of all changes.
                        </p>
                        <b class="beu-company-heading">Your Consent</b>
                        <p class="beu-about">
                            By using this Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. “Processing” means using cookies on a computer/hand held device or using touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information.
                        </p>

                    </md-card-content>
                </md-card>

            </div>
        </md-content>
    </div>
</div>