<style>
    .news-media-link{
        padding-top: 1%;
        padding-left: 2%;
        padding-bottom: 1%;
    }
    .media-box-p{color:#58595b;padding-top:11%;}
    .media-box-2{color:#58595b;padding-top: 2%;}
    .img {
        width: 100%;
        height: 100%;
    }
    .box{width:170px;height:90px;}
    .box-1{width:170px;height:64px;padding-top:7%;}



</style>
<script type="text/JavaScript" src="http://www.professorcloud.com/js/cloud-zoom.1.0.2.js"></script>
<div  class="companyinfo-page-container" flex>
    <div   flex>
        <div layout="row" layout-align="center" flex class="companyinfo-page-heading">
            <h1 class="beu-company-heading"><b>News & Media</b></h1>
        </div>
        <md-content  layout-xs="column" layout="row" layout-align="center">
            <div flex-xs flex-gt-xs="80" layout="column">
                <div flex>
                    <md-card-content>
                        <div layout="row" layout-align="center" flex class="companyinfo-page-heading">
                            <h1 class="beu-company-heading"><b>In Print</b></h1>
                        </div>
                        <md-content class="md-padding" layout-xs="column" layout="row" flex="100">
                            <div layout="column" flex-gt-xs="50">
                                <div flex-gt-xs="100" layout="row" style="height: 150px">
                                    <md-card style="cursor: pointer" >
                                        <img ng-click='newImage("http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_574,w_666/v1493205696/Times_of_India_1_nfd0qs.png")' ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_574,w_666/v1493205696/Times_of_India_1_nfd0qs.png" alt="Washed Out" style="height:100%" >

                                    </md-card>
                                </div>
                                <div flex-gt-xs="100" layout="row" style="height: 150px">
                                    <md-card style="cursor: pointer">
                                        <img ng-click='newImage("http://res.cloudinary.com/dyqcevdpm/image/upload/v1499940099/TOI_PAGE_22_vr3zqb.jpg")' ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1499940099/TOI_PAGE_22_vr3zqb.jpg" style="height:100%">

                                    </md-card>
                                </div>
                            </div>
                            <div flex-xs flex-gt-xs="50" layout="row">
                                <md-card style="cursor: pointer" class="app">
                                    <img ng-click='newImage("http://res.cloudinary.com/dyqcevdpm/image/upload/v1493205678/The_Hindu_Business_Line_Page_15_-_Copy_2_2_pdj7vq.jpg")' ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1493205678/The_Hindu_Business_Line_Page_15_-_Copy_2_2_pdj7vq.jpg" alt="Washed Out" >
                                </md-card>
                            </div>
                        </md-content>

                        <md-content class="md-padding" layout-xs="column" layout="row">
                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card style="cursor: pointer">
                                   <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1499938788/Femina_Brides_Page_94_jvn0uq.jpg" ng-click="newImage('http://res.cloudinary.com/dyqcevdpm/image/upload/v1499938788/Femina_Brides_Page_94_jvn0uq.jpg')">
                                </md-card>
                            </div>

                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card style="cursor: pointer">
                                    <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1499938781/Femina_Brides_Page_95_g743bx.jpg" alt="Washed Out" ng-click="newImage('http://res.cloudinary.com/dyqcevdpm/image/upload/v1499938781/Femina_Brides_Page_95_g743bx.jpg')">
                                </md-card>
                            </div>
                            <div flex-xs flex-gt-xs="25" layout="column">

                                <md-card style="cursor: pointer" class="app">
                                    <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1499938767/Femina_Brides_Page_96_jpam8m.jpg" alt="Washed Out" ng-click="newImage('http://res.cloudinary.com/dyqcevdpm/image/upload/v1499938767/Femina_Brides_Page_96_jpam8m.jpg')">
                                </md-card>
                            </div>

                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card style="cursor: pointer">
                                    <div  ng-click="newImage('http://res.cloudinary.com/dyqcevdpm/image/upload/v1499936684/3_June_Lifestyle_page_kx9zgm_r5xh4c.jpg')" style="height:360px;width: 100%; background-repeat: no-repeat;background-image: url('http://res.cloudinary.com/dyqcevdpm/image/upload/v1499936684/3_June_Lifestyle_page_kx9zgm_r5xh4c.jpg');background-size: contain;"> <!--<img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1499779468/3_June_Lifestyle_page_kx9zgm.jpg" alt="Washed Out" style="width: 100%;height: auto">-->
                                    </div>
                                </md-card>
                            </div>
                        </md-content>
                        <md-content class="md-padding" layout-xs="column" layout="row">
                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card style="cursor: pointer">
                                    <img ng-click="newImage('http://res.cloudinary.com/dyqcevdpm/image/upload/v1500287663/Business_Minded_1_Pg_gny3ug.jpg')" ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1500287663/Business_Minded_1_Pg_gny3ug.jpg" ng-click="newImage()">
                                    <!--<div style="text-align: center">-->
                                        <!--<h4><b>Publication/Portal- Air Asia</b></h4>-->
                                        <!--<h4><b>Date- May 2017 issue</b></h4>-->
                                        <!--<h4><b>Page- 30</b></h4>-->
                                    <!--</div>-->
                                </md-card>

                            </div>
                            <div flex-xs flex-gt-xs="25" layout="column">

                                <md-card  class="app" style="cursor: pointer">
                                    <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1500386765/BeU_July_2017_Shubh_Yatra-1_ozxozp.jpg" alt="Washed Out" ng-click="newImage('http://res.cloudinary.com/dyqcevdpm/image/upload/v1500386765/BeU_July_2017_Shubh_Yatra-1_ozxozp.jpg', target)">
                                </md-card>
                            </div>


                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card style="cursor: pointer">
                                    <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1500386767/BeU_July_2017_Shubh_Yatra-2_kpug7j.jpg" alt="Washed Out" ng-click="newImage('http://res.cloudinary.com/dyqcevdpm/image/upload/v1500386767/BeU_July_2017_Shubh_Yatra-2_kpug7j.jpg')" >
                                </md-card>
                            </div>


                            <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card style="cursor: pointer;height: 320px;">
                                    <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1500725832/FC_Page_3_zqrboz.jpg" alt="Washed Out" ng-click="newImage('http://res.cloudinary.com/dyqcevdpm/image/upload/v1500725832/FC_Page_3_zqrboz.jpg')" style="height:100%;">
                                </md-card>
                            </div>
                        </md-content>
                        <md-content class="md-padding" layout-xs="column" layout="row">
                            <div flex-xs flex-gt-xs="25" layout="column">
                                <div flex-xs flex-gt-xs="25" layout="column">
                                <md-card style="cursor: pointer">
                                    <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1502893012/Busmen_2017_Aug-2_j1lqyo.jpg" alt="Washed Out" ng-click="newImage('http://res.cloudinary.com/dyqcevdpm/image/upload/v1502893012/Busmen_2017_Aug-2_j1lqyo.jpg')" >
                                </md-card>
                            </div>

                            </div>
                           </md-content>
                       

                    </md-card-content>
                     


                    <div layout="row" layout-xs="column">
                        <div flex-xs flex-gt-xs="100" layout="column">
                            <div flex>
                                <div layout="row" layout-align="center" flex class="companyinfo-page-heading">
                                    <h1 class="beu-company-heading"><b>Be U Salons in News</b></h1>
                                </div>
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <md-card flex-xs flex-md flex-lg  flex-gt-xs="50" layout="column"  >
                                        <video id="audio" width="500" loop autoplay controls="true"  style="padding-left: 2%;">
                                            <source src="http://res.cloudinary.com/dyqcevdpm/video/upload/v1499428069/Be_U_salons_The_success_story_1_jysmhl.mp4" type='video/ogg; codecs="theora, vorbis"'>
                                        </video>
                                    </md-card>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="50"  layout="column" class="news-box">

                                            <md-card style="padding-top: 8%;padding-left: 8%;padding-bottom: 8%;">
                                                Show Name- Rising Stars<br><br>

                                                Channel - Bloomberg TV India<br><br>

                                                Edition- Electronic (Global)<br><br>

                                                Date- June 26th, 2017<br><br>

                                                Duration - 10:01 minutes
                                            </md-card>

                                    </div>
                                </md-content>
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box"><a href="https://www.vccircle.com/budget-salon-aggregator-be-u-raises-seed-funding/" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1493288197/vccircle-com-squarelogo-1484904760293_vvv8c3.png" alt="Washed Out" class="img">
                                        </a>
                                        </div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70"  layout="column" class="news-box">
                                        <a href="https://www.vccircle.com/budget-salon-aggregator-be-u-raises-seed-funding/" target="_blank">
                                            <p class="media-box-p">Budget salon aggregator Be U raises seed funding</p>
                                        </a>
                                    </div>
                                </md-content><!--end of first box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box"><a href=" https://www.vccircle.com/exclusive-salon-and-spa-aggregator-fabogo-raises-fresh-funding/ " target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1493288197/vccircle-com-squarelogo-1484904760293_vvv8c3.png" alt="Washed Out" class="img">
                                        </a>
                                        </div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70"  layout="column">
                                        <a href=" https://www.vccircle.com/exclusive-salon-and-spa-aggregator-fabogo-raises-fresh-funding/ " target="_blank">
                                            <p class="media-box-p">
                                                Be U Salon and its funding information in the salon aggregation story. </p>
                                        </a>
                                    </div>
                                </md-content><!--end of first box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column" >
                                        <div class="box"> <a href="http://www.indiaretailing.com/2017/04/18/retail-hub/u-salons-chain-raises-rs-4-crore-investors-fund-expansion-plans/">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1493288197/INDIA-RETAILING-LOGO_nqwnrw.jpg" alt="Washed Out" class="img">

                                        </a>
                                        </div>
                                    </div>
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.indiaretailing.com/2017/04/18/retail-hub/u-salons-chain-raises-rs-4-crore-investors-fund-expansion-plans/" >
                                            <p class="media-box-p">
                                                Be U Salons chain raises Rs 4 crore from investors to fund its expansion plans
                                            </p>
                                        </a>
                                    </div>
                                </md-content><!--end of 2 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1"> <a href="http://www.avashya.com/articles/421514/tech-enabled-salon-chain-be-u-salons-raises-rs-4-c/" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_100,w_225/v1493288198/trade_briefs_ip6udl.png" alt="Washed Out" class="img">

                                        </a>
                                        </div>
                                    </div>
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.avashya.com/articles/421514/tech-enabled-salon-chain-be-u-salons-raises-rs-4-c/" target="_blank">
                                            <p class="media-box-2">Tech Enabled Salon Chain Be U Salons Raises Rs 4 Cr in Seed Funding</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 3 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column" >
                                        <div class="box-1"> <a href="http://www.dealstreetasia.com/stories/india-dealbook-mapmyindia-acquires-vidteq-be-u-salons-raises-funding-70573/" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_100,w_225/v1493288196/Deal_Street_Asia_abmicj.jpg" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.dealstreetasia.com/stories/india-dealbook-mapmyindia-acquires-vidteq-be-u-salons-raises-funding-70573/" target="_blank">
                                            <p class="media-box-2">India Dealbook: MapmyIndia acquires VidTeq, Be U Salons raises funding</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 4 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column" >
                                        <div class="box-1"> <a href="http://indiatoday.intoday.in/story/salon-chain-raises-rs-4-cr-from-investors/1/931135.html" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_70,w_225/v1493288196/indiatoday-masthead_660_121813043559_u8mm2t.jpg" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://indiatoday.intoday.in/story/salon-chain-raises-rs-4-cr-from-investors/1/931135.html" target="_blank">
                                            <p style="color:#58595b;padding-top:3%;">Salon chain raises Rs 4 cr from investors</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 5 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1"> <a href="http://www.indianweb2.com/2017/04/17/tech-enabled-salon-chain-u-salons-raises-rs-4-cr-seed-funding/" target="_blank"><img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_55,w_225/v1493288196/indian_web_2_logo_beieyt.gif" alt="Washed Out" class="img">
                                        </a></div>
                                    </div>
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.indianweb2.com/2017/04/17/tech-enabled-salon-chain-u-salons-raises-rs-4-cr-seed-funding/" target="_blank">
                                            <P class="media-box-2">Tech Enabled Salon Chain Be U Salons Raises Rs 4 Cr in Seed Funding</P>
                                        </a>
                                    </div>
                                </md-content><!--end of 6 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1">  <a href="https://inc42.com/buzz/be-u-salons-funding/" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,w_235/v1493288196/inc_42_skfvge.png" alt="Washed Out" class="img">

                                        </a>
                                        </div>
                                    </div>
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="https://inc42.com/buzz/be-u-salons-funding/" target="_blank">

                                            <p class="media-box-2">Online Aggregator of Budget Salons Be U Salons secures $ 619K Funding</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 7 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1"> <a href="http://www.indiaretailnews.com/?searchword=be+u+salons&searchphrase=all&limit=&ordering=newest&view=search&Itemid=99999999&option=com_search" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_100,w_225/v1493288196/et_retail_sz8bup.jpg" alt="Washed Out" class="img" >

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.indiaretailnews.com/?searchword=be+u+salons&searchphrase=all&limit=&ordering=newest&view=search&Itemid=99999999&option=com_search" target="_blank">

                                            <p class="media-box-2">Salon chain Be U Salons raises Rs 4 cr in seed funding</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 8 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1">  <a href="
http://economictimes.indiatimes.com/small-biz/money/be-u-salons-raise-rs-4-cr-seed-funding/articleshow/58224877.cms" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_60,w_225/v1493288197/the-economic-times-logo_dtv5bg.jpg" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs  flex-sm flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="
http://economictimes.indiatimes.com/small-biz/money/be-u-salons-raise-rs-4-cr-seed-funding/articleshow/58224877.cms" target="_blank">

                                            <p class="media-box-2">Be U Salons raises Rs. 4 cr Seed Funding</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 8 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1"> <a href="http://www.business-standard.com/article/companies/be-u-salon-chain-raises-rs-4-crore-from-investors-117041700769_1.html" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_60,w_225/v1493288196/bs_logo_kvz5qu.jpg" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.business-standard.com/article/companies/be-u-salon-chain-raises-rs-4-crore-from-investors-117041700769_1.html" target="_blank">

                                            <p class="media-box-2">Be U Salon chain raises Rs 4 crore from investors</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 10 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1"> <a href="http://www.thehindubusinessline.com/info-tech/be-u-salons-raises-rs-4-crore-in-seed-funding/article9644227.ece" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_60,w_225/v1493288196/bl-newlogo-h55_bzeru1.jpg" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.thehindubusinessline.com/info-tech/be-u-salons-raises-rs-4-crore-in-seed-funding/article9644227.ece" target="_blank">

                                            <p class="media-box-2">Be U Salons gets 4-cr funds</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 11 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1"> <a href="http://bwdisrupt.businessworld.in/article/Be-U-Salons-Raises-Rs-4-Cr-in-Seed-Funding/17-04-2017-116466/" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_60,w_225/v1493288196/BW_Disrupt_s1f1ym.png" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-sm flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://bwdisrupt.businessworld.in/article/Be-U-Salons-Raises-Rs-4-Cr-in-Seed-Funding/17-04-2017-116466/" target="_blank">

                                            <p class="media-box-2">Be U Salons Raises Rs 4 Cr in Seed Funding</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 12 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs  flex-sm flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1"> <a href="https://www.crunchbase.com/organization/be-u-salons#/entityhttp://www.articlellc.com/tech-driven-startup-be-u-salons-raises-around-600k-in-seed-funding-round-led-by-gaurav-kachru-and-others-venture-dreams/" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_60,w_225/v1493288196/crunchbase_va1jbh.jpg" alt="Washed Out"  class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="https://www.crunchbase.com/organization/be-u-salons#/entityhttp://www.articlellc.com/tech-driven-startup-be-u-salons-raises-around-600k-in-seed-funding-round-led-by-gaurav-kachru-and-others-venture-dreams/" target="_blank">

                                            <p class="media-box-2">Budget salon aggregator Be U raises seed funding</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 13 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1"> <a href="http://news.franchiseindia.com/wellness/Be-U-Salon-aims-to-open-over-100-outlets-in-FY17-18-n14322" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_60,w_225/v1493288196/franchise_india_cz0bjd.jpg" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://news.franchiseindia.com/wellness/Be-U-Salon-aims-to-open-over-100-outlets-in-FY17-18-n14322" target="_blank">

                                            <p class="media-box-2">Be U Salon aims to open over 100 outlets in FY17-18</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 14 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1"> <a href="http://www.outlookindia.com/newsscroll/salon-chain-raises-rs-4-cr-from-investors/1030455" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_55,w_231/v1493288197/Outlookindia-logo-400x100_gclv66.jpg" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.outlookindia.com/newsscroll/salon-chain-raises-rs-4-cr-from-investors/1030455" target="_blank">

                                            <p class="media-box-2">Salon chain raises Rs 4 cr from investors</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 15 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1"> <a href="http://smartinvestor.business-standard.com/market/story-452781-storydet-Be_U_Salon_chain_raises_Rs_4_crore_from_investors.htm#.WPb3E0WGPIU" target="-blank"><img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_55,w_231/v1493288197/smart_investor_vl0mid.png" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://smartinvestor.business-standard.com/market/story-452781-storydet-Be_U_Salon_chain_raises_Rs_4_crore_from_investors.htm#.WPb3E0WGPIU" target="-blank">

                                            <p class="media-box-2">Be U Salon chain raises Rs 4 crore from investors</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 170px;height: 84px;padding-top: 7%;"> <a href="http://www.indialivetoday.com/hair-health-tip-care-your-hair-care-on-your-vacay/157812.html" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1496058470/India_Live_Today_ogshkx.png" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.indialivetoday.com/hair-health-tip-care-your-hair-care-on-your-vacay/157812.html" target="-blank">

                                            <p class="media-box-2">"Hair Health Tip: Care your hair care on your vacay!"  by Javed Khan, Creative Head, Be U Salons   </p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 170px;height:89px;padding-top: 7%;"> <a href="http://www.siasat.com/news/care-hair-care-vacay-1189685/" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1496059325/Siasat_xmccbh.png" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.siasat.com/news/care-hair-care-vacay-1189685/" target="-blank">

                                            <p class="media-box-2">CARE YOUR HAIR CARE ON YOUR VACAY!  By Javed Khan, Creative Head, Be U Salons      </p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 170px;height:64px;padding-top: 7%;"> <a href="http://www.outlookindia.com/newsscroll/care-your-hair-care-on-your-vacay/1060395" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1496059325/Outlook_crg82a.jpg" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.outlookindia.com/newsscroll/care-your-hair-care-on-your-vacay/1060395" target="-blank">

                                            <p class="media-box-2">"Hair care tips to remember while vacationing in humid destinations" by Javed Khan, Creative Head, Be U Salons</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 170px;height:50px;padding-top: 7%;"> <a href="http://www.business-standard.com/article/news-ani/care-your-hair-care-on-your-vacay-117052600524_1.html" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1496059325/Business_Standard_bndb4a.jpg" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.business-standard.com/article/news-ani/care-your-hair-care-on-your-vacay-117052600524_1.html" target="-blank">

                                            <p class="media-box-2">"Care Your Hair On Your Vacay!"  by Javed Khan, Creative Head, Be U Salons </p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 170px;height: 84px;padding-top: 7%;padding-bottom: 7%;"> <a href="http://www.aninews.in/newsdetail-MTE/MzE2MzI4/care-your-hair-on-your-vacay-.html" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1496059325/ANI_hfg2xj.jpg" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.aninews.in/newsdetail-MTE/MzE2MzI4/care-your-hair-on-your-vacay-.html" target="-blank">

                                            <p class="media-box-2">"Care Your Hair On Your Vacay!"  by Javed Khan, Creative Head, Be U Salons </p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 170px;height: 125px;"> <a href="https://yourstory.com/2017/06/be-u-salon/" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1496315230/175x175bb_xszpnb.jpg" alt="Washed Out" style="width: 100%;height: 64%;">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="https://yourstory.com/2017/06/be-u-salon/" target="-blank">

                                            <p class="media-box-2">Be U Salons now enabling non-branded salons to multiply revenues</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->

                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="box-1"> <a href="http://bwdisrupt.businessworld.in/article/Be-U-Salons-One-of-the-Fastest-Growing-Chain-in-North-India-to-Open-100-More-Outlets-by-End-of-FY-17/17-05-2017-118375/  " target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_60,w_225/v1493288196/BW_Disrupt_s1f1ym.png" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://bwdisrupt.businessworld.in/article/Be-U-Salons-One-of-the-Fastest-Growing-Chain-in-North-India-to-Open-100-More-Outlets-by-End-of-FY-17/17-05-2017-118375/  " target="_blank">

                                            <p class="media-box-2">Be U Salons: One of the fastest growing chain in North India</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 12 box-1-->
								 <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div style="width: 170px;height: 91px;padding-top: 7%;padding-bottom: 9%;"> <a href=" https://indianceo.in/tech/online-aggregator-budget-salons-u-salons/ " target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1496839802/indianceo_nqwgaw.jpg" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href=" https://indianceo.in/tech/online-aggregator-budget-salons-u-salons/" target="_blank">

                                            <p class="media-box-2"> Online Aggregator Of Budget Salons – Be U Salons</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 12 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div style="width: 170px;height: 91px;padding-top: 7%;padding-bottom:0%;"> <a href="http://entrackr.com/2017/07/be-u-salons-chain-engaging-customers-latest-technology/" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1500023821/new-logo-300x45_vevixr.png" alt="Washed Out" class="img">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://entrackr.com/2017/07/be-u-salons-chain-engaging-customers-latest-technology/" target="_blank">

                                            <p class="media-box-2">This online and offline salon chain is engaging customers through latest technology</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 12 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div> <a href=" http://www.theweek.in/features/lifestyle/easy-hairdos-for-instant-wedding-plans.html" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1500981261/256x256bb_nyzitm.jpg" alt="Washed Out" style="width:170px;height: 90px;">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href=" http://www.theweek.in/features/lifestyle/easy-hairdos-for-instant-wedding-plans.html" target="_blank">

                                            <p class="media-box-2">Easy hairdos for instant wedding plans</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 12 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div style="width: 90px;height:130px;"> <a href="http://zeenews.india.com/fashion/easy-hairdos-for-instant-wedding-plans-2013858.html" target="_blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1500982048/zee-news-2017_hpfwpm.png" alt="Washed Out" class="img" >

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://zeenews.india.com/fashion/easy-hairdos-for-instant-wedding-plans-2013858.html" target="_blank">

                                            <p class="media-box-2">Easy hairdos for instant wedding plans</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 12 box-1-->
                                  <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 170px;height: 125px;"> <a href="https://yourstory.com/read/f23ca581b9-how-is-gst-actually-helpful-for-the-indian-beauty-industry-" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1496315230/175x175bb_xszpnb.jpg" alt="Washed Out" style="width: 100%;height: 64%;">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="https://yourstory.com/read/f23ca581b9-how-is-gst-actually-helpful-for-the-indian-beauty-industry-" target="-blank">

                                            <p class="media-box-2">How is GST actually helpful for the Indian beauty industry?</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                                 <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 195px;height: 143px;"> <a href="http://www.financialexpress.com/industry/technology/five-tech-upgrades-to-ease-your-business-activities/786758/" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1501501792/Financial-Express-128x128_bqlrum.png" alt="Washed Out" style="width: 100%;height:100%;">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.financialexpress.com/industry/technology/five-tech-upgrades-to-ease-your-business-activities/786758/" target="-blank">

                                            <p class="media-box-2">Five tech upgrades to ease your business activities</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                                 <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 188px;height:137px;"> <a href="http://cio.economictimes.indiatimes.com/news/strategy-and-management/five-tech-upgrades-to-ease-your-business-activities/59833943" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1501501792/256x256bb_ph8ufv.jpg" alt="Washed Out" style="width: 100%;height: 100%;">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://cio.economictimes.indiatimes.com/news/strategy-and-management/five-tech-upgrades-to-ease-your-business-activities/59833943" target="-blank">

                                            <p class="media-box-2">Five tech upgrades to ease your business activities</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                                 <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 188px;height:137px;"> <a href="http://www.news18.com/news/lifestyle/on-friendship-day-gift-your-friend-some-pamper-time-1483817.html" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1502358646/news18-logo-200x200_n_p7obee.png" alt="Washed Out" style="width: 100%;height: 100%;">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.news18.com/news/lifestyle/on-friendship-day-gift-your-friend-some-pamper-time-1483817.html" target="-blank">

                                            <p class="media-box-2">On Friendship Day, Gift Your Friend Some Pamper Time</p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                                 <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 188px;height:137px;"> <a href="http://www.indulgexpress.com/life-style/society/2017/aug/05/chocolate-and-jewellery-are-passe-gift-your-friend-some-pamper-time-2999.html" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/v1502358646/download_uawhuw.png" alt="Washed Out" style="width: 100%;height: 100%;">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://www.indulgexpress.com/life-style/society/2017/aug/05/chocolate-and-jewellery-are-passe-gift-your-friend-some-pamper-time-2999.html" target="-blank">

                                            <p class="media-box-2">
                                                Chocolate and jewellery are passe, gift your friend some pamper time
                                            </p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                                <md-content class="md-padding" layout-xs="column" layout="row">
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="30" layout="column">
                                        <div class="" style="width: 188px;height:137px;"> <a href="http://m.thehindubusinessline.com/companies/delhibased-be-u-salons-expands-to-bengaluru/article10027019.ece" target="-blank">
                                            <img ng-src="http://res.cloudinary.com/dyqcevdpm/image/upload/c_scale,h_60,w_225/v1493288196/bl-newlogo-h55_bzeru1.jpg" alt="Washed Out" style="width: 100%height: 33%;">

                                        </a></div>
                                    </div>
                                    <div flex-xs flex-md flex-lg  flex-gt-xs="70" layout="column" class="news-box">
                                        <a href="http://m.thehindubusinessline.com/companies/delhibased-be-u-salons-expands-to-bengaluru/article10027019.ece" target="-blank">

                                            <p class="media-box-2">
                                               Delhi-based Be U Salons expands to Bengaluru
                                            </p>
                                        </a>
                                    </div>
                                </md-content><!--end of 16 box-1-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>

    </div>
</div>