<div  flex>
    <div  class="companyinfo-page-container" flex>
        <div layout="row" layout-align="center" flex class="companyinfo-page-heading">
            <h2 class="beu-company-heading">Privacy Policy</h2>
        </div>
        <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center" style="padding-bottom: 4%">
            <div flex-xs flex-gt-xs="80" layout="column">
                <md-card>
                   
                    <md-card-content>
                        <p class="beu-about">
                            Be U Salons has adopted this Privacy Statement in order to inform you of its policies with respect to information collected from this website. Your use of this website constitutes your acceptance of this Privacy Statement and your consent to the practices it describes.

                            When you visit the Be U Salon website, certain anonymous information about your visit is automatically logged, which may include information about the type of browser you use, the server name and IP address through which you access the Internet, the date and time you access the site, the pages you access while at the Be U Salon website, and the Internet address of the website, if any, from which you linked directly to the Be U Salon site. This information is not personally identifiable.
                            </p>
                            <b class="beu-company-sub-heading">Personally Identifiable Information</b>
                            <p class="beu-about">
                            Personally Identifiable Information is any information that concerns you individually and would permit someone to contact you, for example, your name, address, telephone/fax number, e-mail address or any information you submitted to beusalon.com that identifies you individually.

                            Beusalon.com will not collect any personally identifiable information about you unless you provide it. Therefore, if you do not want beusalon.com to obtain any personally identifiable information about you, do not submit it.

                            You can visit and browse the Be U Salon website without revealing personally identifiable information about yourself. You may also choose to disclose personally identifiable information about yourself, which may be maintained as described below. Beusalon.com may collect personally identifiable information about you from its website by methods such as the following:

                            E-mail and other voluntary communications - You may also choose to communicate with beusalon.com through e-mail, via our website, by telephone, in writing, or though other means. Be U Salon collects the information in these communications and such information may be personally identifiable.

                            Information Use
                            Beusalon.com may use the personally identifiable information collected through its website primarily for such purposes as:

                            processing, servicing or enforcing transactions and sending related communications,
                            providing services and support to users,
                            improving the website, including tailoring it to users' preferences, providing users with product or service updates, promotional notices and offers, etc
                            information about Be U Salon and its affiliates,
                            responding to your questions, inquiries, comments and instructions,
                            maintaining the security and integrity of its systems.
                        </p>

                        <p class="beu-about">
                            This privacy policy governs your use of the software application Be U Salons ( “ Application” ) for Mobile devices created by our team.
                            The Application obtains information you provide when you download and register the Application and any information you enter in the Application. This includes information that can identify you ( “ personal information” )  telephone number, l and e-mail addresses, social media login.
                        </p>
                    </md-card-content>
                </md-card>

            </div>
        </md-content>
    </div>