<div  class="companyinfo-page-container" flex>
    <div   flex>
        <div layout="row" layout-align="center" flex class="companyinfo-page-heading">
            <h2 class="beu-company-heading">Refund, return and cancellation policy</h2>
        </div>
        <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center" style="padding-bottom: 4%">
            <div flex-xs flex-gt-xs="80" layout="column">
                <md-card>
                    <md-card-content>
                        <p class="beu-about">
                            In the event that you need to reschedule or cancel your appointment we ask for a 24 hour notice. In case of cancellations, there will be no refund, but the appointment can be rescheduled to any of our outlets subject to availability. Should a client not arrive for a scheduled appointment without prior notification, the scheduled appointment is deemed cancelled.
                        </p>
                    </md-card-content>
                </md-card>

            </div>
        </md-content>
    </div>
</div>