<style>

md-autocomplete {
    border-radius: 2px;
    display: block;
    height: 60px;
    position: relative;
    overflow: visible;
    min-width: 190px;
}
    md-autocomplete md-autocomplete-wrap {
    height: 60px;
    background-image: url(../images/location.svg);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: 7px 10px;
    /* padding: 7px 25px; */
    padding: 7px 7px 12px 35px;
    color: #58595b;
    }
    
</style>


<div  class="companyinfo-page-container" flex>
    <div flex>

        <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">
            <div flex-xs flex-gt-xs="80" layout="column">
                <div>
                    
                     
                        <md-content class="md-padding" layout-xs="column" layout="row" style="padding-top: 15%;padding-bottom:30%;">
                            <div flex-xs flex-gt-xs="100" layout="column">
                               
                              <md-content layout-padding layout="column">
                                    <form ng-submit="$event.preventDefault()">

                                      <md-autocomplete
                                          ng-disabled="isDisabled"
                                          md-no-cache="noCache"
                                          md-selected-item="searchParam.selectedItem"
                                          md-search-text-change="searchTextChange(searchText)"
                                          md-search-text="searchText"
                                          md-selected-item-change="selectedItemChange(item)"
                                          md-items="item in querySearch(searchText)"
                                          md-item-text="item.text"
                                          md-min-length="0"
                                          placeholder="Pick an Angular repository"
                                          md-menu-class="autocomplete-custom-template">
                                 <md-item-template flex>
                                    <span class="item-title" style="padding-top:0.3em;color: #33373D;font-size:15px;">
                                            <span> {{item.text}} </span>
                                    </span>
                            <span class="item-metadata" style="margin-top: -11px;">
                            <span class="item-metastat">
                                    <strong style="color: #89959B;font-size:11px;">{{item.type}}</strong>
                                </span>
                            </span>
          </md-item-template>
            </md-autocomplete>
                                        <center style="padding-top: 2%;">
                                          <button class="md-raised beu-small beu-small-button md-button md-ink-ripple flex-xs-100 flex-xl-20 flex-sm-20 flex-md-20 flex-lg-20"   id="seabackcolor" ng-click="goSearchlist(searchParam.selectedItem)" flex-xs="100" flex-sm="20" flex-md="20" flex-lg="20" flex-xl="20"><span class="ng-scope">
                                              Search
                                          </span>
                                          <div class="md-ripple-container" style=""></div>
                                        </button>
                                        </center>
                                    </form>
                              </md-content>
                         

                            </div>
                          
                        </md-content>
       
               


                
            </div>
            </div>

        </md-content>



    </div>
</div>
