<style>
    th{
        text-align: center;
    }
    .col-centered{
        float: none;
        margin: 0 auto;
    }
</style>

<div class="row">
    <div class="row">
        <div class="col-lg-12">
           <center><h3 >My Profile</h3></center> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-centered">
            <div class="card center-block">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <span>User Name:</span>
                        </div>
                        <div class="col-lg-8">
                            {{userName}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <span>User Id:</span>
                        </div>
                        <div class="col-lg-8">
                            {{userId}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

