<div class="container">
    <div class="row">
        <div class="col-md-12"><h3>Capture Payment</h3></div>
    </div>
<div class="row">
        <div class="col-md-4">
            <label>Enter Razor Payment Id</label>
        
            <input type="text" name="name" class="form-control" ng-model="id">
            </div>
     <div class="col-md-4">
            <label>Enter Amount</label>
        
            <input type="text" name="name" class="form-control" ng-model="amount">
    </div>
     <div class="col-md-4" style="padding-top:4%;">
        <button class="btn btn-info" ng-click="capturedPayment()">Submit</button>
    
    </div>
   
</div>
   
</div>