<style>
    .widthInput80per{
        width:80%;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Customers</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-md-offset-7 col-md-3">
 <!-- <button ng-json-export-excel class="btn btn-primary"   class=" btn-md" data="dataList" report-fields="mydata"  ng-click="exportToExcel('#myTable')" >Export to excel </button>  -->
      
      
<!--
        <div class="col-md-2">
                <button class="btn btn-primary"  ng-click="exportToExcel('#myTable')">Export to Excel</button>
        </div>
-->
  </div>

</div>

<div class="container-fluid">
<!--  <div class="form-inline row" style="text-align:right">
    <div class="form-group">
     <form id="uploadForm2" enctype="multipart/form-data" method="post" action="/role3/uploadCustomer" >
          <input type="file" name="file" />Upload Customers
          <input type="submit" value="Upload" name="submit">
     </form>
     </div>
     </div> -->
    <div class="card">
      <div class="container-fluid">
        <div class="table-responsive">
          <table ng-table="tableParams" class="table" show-filter="true" id="myTable">
              <tr ng-repeat="c in $data | filter : query " ng-click="openCustomerDetail(c.userId, c.name)">
                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{c.name}}</td>
                <td title="'Phone Number'" filter="{ phoneNumber: 'number'}" sortable="'phoneNumber'">
                        {{c.phoneNumber}}</td>
					      <td title="'Completed Appointments'" filter="{ sp: 'number'}"  sortable="'sp'">
                        {{c.noOfAppointments}}</td>
					      <td title="'Advance Credits'">
                              {{c.advanceCredits ? c.advanceCredits : 0 |  number:0}} </td>
                        <td title="'Loyality Points'">
                        {{c.loyalityPoints ? c.loyalityPoints : 0}} </td>
                        <td title="'Last Appointment Date'">
                        {{c.lastAppointmentDate | date:'longDate'}} </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="row" style="text-align:center">
      <button class="btn btn-lg" data-toggle="modal" data-target="#addCustomer">
          Add New Customer
      </button>
    </div>

</div>



<div class="modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title" id="myModalLabel">Add New Customer</h4>
                              </div>
                              <form role="form" ng-submit="addCustomer()" name="customerDetails">
                              <div class="modal-body">
                                  <div class="row">
                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <label>First Name</label>
                                                  <input ng-model="user.firstName" class="form-control" name="firstname" ng-minlength="3" required>
                                                  <span ng-show="customerDetails.firstname.$dirty && customerDetails.firstname.$error.required">Firstname is required.</span>
                                                  <span ng-show="customerDetails.firstname.$dirty && customerDetails.firstname.$error.minlength">Firstname is too short.</span>
                                              </div>
                                          </div>
                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <label>Last Name</label>
                                                  <input ng-model="user.lastName" class="form-control" name="lastname" ng-minlength="3" required>
                                                  <span ng-show="customerDetails.lastname.$dirty && customerDetails.lastname.$error.required">Lastname is required.</span>
                                                  <span ng-show="customerDetails.lastname.$dirty && customerDetails.lastname.$error.minlength">Lastname is too short.</span>
                                              </div>
                                          </div>
                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <label>Email Id</label>
                                                  <input ng-model="user.emailId" class="form-control" name="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                                                  <span ng-show="customerDetails.email.$dirty && customerDetails.email.$error.required">Email is required.</span>
                                                  <span ng-show="customerDetails.email.$dirty && customerDetails.email.$error.pattern">Invalid Email.</span>
                                              </div>
                                          </div>

                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <label>Phone Number</label>
                                                  <input ng-model="user.phoneNumber" class="form-control" name="phoneNumber" ng-pattern="/^[789]\d{9}$/" required>
                                                  <span ng-show="customerDetails.phoneNumber.$dirty && customerDetails.phoneNumber.$error.pattern">Invalid Phone Number.</span>
                                                  <span ng-show="customerDetails.phoneNumber.$dirty && customerDetails.phoneNumber.$error.required">Phone Number is required.</span>
                                              </div>
                                          </div>


                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <label>Gender</label>
                                                  <select class="form-control" ng-model="user.gender" name="gender" required>
                                                      <option value="M">Male</option>
                                                      <option value="F">Female</option>
                                                  </select>
                                                  <span ng-show="customerDetails.gender.$dirty && customerDetails.gender.$error.required">Gender is required.</span>
                                              </div>
                                          </div>

                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <label>Street Line 1</label>
                                                  <input ng-model="user.streetLine1" class="form-control" name="address1" required>
                                                  <span ng-show="customerDetails.address1.$dirty && customerDetails.address1.$error.required">This field is required.</span>
                                              </div>
                                          </div>

                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <label>Street Line 2</label>
                                                  <input ng-model="user.streetLine2" class="form-control" name="address2" required>
                                                  <span ng-show="customerDetails.address2.$dirty && customerDetails.address2.$error.required">This field is required.</span>
                                              </div>
                                          </div>

                                          <div class="col-lg-6">
                                              <div class="form-group">
                                                  <label>City</label>
                                                  <input ng-model="user.city" class="form-control" name="city" required>
                                                  <span ng-show="customerDetails.city.$dirty && customerDetails.city.$error.required">City is required.</span>
                                              </div>
                                          </div>
                                      <!-- /.col-lg-6 (nested) -->
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Add</button>
                              </div>
                          </form>
                          </div>
                          <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                  </div>

    <input type="file" data-file-reader-directive="fileContent" accept=".csv" />
    <input type='button' value="Upload" ng-click="uploadFile()">
    <div>{{ fileData }}</div>
