<style>

tr input, select {
    margin: 0;
    outline: none !important;
    box-shadow: none!important;
    width: 100%;
}
</style>

<div class="row" >
    <div class="col-lg-12">
        <h1 class="page-header">Package Menu</h1><br/>
    </div>
</div>

<div class="row">
    <h3>3 Services Package</h3>
    <div class="col-md-2">
       <select  ng-if="!rewindObject1.update1.check"  class="form-control" ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update1"  ng-change="categorySelected(1);rewindObject1.update1.check=true"></select> <button   class="form-control" ng-click="rewindObject1.update1.check=false;disableSelectedBefore(1)" ng-if="rewindObject1.update1.check">Edit</button>
        <br>
        <br>
     
              <h2>{{rewindObject1.update1.name}}</h2>
        <p><strike>{{rewindObject1.update1.menuPrice}}</strike><br>{{rewindObject1.update1.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update1.description}}</div>
      
      
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update2.check"  class="form-control"   ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update2"  ng-change="categorySelected(2);rewindObject1.update2.check=true"></select>
         <button  class="form-control" ng-click="rewindObject1.update2.check=false;disableSelectedBefore(2)" ng-if="rewindObject1.update2.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update2.name}}</h2>
        <p><strike>{{rewindObject1.update2.menuPrice}}</strike><br>{{rewindObject1.update2.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update2.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update3.check"   class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update3"  ng-change="categorySelected(3);rewindObject1.update3.check=true;"></select>
         <button class="form-control" ng-click="rewindObject1.update3.check=false;disableSelectedBefore(3);" ng-if="rewindObject1.update3.check" >Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update3.name}}</h2>
        <p><strike>{{rewindObject1.update3.menuPrice}}</strike><br>{{rewindObject1.update3.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update3.description}}</div>
        
        
    
    </div>
       <div class="col-md-2">
       <select ng-if="!rewindObject1.update4.check" class="form-control"    ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update4"  ng-change="categorySelected(4);rewindObject1.update4.check=true"></select>
           <button class="form-control" ng-click="rewindObject1.update4.check=false;disableSelectedBefore(4);" ng-if="rewindObject1.update4.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update4.name}}</h2>
        <p><strike>{{rewindObject1.update4.menuPrice}}</strike><br>{{rewindObject1.update4.dealPrice |number:0}}</p>
        <div>{{rewindObject1.update4.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update5.check"  class="form-control"    ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update5" ng-change="categorySelected(5);rewindObject1.update5.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update5.check=false;disableSelectedBefore(5)" ng-if="rewindObject1.update5.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update5.name}}</h2>
        <p><strike>{{rewindObject1.update5.menuPrice}}</strike><br>{{rewindObject1.update5.dealPrice |number:0 }}</p>
        <div>{{rewindObject1.update5.description}}</div>
    
    </div>
    
</div>

<div class="row">
    <h3>5 Services Package</h3>
    <div class="col-md-2">
       <select ng-if="!rewindObject1.update6.check"   class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update6"  ng-change="categorySelected(6);rewindObject1.update6.check=true"></select>
        <button class="form-control" ng-click="rewindObject1.update6.check=false;disableSelectedBefore(6)" ng-if="rewindObject1.update6.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update6.name}}</h2>
        <p><strike>{{rewindObject1.update6.menuPrice}}</strike><br>{{rewindObject1.update6.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update6.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update7.check"  class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update7"  ng-change="categorySelected(7);rewindObject1.update7.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update7.check=false;disableSelectedBefore(7)" ng-if="rewindObject1.update7.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update7.name}}</h2>
        <p><strike>{{rewindObject1.update7.menuPrice}}</strike><br>{{rewindObject1.update7.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update7.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update8.check"  class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update8"  ng-change="categorySelected(8);rewindObject1.update8.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update8.check=false;disableSelectedBefore(8)" ng-if="rewindObject1.update8.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update8.name}}</h2>
        <p><strike>{{rewindObject1.update8.menuPrice}}</strike><br>{{rewindObject1.update8.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update8.description}}</div>
    
    </div>
       <div class="col-md-2">
       <select ng-if="!rewindObject1.update9.check"  class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update9"  ng-change="categorySelected(9);rewindObject1.update9.check=true"></select>
           <button class="form-control" ng-click="rewindObject1.update9.check=false;disableSelectedBefore(9)" ng-if="rewindObject1.update9.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update9.name}}</h2>
        <p><strike>{{rewindObject1.update9.menuPrice}}</strike><br>{{rewindObject1.update9.dealPrice |number:0}}</p>
        <div>{{rewindObject1.update9.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update10.check"  class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update10" ng-change="categorySelected(10);rewindObject1.update10.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update10.check=false;disableSelectedBefore(10)" ng-if="rewindObject1.update10.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update10.name}}</h2>
        <p><strike>{{rewindObject1.update10.menuPrice}}</strike><br>{{rewindObject1.update10.dealPrice |number:0}}</p>
        <div>{{rewindObject1.update10.description}}</div>
    
    </div>
    
</div>

<div class="row">
    <h3>7 Services Package</h3>
    <div class="col-md-2">
       <select ng-if="!rewindObject1.update11.check"  class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update11"  ng-change="categorySelected(11);rewindObject1.update11.check=true"></select>
        <button class="form-control" ng-click="rewindObject1.update11.check=false;disableSelectedBefore(11)" ng-if="rewindObject1.update11.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update11.name}}</h2>
        <p><strike>{{rewindObject1.update11.menuPrice}}</strike><br>{{rewindObject1.update11.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update11.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update12.check"   class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update12"  ng-change="categorySelected(12);rewindObject1.update12.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update12.check=false;disableSelectedBefore(12)" ng-if="rewindObject1.update12.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update12.name}}</h2>
        <p><strike>{{rewindObject1.update12.menuPrice}}</strike><br>{{rewindObject1.update12.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update12.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update13.check"  class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update13" ng-change="categorySelected(13);rewindObject1.update13.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update13.check=false;disableSelectedBefore(13)" ng-if="rewindObject1.update13.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update13.name}}</h2>
        <p><strike>{{rewindObject1.update13.menuPrice}}</strike><br>{{rewindObject1.update13.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update13.description}}</div>
    
    </div>
       <div class="col-md-2">
       <select  ng-if="!rewindObject1.update14.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update14"  ng-change="categorySelected(14);rewindObject1.update14.check=true"></select>
           <button class="form-control" ng-click="rewindObject1.update14.check=false;disableSelectedBefore(14)" ng-if="rewindObject1.update14.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update14.name}}</h2>
        <p><strike>{{rewindObject1.update14.menuPrice}}</strike><br>{{rewindObject1.update14.dealPrice |number:0}}</p>
        <div>{{rewindObject1.update14.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update15.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update15" ng-change="categorySelected(15);rewindObject1.update15.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update15.check=false;disableSelectedBefore(15)" ng-if="rewindObject1.update15.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update15.name}}</h2>
        <p><strike>{{rewindObject1.update15.menuPrice}}</strike><br>{{rewindObject1.update15.dealPrice |number:0}}</p>
        <div>{{rewindObject1.update15.description}}</div>
    
    </div>
    
</div>

<!-- <div class="row">
    <h3> 10 Services Package</h3>
    <div class="col-md-2">
       <select ng-if="!rewindObject1.update16.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update16"  ng-change="categorySelected(16);rewindObject1.update16.check=true"></select>
        <button class="form-control" ng-click="rewindObject1.update16.check=false;disableSelectedBefore(16)" ng-if="rewindObject1.update16.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update16.name}}</h2>
        <p><strike>{{rewindObject1.update16.menuPrice}}</strike><br>{{rewindObject1.update16.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update16.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update17.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update17" ng-change="categorySelected(17);rewindObject1.update17.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update17.check=false;disableSelectedBefore(17)" ng-if="rewindObject1.update17.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update17.name}}</h2>
        <p><strike>{{rewindObject1.update17.menuPrice}}</strike><br>{{rewindObject1.update17.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update17.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update18.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update18"  ng-change="categorySelected(18);rewindObject1.update18.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update18.check=false;disableSelectedBefore(18)" ng-if="rewindObject1.update18.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update18.name}}</h2>
        <p><strike>{{rewindObject1.update18.menuPrice}}</strike><br>{{rewindObject1.update18.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update18.description}}</div>
    
    </div>
       <div class="col-md-2">
       <select ng-if="!rewindObject1.update19.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update19"  ng-change="categorySelected(19);rewindObject1.update19.check=true"></select>
           <button class="form-control" ng-click="rewindObject1.update19.check=false;disableSelectedBefore(19)" ng-if="rewindObject1.update19.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update19.name}}</h2>
        <p><strike>{{rewindObject1.update19.menuPrice}}</strike><br>{{rewindObject1.update19.dealPrice |number:0}}</p>
        <div>{{rewindObject1.update19.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update20.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update20"  ng-change="categorySelected(20);rewindObject1.update20.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update20.check=false;disableSelectedBefore(20)" ng-if="rewindObject1.update20.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update20.name}}</h2>
        <p><strike>{{rewindObject1.update20.menuPrice}}</strike><br>{{rewindObject1.update20.dealPrice |number:0}}</p>
        <div>{{rewindObject1.update20.description}}</div>
    
    </div>
    
</div>

<div class="row">
    <h3>15 Services Package</h3>
    <div class="col-md-2">
       <select ng-if="!rewindObject1.update21.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update21" ng-change="categorySelected(21);rewindObject1.update21.check=true"></select>
        <button class="form-control" ng-click="rewindObject1.update21.check=false;disableSelectedBefore(21)" ng-if="rewindObject1.update21.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update21.name}}</h2>
        <p><strike>{{rewindObject1.update21.menuPrice}}</strike><br>{{rewindObject1.update21.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update21.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update22.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update22" ng-change="categorySelected(22);rewindObject1.update22.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update22.check=false;disableSelectedBefore(22)" ng-if="rewindObject1.update22.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update22.name}}</h2>
        <p><strike>{{rewindObject1.update22.menuPrice}}</strike><br>{{rewindObject1.update22.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update22.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update23.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update23" ng-change="categorySelected(23);rewindObject1.update23.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update23.check=false;disableSelectedBefore(23)" ng-if="rewindObject1.update23.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update23.name}}</h2>
        <p><strike>{{rewindObject1.update23.menuPrice}}</strike><br>{{rewindObject1.update23.dealPrice |number:0}}</p>
        <div >{{rewindObject1.update23.description}}</div>
    
    </div>
       <div class="col-md-2">
       <select ng-if="!rewindObject1.update24.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update24"  ng-change="categorySelected(24);rewindObject1.update24.check=true"></select>
           <button class="form-control" ng-click="rewindObject1.update24.check=false;disableSelectedBefore(24)" ng-if="rewindObject1.update24.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update24.name}}</h2>
        <p><strike>{{rewindObject1.update24.menuPrice}}</strike><br>{{rewindObject1.update24.dealPrice |number:0}}</p>
        <div>{{rewindObject1.update24.description}}</div>
    
    </div>
     <div class="col-md-2">
       <select ng-if="!rewindObject1.update25.check" class="form-control"  ng-options="cat.dealId as cat.name disable when cat.isSelected for cat in categories" ng-model="data.update25" ng-change="categorySelected(25);rewindObject1.update25.check=true"></select>
         <button class="form-control" ng-click="rewindObject1.update25.check=false;disableSelectedBefore(25)" ng-if="rewindObject1.update25.check">Edit</button>
        <br>
        <br>
        <h2>{{rewindObject1.update25.name}}</h2>
        <p><strike>{{rewindObject1.update25.menuPrice}}</strike><br>{{rewindObject1.update25.dealPrice |number:0}}</p>
        <div>{{rewindObject1.update25.description}}</div>
    
    </div>
    
</div>
 -->







 <div class="row">
    <div class="pull-left col-lg-2 "><button class="form-control" ng-click="update()">Advance</button></div>
    <div class="col-lg-offset-2 col-lg-2"><button class="form-control" ng-click="generateJpeg()">Generate</button></div>
</div>




<div class="modal fade" id="taxModal" data-keyboard="false" data-backdrop="static" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
             
                <h4 class="modal-title" id="myModalLabel">Advanced Settings</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">Show Price with tax</div>
                    <div class="col-lg-6"><input type="checkbox" ng-model="taxFlag"  ></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-md btn-success col-md-4"  ng-click="addTax()" data-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>
