<style media="screen">
  table{
    overflow: none;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2 id="tables">Add Coupon To User</h2>
    </div>
  </div>
 
</div>


     
  <div class="col-md-12" style="max-height:auto;width: 100%;">
    <table class="table">
      <thead>
        <tr>
          <th>Coupon Code</th>
          <th>Title</th>
          <th>Discription</th>
          <th>Limit</th>
          <th>Offpercentage</th>
          <th>Phone Number</th>
          <th>Select Salon</th>
          <th>Add To User</th>
         
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in stats ">
          <td>{{x.code}}</td>
          <td>{{x.couponTitle}}</td>
          <td>{{x.couponDescription}}</td>
          <td>{{x.limit}}</td>
          <td>{{x.offPercentage}}</td>
          <td>
            <input type='text' class="form-control" ng-model="phoneNumber">
          </td>
          <td>
            <select ng-if="x.limit>200" name="mySelect" id="mySelect"
            ng-options="salon.name for salon in redSalons  | orderBy:'name'"
            ng-model="x.selectedOption"></select>
            <select name="mySelect" ng-if="x.limit<=200" id="mySelect"
            ng-options="salon.name for salon in parlors  | orderBy:'name'"
            ng-model="x.selectedOption"></select>
          </td>
          <td>
            <button type="button" class="btn btn-primary" ng-click="submitData(phoneNumber,x.couponType,x.code,x.selectedOption.parlorId)"> Add </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
