
<md-dialog layout="column" ng-cloak="" style="" class="appointmentBookedSuccessful-page-container">
    <md-content  flex="100">
        <div layout="row" flex="100" class="appointmentBookedSuccessful-page-content">
            <div flex="100"  class="appointmentBookedSuccessful-page-booked">Congratulations! You have successfully booked your appointment.</div>
        </div>
        <div layout="row" flex="100" class="appointmentBookedSuccessful-page-ok" layout-align="center">
            <div layout="row" flex="50" class="appointmentBookedSuccessful-page-Okay" layout-align="center">
                <md-button ng-click="close()" id="appointmentBookedSuccessful-page-btn">Ok</md-button>
            </div>
        </div>

    </md-content>
</md-dialog>

