<style>
  md-dialog md-dialog-content:not([layout=row])>:first-child:not(.md-subheader) {
      margin-top: 0;
      padding: 0;
  }
  md-dialog md-dialog-content {
  	overflow: hidden !important;
  }
  .md-padding {
      padding: 0;
  }

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
</style>

<md-dialog aria-label="Mango (Fruit)" style="width:60%;">

  <!-- <form ng-cloak> -->
    <md-dialog-content class="main_page_dialog">
      <div class="md-dialog-content">
        <md-content class="md-padding" layout-xs="column">
        <div layout="column" flex="100" layout-xs = "column" flex-xs flex-gt-xs="100">
          <img style="margin: auto; width: 100%;height:auto;" alt="" src="../website/images/why_download_creative.png">
        </div>
        <div layout="column" flex="100" layout-xs = "column" flex-xs flex-gt-xs="100" layout-align="center center">
          <p class="ng-cloak why_download font_why_download">
            <span class="ng-cloak">Easy </span>To Use
          </p>
          <p class=" ng-cloak why_download font_why_download">
            Enjoy <span class="ng-cloak">1000 FREEBIE POINTS</span>
          </p>
          <p class="ng-cloak why_download font_why_download">
            <span class="ng-cloak">FREE HAIRCUT </span>On A Minimum Bill Value Of Rs.100
          </p>
          <p class="ng-cloak why_download font_why_download">
            <span class="ng-cloak">CUSTOMIZED, </span>Enhanced And <span class="ng-cloak">HASSLE-FREE </span>Salon Experience
          </p>
        </div>
      </div>
      <div layout="row" layout-xs = "column" flex-xs flex-gt-xs="100" layout-align="center center">
        <p class="facebook_like" style="margin-bottom:0;" >Like us on <a href="https://www.facebook.com/BeUsalons/" target="_blank"><img src="../website/images/facebook.png" alt=""></a> /BeUSalons</p>
      </div>
      <div layout="row" layout-xs = "column" flex-xs flex-gt-xs="100" layout-align="center center">

        <p class="p_app_button"><a href="https://play.google.com/store/apps/details?id=com.beusalons.android&hl=en" target="_blank"><img id="app_store" src="../website/images/android_app_store.png" alt=""></a><a href="https://itunes.apple.com/app/id1206326408?mt=8" target="_blank"><img id="app_store" src="../website/images/apple_app_store.png" alt=""></a></p>
      </div>
      <!-- <md-content class="md-padding" layout-xs="column" layout="row"> -->
    </md-dialog-content>
  <!-- </form> -->
</md-dialog>
<link rel="stylesheet" href="style.css">
