
<update-title title="Be U Salons-Great deals,offers,subscriptions at affordable prices|Premium salon chain in Delhi|NcR & Bengalore."></update-title>
<update-meta name="description" content="be u salons, a premium subscription based salon chain serves wide variety of services on multiple salons all over Delhi|NCR and Bengaluru. Hair Rebonding, Hair Straightening, Hair Keratin, Facial, Manicure&Pedicure, Hair Spa, Waxing, Haircut, Global Color are the major services provided by Be U Salons at very cheap price to its customers.With 80+ outlets in Delhi|NCR & Bengalore, Be U Salons is the fastest growing salon chain in India."></update-meta>
<update-meta name="keywords" content=" Be U salons subscription, be u subscription, hair keratin, best salon & parlor near me, facial near me, haircut for ladies near me, coupon code for beu subscription, referral code for be u subscription, beu salons manicure and pedicure prices, facial prices, best salon deals, men's waxing salon near me, parlor for ladies, beauty parlor near me, be u , be u salon near me, be u flash sale, salons cheap deals, keratin in 2000, manicure and pedicure in 300, full body wax in 800 be u salon, hair loreal smoothening in 2000 be u salons, loreal hair highlights in 1700 be u salons, hair global color in 1500 be u salons, 03 facial in 600 beu salons"></update-meta>
<update-meta property="og:title" content=" Best and low price deals for Men & Women by be u salons on Hair & Beauty services at your nearest BeU salon outlet. Huge discounts on salon deals, facial, keratin, manicure & pedicure, smoothening, straightening, highlights in Delhi NCR and Bengalore."></update-meta>



<style>
  ::-webkit-input-placeholder { /* WebKit browsers */
       opacity: 0.5 !important;
}
    .md-toolbar-tools {
        letter-spacing: 0em;
    }

    .bufferColor.md-accent path {
        stroke: #d2232a;
    }

    .your-pre-defined-container>md-input-container>input::-webkit-input-placeholder {
        color: #FFF;
    }

    .your-pre-defined-class>md-input-container>input:-moz-placeholder {
        /* FF 4-18 */
        color: #FFF;
    }

    .your-pre-defined-class>md-input-container>input::-moz-placeholder {
        /* FF 19+ */
        color: #FFF;
    }

    .arrowBackgroundColor.jk-carousel .md-icon-button md-icon {
        background-color: transparent;
    }

    .sectionHeading {
        font-size: 1.3em;
        margin-bottom: 0;
        margin-top: 0;
        opacity: 0.9;
    }

    body {
        font-size: 16px;
        line-height: 20px;
        font-family: 'Roboto', sans-serif;
        background-color: #fafafa;
    }

    .container {
        max-width: 560px;
    }

    .header {
        padding: 50px 0 10px;
        color: #3498db;
        background: #fff;
        text-align: center;
    }

    .header h1 {
        margin-bottom: 40px;
    }

    h1 {
        font-weight: 400;
        font-family: 'Pacifico', cursive;
        font-size: 70px;
    }

    h2.title {
        font-weight: bold;
        font-size: 40px;
        font-family: 'Pacifico', cursive;
        margin-bottom: 40px;
    }

    .footer {
        font-size: 14px;
        padding: 30px 0;
        color: #99979c;
        background-color: #2a2730;
    }

    .footer p {
        margin-bottom: 0;
    }

    .footer-links {
        padding: 0;
        list-style: none;
    }

    .footer-links li {
        display: inline;
        margin-right: 15px;
    }

    .footer a {
        color: #fff;
    }

    .main {
        background-color: #3498db;
        color: #fff;
        padding: 30px 0 50px;
        position: relative;
        min-height: 500px;
        text-align: center;
    }

    .divider {
        display: block;
        float: none;
        max-width: 500px;
        height: 1px;
        margin: 40px auto;
        clear: both;
        float: none;
        background-color: #fff;
    }

    ul.features {
        padding: 0;
        list-style: none;
    }

    ul.features li {
        padding: 7px 0;
    }

    .ui-carousel {
        margin-bottom: 0px;
    }

    .ui-carousel .image {
        padding: 10px;
    }

    .ui-carousel .image img {
        display: block;
        border: 5px solid #fff;
        width: 100%;
    }

    pre[class*="language-"] {
        background-color: #fdfdfd;
        margin-bottom: 1em;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 0;
    }

    code[class*="language"] {
        background: black;
        max-height: inherit;
        padding: 15px;
        display: block;
        overflow: auto;
        text-shadow: none;
    }

    .buttons {
        padding: 0 20px 20px;
        margin-bottom: 10px;
    }

    .button {
        float: left;
        background: #fff;
        color: #3498db;
        display: block;
        font-size: 16px;
        margin: 20px auto;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        width: 48%;
        margin-right: 2%;
        cursor: pointer;
    }

    .button:hover {
        text-decoration: none;
    }

    md-card md-card-title {
        padding: 12px 16px 0px;
    }

    .ui-carousel .carousel-next .carousel-btn {
        right: -25px;
    }

    .ui-icon-prev:before,
    .ui-icon-next:before {
        color: gray;
    }

    .jk-carousel .radio-buttons-container md-radio-button .md-off {
        border-color: #A8A9AD;
    }
    .fade-in-out {
      transition: 0.5s linear all;
      opacity: 1;
    }

    .fade-in-out.ng-hide {
      opacity: 0;
    }
    .ng-cloak { display: none !important; }
    .sliderCircleOff.jk-carousel .radio-buttons-container md-radio-button {
      display:none;
    }
</style>

<!-- banner -->
<!--     <div ng-cloak ng-init="showCustom($event)" ></div> -->
<div layout="row" layout-wrap layout-align="center center">
      <div show-xs show-sm hide-md hide-lg hide-xl layout="row" flex class="ng-cloak home-page-jk-carrosal-container">
          <jk-carousel class="ng-cloak sliderCircleOff sliderCircleOn arrowBackgroundColor rightArrowPosition leftArrowPosition ng-cloak" ng-click="funCheck(index,id)" data="dataArray" item-template-url="'/website/views/item-template.html'" max-width="4000px" max-height="1450px" auto-slide="true" auto-slide-time="6000">
          </jk-carousel>
      </div>
  <div hide-xs hide-sm show-md show-lg show-xl flex style="margin-top: -8px;">
      <div layout="row" flex class="ng-cloak home-page-jk-carrosal-container">
          <jk-carousel class="ng-cloak sliderCircleOff sliderCircleOn arrowBackgroundColor rightArrowPosition leftArrowPosition" ng-click="funCheck(dataArray.currentIndex)" data="dataArray" item-template-url="'/website/views/item-template.html'" max-width="4000px" max-height="1300px" auto-slide="true" auto-slide-time="6000">
          </jk-carousel>
      </div>
  </div>
</div>

<div class="fade-in-out" layout-wrap layout-align="center center" ng-show="showChatBox" layout="row" style="position:fixed;right:1em;bottom:4em;z-index:15;">
      <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center"  style="padding:0;">
      <!-- <div flex-xs flex-gt-xs="100" layout="column"> -->
              <div layout="row">
                  <!-- <div flex="100"> -->
                  <md-card style="margin:0;background: #ecf0f1;">
                      <md-card-content>
                        <md-input-container class="md-icon-float" style="margin:0;width:20em;">
                          <p style="margin: 0;font-size:12px;margin-bottom: 1em;">Kindly leave your information here, our representative will call you shortly.</p>
                        </md-input-container>

                              <md-input-container class="md-icon-float md-block" style="margin:0">
                                  <!-- Use floating label instead of placeholder -->
                                  <label>Name</label>
                                  <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name" style="color:gray;"></md-icon>
                                  <input ng-model="queryName"  type="text">

                              </md-input-container>

                              <md-input-container md-no-float class="md-block" style="margin:0">
                                  <md-icon md-svg-src="img/icons/ic_phone_24px.svg"  style="color:gray;"></md-icon>
                                  <input ng-model="queryPhoneNumber" type="number" placeholder="Phone Number">
                              </md-input-container>

                              <md-input-container class="md-block"  style="margin:0">
                                  <!-- Use floating placeholder instead of label -->
                                  <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email" style="color:gray;"></md-icon>
                                  <input ng-model="queryEmail" type="email" placeholder="Email (Optional)">
                              </md-input-container>
                              <md-input-container class="md-block">
                                <textarea ng-model="queryComment" md-maxlength="150" rows="2" md-select-on-focus placeholder="Leave Comment..."></textarea>
                              </md-input-container>
                              <!-- <md-input-container  class="md-block" style="margin:0;width:20em;">
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="cb" class="md-primary"></md-checkbox>
                                <span style="font-size:12px">I authorize Be U Salons to contact me via email or phone or SMS.</span>
                              </md-input-container> -->
                              <md-input-container class="md-block" style="margin:0;text-align:center;width:20em;font-weight:bold;">
                                <span style="font-size:15px;">{{message}}</span>
                              </md-input-container>
                              <div layout="column" flex="100" class="addReviewDialog-page-margin" layout-align="center center">
                                  <md-button id="contactSubmit"  ng-click="websiteQuerySubmit()">Send</md-button>
                              </div>
                      </md-card-content>
                  </md-card>
                  <!-- </div> -->
              </div>
      <!-- </div> -->
  </md-content>
</div>


<!-- Call Back Form -->

<!-- search -->
<div layout="row" layout-wrap layout-align="center center"  class="specTwo">
  <div layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
      <p flex='50' class="home-page-heading" style="margin-bottom:0;text-align:center;">Search Us Near You</p>
   <!--    <a href="intent://scan/#Intent;scheme=beutest;package=com.myapp.deeplinkingapp;S.browser_fallback_url=http%3A%2F%2google.com;end"> Take a QR code </a> -->
      <!-- <hr style="border: 1px solid #ccc; background: #7f8c8d;"> -->
  </div>

  <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
      <div style="width:25%;border-top:1px solid #FF4B4B;"></div>
  </div>
  <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
      <div style="width:10%;border-top:1px solid #FF4B4B;"></div>
  </div>
</div>

<div layout="row" layout-wrap layout-align="center center">
  <div class="search-container" layout-align="center" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex-xs="75" flex-sm="75" flex-md="75" flex-lg="75" flex-xl="75">
      <!---------------------search box for place start------------------------>
      <div flex-xs="100" flex-sm="30" flex-md="30" flex-lg="20" flex-xl="20">
          <md-button id="seabackcolor-567" style="box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);" class="home-delhi-ncr-search">
              <img src="../website/images/search.svg" class="search-location-image">
              <span class="delhiNCR">Delhi/NCR/Bangalore</span>
          </md-button>
      </div>
      <!---------------------search box for Salon or Location start------------------------>
      <md-autocomplete flex-xl="50" class="beu-small your-pre-defined-container" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)"
          md-item-text="item.name" md-min-length="1" placeholder="{{myPositionName}}" md-menu-class="autocomplete-custom-template" flex-sm="50" flex-md="70" flex-lg="70" flex-xl="70" style="background-color: white;height:52px;" ng-model="checkText"
          my-enter="enterHomeSearchBox(searchText)">
          <md-item-template flex>
              <span class="item-title" style="padding-top:0.3em;color: #33373D;font-size:15px;">
                  <!--<i class="material-icons" id="loc_icon">&#xE0C8;</i>-->
                  <span> {{item.name}} </span>
              </span>
              <span class="item-metadata" style="margin-top: -11px;">
                  <span class="item-metastat">
                    <strong style="color: #89959B;font-size:11px;">{{item.type}}</strong>
                  </span>
              </span>
          </md-item-template>
      </md-autocomplete>
      <md-button id="seabackcolor" class="md-raised beu-small beu-small-button" ng-click="searchSalonsDirect()" flex-xs="100" flex-sm="20" flex-md="20" flex-lg="20" flex-xl="20">
          Search
      </md-button>

  </div>

</div>

<!-- search -->

<!-- Deals Near You -->
<div layout-align="center" class="specTwo">
    <div layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <p class="home-page-heading" style="margin-bottom:0;">Deals Near You</p>
        <!-- <hr style="border: 1px solid #ccc; background: #7f8c8d;"> -->
    </div>
    <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <div style="width:30%;border-top:1px solid #FF4B4B;"></div>
    </div>
    <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <div style="width:10%;border-top:1px solid #FF4B4B;"></div>
    </div>
</div>

<div hide-xs hide-sm show-lg show-xl show-md flex layout="row" layout-align="center" style="margin-top: -9px;margin-bottom: -9px;">
  <div layout="row" flex="80" layout-align="center">
    <div flex="30" flex-xs="100">
      <div layout="column">
        <md-card ng-cloak ng-repeat="dealsNearList in dealsNearYouContent" ng-if="$even" style="margin-right: 2px;" ng-click="buyNowClicked(deal.name,deal.cutPrice)">
          <div layout="row">
              <div flex class="hovereffect">
                  <img ng-src="{{dealsNearList.imagePath}}" alt="spa offers beu">
<!--
                  <div class="overlay">
                       <h2>{{listTrends.heading}}</h2>
                      <a class="info" href="/salonDeals" target="_blank">Click Here</a>
                  </div>
-->
                </div>
          </div>
       </md-card>
      </div>
    </div>
  <div  flex="40" flex-xs="100">
    <div layout="row" style="height:100%">
      <md-card ng-cloak ng-repeat="dealsNearList in dealsNearYouContent" ng-if="$index==1" style="margin-right: 2px;width:100%" ng-click="buyNowClicked(deal.name,deal.cutPrice)" >
        <div layout="row" style="height:100%">
            <div class="hovereffect">
                <img ng-src="{{dealsNearList.imagePath}}" alt="spa offers beu">
<!--
                <div class="overlay">
                     <h2>{{listTrends.heading}}</h2>
                    <a class="info" href="/salonDeals" target="_blank">Click Here</a>
                </div>
-->
              </div>
        </div>
     </md-card>
  </div>
</div>
<div  flex="30" flex-xs="100">
  <div layout="row" style="height:100%">
    <md-card ng-cloak ng-repeat="dealsNearList in dealsNearYouContent" ng-if="$index==3" style="margin-right: 2px;width:100%" >
      <div layout="row" style="height:100%" ng-click="buyNowClicked(deal.name,deal.cutPrice)">
          <div class="hovereffect">
              <img ng-src="{{dealsNearList.imagePath}}" alt="spa offers beu">
<!--
              <div class="overlay">
                   <h2>{{listTrends.heading}}</h2>
                  <a class="info" >Click Here</a>
              </div>
-->
            </div>
      </div>
   </md-card>
</div>
</div>
  </div>
</div>

<div show-xs show-sm hide-xl hide-lg hide-md layout-sm="row" layout-xs="column" layout-md="row" layout-lg="row" layout-xl="row" flex-offset="10" flex-xs="80" flex-sm="80" flex-md="100" flex-lg="100" flex-xl="100" style="margin-top:-9px;">
    <div flex="30" flex-xs="100">
        <md-card ng-cloak ng-repeat="dealsNearList in dealsNearYouContent" ng-if="$even" flex-xs="100" style="margin-right: 2px;" >
            <div flex class="hovereffect">
                <img ng-src="{{dealsNearList.imagePath}}" alt="spa offers beu">
                <div flex class="overlay">
                     <h2>{{listTrends.heading}}</h2>
                    <a class="info"  ng-click="buyNowClicked(deal.name,deal.cutPrice)">Click Here</a>
                </div>
            </div>
        </md-card>
    </div>
    <div flex="40" flex-xs="100">
        <md-card ng-cloak ng-repeat="dealsNearList in dealsNearYouContent" ng-if="$index==1" class="beauty" >
            <div flex class="hovereffect">
                <img ng-src="{{dealsNearList.imagePath}}" alt="the golden globel awards 2017">
                <div flex class="overlay">
                     <h2>{{listTrends.heading}}</h2>
                    <a class="info"  ng-click="buyNowClicked(deal.name,deal.cutPrice)">Click Here</a>
                </div>
            </div>
        </md-card>
    </div>
    <div flex="30" ng-repeat="dealsNearList in dealsNearYouContent" ng-if="$index==3" flex-xs="100">
        <md-card ng-cloak class="beauty" >
            <div flex class="hovereffect">
                <img ng-src="{{dealsNearList.imagePath}}" alt="spa offers beu">
                <div flex class="overlay">
                     <h2>{{listTrends.heading}}</h2>
                    <a class="info"  ng-click="buyNowClicked(deal.name,deal.cutPrice)">Click Here</a>
                </div>
            </div>
        </md-card>
    </div>

</div>



  <!-- Deals Near You -->
  <!--Our Partner Salons  -->

  <div layout-align="center" class="specTwo-1">
      <div layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" class="bestParlorsTitle">
          <p class="home-page-heading" style="margin-bottom:0;">Our Partner Salons</p>
          <!-- <hr style="border: 1px solid #ccc; background: #7f8c8d;"> -->
      </div>
      <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
          <div style="width:25%;border-top:1px solid #FF4B4B;"></div>
      </div>
      <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
          <div style="width:10%;border-top:1px solid #FF4B4B;"></div>
      </div>
  </div>

  <div layout="column">
        <div layout="row" flex ng-if="bestParlorsList==''" layout-align="center" style="margin: 3em;">
            <md-progress-circular ng-disabled="false" class="md-accent bufferColor" md-diameter="50" style=""></md-progress-circular>
        </div>

  </div>

  <div show-lg show-xl show-md hide-xs hide-sm layout="column" flex="80" flex-xl="70"style="padding-right:1.2em;margin:0 auto;">
    <ui-carousel run="openBestParlor()" style="width:100%;" slides="autoplay.slides" slides-to-show="3" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="2000">
        <carousel-item>
            <md-card layout="row" flex style="margin:2em;height:7em;" class="home-parlor-top-1">
                <div layout="column" flex="45">
                        <img id="parlor-toplist-flag" ng-show='item.parlorType==1' ng-src="/images/blueBadge.png" alt="Be U Standard">
                        <img id="parlor-toplist-flag" ng-show='item.parlorType==0' ng-src="/images/redBadge.png" alt="Be U Premium">
                        <img id="parlor-toplist-flag" ng-show='item.parlorType==2' ng-src="/images/greenBadge.png" alt="Be U Budget">
                        <img id="parlor-toplist-image" ng-src="{{item.images[0].imageUrl}}"/>

                </div>
                <div>
                    <md-card-title>
                        <md-card-title-text style="padding:0;margin:0;">
                            <span class="parlor-toplist-name">{{item.name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content style="padding:8px;">
                        <h6 class="topsalon-list">{{item.address1 | limitTo:15}}</h6>
                        <h6 class="topsalon-list-1">{{item.address2 | limitTo:15}}</h6>
                    </md-card-content>
                </div>
            </md-card>
        </carousel-item>
    </ui-carousel>

  </div>


  <div hide-lg hide-md hide-xl show-xs hide-sm layout-xs="column" flex="100" flex-sm="100" style="padding-right:3em;margin-left:2em;" layout-align="center center">
      <!-- <div class="content-box"> -->
      <ui-carousel run="openBestParlor()" style="width:100%;" slides="autoplay.slides" slides-to-show="1" autoplay="true" slides-to-scroll="1" initial-slide="1" autoplay-speed="2000">
          <carousel-item>
              <md-card layout="row" flex style="margin:2em;height:7em;" class="home-parlor-top-1">

                  <div layout="column" flex="50">

                      <img class="parlor-toplist-flag" ng-show='item.parlorType==1' ng-src="/images/blueBadge.png" style="top:0px;left:0px;position:relative;height:1em;width:4em;" alt="Be U Standard">
                      <img class="parlor-toplist-flag" ng-show='item.parlorType==0' ng-src="/images/redBadge.png" style="top:-0px;left:0px;position:relative;height:1em;width:4em;" alt="Be U Premium">
                      <img class="parlor-toplist-flag" ng-show='item.parlorType==2' ng-src="/images/greenBadge.png" style="top:-0px;left:0px;position:relative;height:1em;width:4em;" alt="Be U Budget">
                      <img ng-src="{{item.images[0].imageUrl}}" style="height:112px;width:100%;margin-top: -16px;margin-left: 0px;" />


                  </div>

                  <div flex>
                      <md-card-title>
                          <md-card-title-text style="padding:0;margin:0;">

                              <span class="parlor-toplist-name">
                                {{item.name}}
                              </span>
                          </md-card-title-text>
                      </md-card-title>
                      <md-card-content style="padding: 0px 0px 0px 8px;">
                          <h6 class="topsalon-list">{{item.address1 | limitTo:10}}</h6>
                          <h6 class="topsalon-list-1">{{item.address2 | limitTo:10}}</h6>
                      </md-card-content>
                  </div>
              </md-card>
          </carousel-item>
      </ui-carousel>
  </div>

  <div hide-lg hide-md hide-xl hide-xs show-sm layout="column" flex="100" flex-sm="100" style="padding-right:3em;margin-left:2em;" layout-align="center center">
      <!-- <div class="content-box"> -->
      <ui-carousel run="openBestParlor()" style="width:100%;" slides="autoplay.slides" slides-to-show="2" autoplay="true" slides-to-scroll="1" initial-slide="1" autoplay-speed="2000">
          <carousel-item>
              <md-card layout="row" flex style="margin:2em;height:7em;margin-top:0em;" class="home-parlor-top-1">

                  <div layout="column" flex="50">

                      <img class="parlor-toplist-flag" ng-show='item.parlorType==1' ng-src="/images/blueBadge.png" style="top:0px;left:0px;position:relative;height:1em;width:4em;" alt="Be U Standard">
                      <img class="parlor-toplist-flag" ng-show='item.parlorType==0' ng-src="/images/redBadge.png" style="top:-0px;left:0px;position:relative;height:1em;width:4em;" alt="Be U Premium">
                      <img class="parlor-toplist-flag" ng-show='item.parlorType==2' ng-src="/images/greenBadge.png" style="top:-0px;left:0px;position:relative;height:1em;width:4em;" alt="Be U Budget">
                      <img ng-src="{{item.images[0].imageUrl}}" style="height:112px;width:100%;margin-top: -16px;margin-left: 0px;" />


                  </div>

                  <div flex>
                      <md-card-title>
                          <md-card-title-text style="padding:0;margin:0;">

                              <span class="parlor-toplist-name">
                                {{item.name}}
                              </span>
                          </md-card-title-text>
                      </md-card-title>
                      <md-card-content style="padding: 0px 0px 0px 8px;">
                          <h6 class="topsalon-list">{{item.address1 | limitTo:10}}</h6>
                          <h6 class="topsalon-list-1">{{item.address2 | limitTo:10}}</h6>
                      </md-card-content>
                  </div>
              </md-card>
          </carousel-item>
      </ui-carousel>
  </div>

      <div layout="column">
          <div flex>
              <div class="see-more-top-parlor" layout="row" flex="100" layout-align="center">
                  <div class="parlor-see-more ng-cloak" layout="row" ng-cloak style="text-align:center;cursor: pointer;" ng-click="searchSalonsDirect()"><button id="home-seemorebtns"> <span class="plus-icon-homepage"><i class="fa fa-plus" aria-hidden="true" style="padding-top:7px;"></i></span> see more...</button></div>
              </div>
          </div>
      </div>

  <!--Our Partner Salons  -->

<!--  Trends To Follow-->
<div layout-align="center" class="specTwo">
    <div layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <p class="home-page-heading" style="margin-bottom:0;">Trends To Follow</p>

    </div>
    <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <div style="width:30%;border-top:1px solid #FF4B4B;"></div>
    </div>
    <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <div style="width:10%;border-top:1px solid #FF4B4B;"></div>
    </div>
</div>

<div hide-xs hide-sm show-lg show-xl show-md flex layout="row" layout-align="center" style="margin-top: -9px;margin-bottom: -9px;">
  <div layout="row" flex="80" layout-align="center">
    <div flex="30" flex-xs="100">
      <div layout="column">
        <md-card ng-cloak ng-repeat="listTrends in blogContent" ng-if="$even" style="margin-right: 2px;" >
          <div layout="row">
              <div flex class="hovereffect">
                  <img ng-src="{{listTrends.imagePath}}" alt="spa offers beu">
                  <div class="overlay">
                      <h2>{{listTrends.heading}}</h2>
                      <a class="info" href="{{listTrends.link}}" target="_blank">Go To Blog</a>
                  </div>
                </div>
          </div>
       </md-card>
      </div>
    </div>
  <div  flex="40" flex-xs="100">
    <div layout="row" style="height:100%">
      <md-card ng-cloak ng-repeat="listTrends in blogContent" ng-if="$index==1" style="margin-right: 2px;width:100%" >
        <div layout="row" style="height:100%">
            <div class="hovereffect">
                <img ng-src="{{listTrends.imagePath}}" alt="spa offers beu">
                <div class="overlay">
                    <h2>{{listTrends.heading}}</h2>
                    <a class="info" href="{{listTrends.link}}" target="_blank">Go To Blog</a>
                </div>
              </div>
        </div>
     </md-card>
  </div>
</div>
<div  flex="30" flex-xs="100">
  <div layout="column" style="height:100%">
    <md-card ng-cloak ng-repeat="listTrends in blogContent" ng-if="$index==3" style="margin-right: 2px;width:100%" >
      <div layout="row" style="height:100%">
          <div class="hovereffect">
              <img ng-src="{{listTrends.imagePath}}" alt="spa offers beu">
              <div class="overlay">
                  <h2>{{listTrends.heading}}</h2>
                  <a class="info" href="{{listTrends.link}}" target="_blank">Go To Blog</a>
              </div>
            </div>
      </div>
   </md-card>
</div>
</div>
  </div>
</div>

<div show-xs show-sm hide-xl hide-lg hide-md layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex-offset="10" flex-xs="80" flex-sm="80" flex-md="100" flex-lg="100" flex-xl="100" style="margin-top:-9px;">
    <div flex="30" flex-xs="100">
        <md-card ng-cloak ng-repeat="listTrends in blogContent" ng-if="$even" flex-xs="100" style="margin-right: 2px;">
            <div flex class="hovereffect">
                <img ng-src="{{listTrends.imagePath}}" alt="spa offers beu">
                <div flex class="overlay">
                    <h2>{{listTrends.heading}}</h2>
                    <a class="info" href="{{listTrends.link}}" target="_blank">Go To Blog</a>
                </div>
            </div>
        </md-card>
    </div>
    <div flex="40" flex-xs="100">
        <md-card ng-cloak ng-repeat="listTrends in blogContent" ng-if="$index==1" class="beauty">
            <div flex class="hovereffect">
                <img ng-src="{{listTrends.imagePath}}" alt="the golden globel awards 2017">
                <div flex class="overlay">
                    <h2>{{listTrends.heading}}</h2>
                    <a class="info" ng-href="{{listTrends.link}}" target="_blank">Go To Blog</a>
                </div>
            </div>
        </md-card>
    </div>
    <div flex="30" ng-repeat="listTrends in blogContent" ng-if="$index==3" flex-xs="100">
        <md-card ng-cloak class="beauty">
            <div flex class="hovereffect">
                <img ng-src="{{listTrends.imagePath}}" alt="spa offers beu">
                <div flex class="overlay">
                    <h2>{{listTrends.heading}}</h2>
                    <a class="info" ng-href="{{listTrends.link}}" target="_blank">Go To Blog</a>
                </div>
            </div>
        </md-card>
    </div>

</div>
<!--  Fb chat plugin-->
<div class="fb-customerchat" page_id="113584445772528"></div>

<!--  Trends To Follow-->

  <!--Be U Promises -->

<div layout-align="center center" class="specTwo-1">

    <div layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <p class="home-page-heading" style="margin-bottom:0;">Be U Promises</p>
    </div>
    <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <div style="width:30%;border-top:1px solid #FF4B4B;"></div>
    </div>
    <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <div style="width:10%;border-top:1px solid #FF4B4B;"></div>
    </div>
</div>

<div layout="row" layout-wrap layout-align="center center" class="beUPromiseContent moreOnBeTitle" >
    <div ng-repeat="why in whyus" flex-xs="50" flex-sm="20" flex-md="20" flex-lg="20" flex-xl="20" style="margin-bottom:0.5em">
        <md-card class="box card_icon" layout-align="center center" style="padding-right:0">
            <img ng-src="{{why.imagePath}}" class="md-card-image" alt="office makeup beu">
        </md-card>
    </div>
</div>
<!--Be U Promises -->

<!-- About -->

<div layout-align="center center" class="specTwo">

    <div layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <p class="home-page-heading" style="margin-bottom:0;">About Us</p>
    </div>
    <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <div style="width:20%;border-top:1px solid #FF4B4B;"></div>
    </div>
    <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
        <div style="width:6%;border-top:1px solid #FF4B4B;"></div>
    </div>
</div>
<div layout-xs="column">
<div layout="row" flex="80" flex-offset="10" layout-wrap layout-align="center center" class="beUPromiseContent moreOnBeTitle" >
  <div  layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" style="padding-left:14px;border-bottom:1px solid #abacae;">

    <p style="text-align:left;font-size: 16px;font-family: latoRegular;">
      <b style="text-align:left;">Be U Salons</b>
      <br>
      <br>
        Revolutionizing salon services like never before!
                    <br>
      <br>
      India’s first- ever App based standardized salon chain - for best beauty and hair deals, now in your neighborhood.
                    <br>
      <br>
      Be U Salons, the best unisex salons in Delhi-NCR promises to standardize services and uniform prices at all our outlets with basic amenities.We provide multiple hair rebonding deals, hair color deals, and beauty packages.
      Be U Salons is staffed by some of the best hair experts and makeup artists.
      <br>
                    <br>
      <b>Who are we?</b>

      <br>
                    <br>
      One of you! We are trying to create a standard platform to allow easy accessibility to a plethora of hair, beauty, makeup and nail services for our customers at unmatched prices. Technology has further escalated and strengthened our brand to create uniformity in terms of prices and services across all the Be U Salon outlets. We are passionate dwellers who strongly believe in evolution of this widely unorganized sector into something that will be a pure bliss! Our further expansion and growth plans revolve around associating with over 1,000-1,500 salons all over New Delhi- NCR and other parts of India. Our game-changing strategy reflects the rising popularity and increased footfall of the salons. Change the way you Salon and spread the word because we’re waiting eagerly to pamper you very soon!

    </p>

  </div>
</div>
</div>
<!-- About -->
