<style>
    .md-toolbar-tools {
        letter-spacing: 0em;
    }

    .bufferColor.md-accent path {
        stroke: #d2232a;
    }

    .your-pre-defined-container>md-input-container>input::-webkit-input-placeholder {
        color: #FFF;
    }

    .your-pre-defined-class>md-input-container>input:-moz-placeholder {
        /* FF 4-18 */
        color: #FFF;
    }

    .your-pre-defined-class>md-input-container>input::-moz-placeholder {
        /* FF 19+ */
        color: #FFF;
    }

    .arrowBackgroundColor.jk-carousel .md-icon-button md-icon {
        background-color: transparent;
    }

    .sectionHeading {
        font-size: 1.3em;
        margin-bottom: 0;
        margin-top: 0;
        opacity: 0.9;
    }

    body {
        font-size: 16px;
        line-height: 20px;
        font-family: 'Roboto', sans-serif;
        background-color: #fafafa;
    }

    .container {
        max-width: 560px;
    }

    .header {
        padding: 50px 0 10px;
        color: #3498db;
        background: #fff;
        text-align: center;
    }

    .header h1 {
        margin-bottom: 40px;
    }

    h1 {
        font-weight: 400;
        font-family: 'Pacifico', cursive;
        font-size: 70px;
    }

    h2.title {
        font-weight: bold;
        font-size: 40px;
        font-family: 'Pacifico', cursive;
        margin-bottom: 40px;
    }

    .footer {
        font-size: 14px;
        padding: 30px 0;
        color: #99979c;
        background-color: #2a2730;
    }

    .footer p {
        margin-bottom: 0;
    }

    .footer-links {
        padding: 0;
        list-style: none;
    }

    .footer-links li {
        display: inline;
        margin-right: 15px;
    }

    .footer a {
        color: #fff;
    }

    .main {
        background-color: #3498db;
        color: #fff;
        padding: 30px 0 50px;
        position: relative;
        min-height: 500px;
        text-align: center;
    }

    .divider {
        display: block;
        float: none;
        max-width: 500px;
        height: 1px;
        margin: 40px auto;
        clear: both;
        float: none;
        background-color: #fff;
    }

    ul.features {
        padding: 0;
        list-style: none;
    }

    ul.features li {
        padding: 7px 0;
    }

    .ui-carousel {
        margin-bottom: 0px;
    }

    .ui-carousel .image {
        padding: 10px;
    }

    .ui-carousel .image img {
        display: block;
        border: 5px solid #fff;
        width: 100%;
    }

    pre[class*="language-"] {
        background-color: #fdfdfd;
        margin-bottom: 1em;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 0;
    }

    code[class*="language"] {
        background: black;
        max-height: inherit;
        padding: 15px;
        display: block;
        overflow: auto;
        text-shadow: none;
    }

    .buttons {
        padding: 0 20px 20px;
        margin-bottom: 10px;
    }

    .button {
        float: left;
        background: #fff;
        color: #3498db;
        display: block;
        font-size: 16px;
        margin: 20px auto;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        width: 48%;
        margin-right: 2%;
        cursor: pointer;
    }

    .button:hover {
        text-decoration: none;
    }

    md-card md-card-title {
        padding: 12px 16px 0px;
    }

    p.home-page-heading {
        margin-top: 0;
        padding-top: 0 !important;
    }

    .ui-carousel .carousel-next .carousel-btn {
        right: -25px;
    }

    .ui-icon-prev:before,
    .ui-icon-next:before {
        color: gray;
    }

    .jk-carousel .radio-buttons-container md-radio-button .md-off {
        border-color: #A8A9AD;
    }
</style>
<div style="background-color: white;">
    <!-- <div ng-cloak ng-init="showCustom($event)" ></div> -->
    <section layout="row" class="ng-cloak" layout-align="center center" flex="none" class="offer_background" ng-cloak>
        <div layout="column" flex ng-cloak>

            <div flex style="margin-top: -8px;" ng-cloak>
                <div show-xs show-sm hide-md hide-lg hide-xl layout="row" flex class="home-page-jk-carrosal-container" ng-cloak>
                    <jk-carousel class="sliderCircleOff sliderCircleOn arrowBackgroundColor rightArrowPosition leftArrowPosition ng-cloak" data="dataArray" item-template-url="'/website/views/item-template.html'" max-width="4000px" max-height="2000px" auto-slide="true" auto-slide-time="3000"
                        ng-cloak>
                    </jk-carousel>
                </div>
            </div>

            <div hide-xs hide-sm show-md show-lg show-xl flex style="margin-top: -8px;" ng-cloak>
                <div layout="row" flex class="home-page-jk-carrosal-container" ng-cloak>
                    <jk-carousel class="sliderCircleOff sliderCircleOn arrowBackgroundColor rightArrowPosition leftArrowPosition" data="dataArray" item-template-url="'/website/views/item-template.html'" max-width="4000px" max-height="1300px" auto-slide="true" auto-slide-time="3000"
                        ng-cloak>
                    </jk-carousel>
                </div>
            </div>


        </div>
</div>
</section>

<div layout="column" layout-align="center" flex="100" class="specTwo" style="position: relative;">
    <div>


        <div layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
            <p flex='50' class="home-page-heading" style="margin-bottom:0;text-align:center;">Search Us Near You</p>
            <!-- <hr style="border: 1px solid #ccc; background: #7f8c8d;"> -->
        </div>

        <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
            <div style="width:25%;border-top:1px solid #FF4B4B;"></div>
        </div>
        <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
            <div style="width:10%;border-top:1px solid #FF4B4B;"></div>
        </div>
    </div>
</div>




<div layout-align="center center" layout-margin layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex="100">




    <div class="search-container" layout-align="center" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex-xs="75" flex-sm="75" flex-md="75" flex-lg="75" flex-xl="75">
        <!---------------------search box for place start------------------------>
        <div flex-xs="100" flex-sm="30" flex-md="30" flex-lg="20" flex-xl="20">
            <md-button id="seabackcolor-567" style="box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);" class="home-delhi-ncr-search">
                <img src="../website/images/search.svg" class="search-location-image">
                <span class="delhiNCR">Delhi/NCR</span>
            </md-button>
        </div>
        <!---------------------search box for Salon or Location start------------------------>
        <md-autocomplete flex-xl="50" class="beu-small your-pre-defined-container" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)"
            md-item-text="item.name" md-min-length="1" placeholder="Search service, outlet or location" md-menu-class="autocomplete-custom-template" flex-sm="50" flex-md="70" flex-lg="70" flex-xl="70" style="background-color: white;height:52px;" ng-model="checkText"
            my-enter="enterHomeSearchBox(searchText)">
            <md-item-template flex>
                <span class="item-title" style="padding-top:0.3em;color: #33373D;font-size:15px;">
										<!--<i class="material-icons" id="loc_icon">&#xE0C8;</i>-->
										<span> {{item.name}} </span>
                </span>
                <span class="item-metadata" style="margin-top: -11px;">
										<span class="item-metastat">
										  <strong style="color: #89959B;font-size:11px;">{{item.type}}</strong>
										</span>
                </span>
            </md-item-template>
        </md-autocomplete>
        <md-button id="seabackcolor" class="md-raised beu-small beu-small-button" ng-click="searchSalonsDirect()" flex-xs="100" flex-sm="20" flex-md="20" flex-lg="20" flex-xl="20">
            Search
        </md-button>

    </div>
</div>
<!---start our top salons-->

<!-- start deal page -->

<section flex layout="row" layout-align="center center" class="offer_background" style="position: relative;">
    <div layout="column" style="z-index: 4;background-color: #fff;" flex>
        <div layout-align="center center" layout="row" flex>
            <div flex="75" layout-align="center center">
                <div layout="row" layout-align="center" flex="100">

                    <div layout-align="center" class="specTwo">
                        <div layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                            <p class="home-page-heading" style="margin-bottom:0;">Deals Near You</p>
                            <!-- <hr style="border: 1px solid #ccc; background: #7f8c8d;"> -->
                        </div>
                        <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                            <div style="width:60%;border-top:1px solid #FF4B4B;margin-bottom:1em"></div>
                        </div>
                        <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                            <div style="width:50%;border-top:1px solid #FF4B4B;"></div>
                        </div>
                    </div>


                </div>
                <div layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" style="cursor: pointer;" ng-click="openCarouselImageDeal()">

                    <div flex="30" flex-xs="100">
                        <md-card ng-repeat="dealsNearList in dealsNearYouContent" ng-if="$even" flex-xs="100" style="margin-right: 2px;cursor:pointer;">
                            <div flex class="hovereffect">
                                <img ng-src="{{dealsNearList.imagePath}}" alt="beauty deals beu">
                                <div flex class="overlay">
                                    <h2>{{list1.heading}}</h2>
                                    <a class="info" href="/offerPage/deals">link here</a>
                                </div>
                            </div>
                        </md-card>
                    </div>
                    <div flex="40" flex-xs="100">
                        <md-card ng-repeat="dealsNearList in dealsNearYouContent" ng-if="$index==1" class="beauty" ng-cloak>
                            <div flex class="hovereffect">
                                <img ng-src="{{dealsNearList.imagePath}}" alt="hair deals beu">
                                <div flex class="overlay">
                                    <h2>{{list1.heading}}</h2>
                                    <a class="info" href="/offerPage/deals">link here</a>
                                </div>
                            </div>
                        </md-card>
                    </div>
                    <div flex="30" ng-repeat="dealsNearList in dealsNearYouContent" ng-if="$index==3" flex-xs="100">
                        <md-card class="beauty" ng-cloak>
                            <div flex class="hovereffect">
                                <img ng-src="{{dealsNearList.imagePath}}" alt="hair care offers beu">
                                <div flex class="overlay">
                                    <h2>{{list1.heading}}</h2>
                                    <a class="info" href="/offerPage/deals">link here</a>
                                </div>
                            </div>
                        </md-card>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--  End deal page-->
<!---End our top salons-->
<!---start our top salons-->




<!-- <section flex layout="row" layout-align="center center" class="offer_background" style="position: relative;"> -->
<!-- <div layout="column" style="z-index: 4;background-color: #fff;" class="ng-cloak" flex> -->
<!-- <div layout-align="center center" layout="row" flex> -->
<div flex="100" layout-align="center" style="padding-right:3em;background: #fff;">
    <div layout="row" layout-align="center" flex="100">

        <div layout-align="center" style="padding-left:3em;" class="specTwo">
            <div layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                <p class="home-page-heading" style="margin-bottom:0;">Our Partner Salons</p>
                <!-- <hr style="border: 1px solid #ccc; background: #7f8c8d;"> -->
            </div>
            <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                <div style="width:50%;border-top:1px solid #FF4B4B;"></div>
            </div>
            <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                <div style="width:40%;border-top:1px solid #FF4B4B;"></div>
            </div>
        </div>


    </div>
    <div layout="column" flex>
        <div flex>
            <!-- <div layout="row" ng-cloak layout-align="center" flex-xs="100" flex="100" style="color:#58595b;padding-left:25px;padding-right:25px;;padding-top: 75px;padding-bottom: 10px">
								<div hide-xs hide-sm style="width:38%;border-top:1px solid #abacae;margin-top:30px;"></div>
								<div style="text-align: center;" class="home-oursalonpartner"><span class="home-page-heading" ng-cloak>Our Salon Partners</span></div>
								<div hide-xs  hide-sm style="width:38%;border-top:1px solid #abacae;margin-top:30px"></div>
							</div> -->
            <div layout="row" flex ng-if="bestParlorsList==''" layout-align="center" style=" padding-left: 3em; margin: 3em;">
                <md-progress-circular ng-disabled="false" class="md-accent bufferColor" md-diameter="50" style=""></md-progress-circular>
            </div>
        </div>
    </div>
    <!--- stop our salon partner-->


    <!-- <md-content class="md-padding" layout="row" style="background-color: #fff;" >
						<div layout="row" flex="100" layout-align="center">
							<div layout="row" flex="100" layout-xs="column">
								<div  flex-xs="100" flex-sm="25" flex-md="50 "  flex-lg="50" flex-xl="50"   ng-cloak ng-repeat="bestParlors in bestParlorsList | limitTo:2" ng-click="openBestParlor(bestParlors)">
									<md-card layout="row" flex style="margin:2em;height:10em;padding-top: 10px;padding-left: 10px; padding-right: 10px;" class="home-parlor-top-1">
										<div layout="column">
											<img ng-if='bestParlors.parlorType==1' ng-src="/images/blueBadge.png" style="top:-16px;left:-14px;position:relative;height:2.5em;width:10em;" alt="Be U Standard">
											<img ng-if='bestParlors.parlorType==0' ng-src="/images/redBadge.png" style="top:-16px;left:-14px;position:relative;height:2.5em;width:10em;" alt="Be U Premium">
											<img ng-if='bestParlors.parlorType==2' ng-src="/images/greenBadge.png" style="top:-16px;left:-14px;position:relative;height:2.5em;width:10em;" alt="Be U Budget">
											<img ng-src="{{bestParlors.images[0].imageUrl}}" height="200px" width="200px"style="margin-top: -49px;margin-left: -10px;" />
										</div> -->
    <!--<img src="{{popularSalonsImagesArray[$index].src}}" height="350" width="650"/>-->
    <!-- <div layout="column">
											<md-card-title>
												<md-card-title-text style="padding:0;margin:0;">

													<span class="parlor-toplist-name"> -->
    <!-- <span class="listing-page-cartSalonname" style="color:#d2232a" ng-if='bestParlors.parlorType==0'>Be U Premium</span>
		                                                <span class="listing-page-cartSalonname" style="color:blue" ng-if='bestParlors.parlorType==1'>Be U Standard</span>
		                                                <span class="listing-page-cartSalonname" style="color:#50A956" ng-if='bestParlors.parlorType==2'>Be U Budget</span> -->
    <!-- {{bestParlors.name}}</span>
												</md-card-title-text>
											</md-card-title>
											<md-card-content style="padding: 0px 0px 0px 8px;">
												<h6 class="topsalon-list">{{bestParlors.address1 | limitTo:30}}</h6>
												<h6  class="topsalon-list-1">{{bestParlors.address2 | limitTo:30}}</h6>
											</md-card-content>
										</div>

									</md-card>


								</div>
							</div>
						</div>

					</md-content> -->
    <div show-lg show-xl show-md hide-xs hide-sm layout="column" flex="100" flex-sm="100" style="margin-left:2em;" layout-align="center center">
        <!-- <div class="content-box"> -->
        <ui-carousel style="width:100%;" slides="autoplay.slides" slides-to-show="3" slides-to-scroll="1" initial-slide="1" autoplay="false" autoplay-speed="2000">
            <carousel-item>

                <md-card layout="row" flex style="margin:2em;height:10em;" class="home-parlor-top-1">
                    <div layout="column" flex="50" flex-xl="30" flex-md="50" flex-lg="30" flex-sm="40">
                            <img class="parlor-toplist-flag" ng-show='item.parlorType==1' ng-src="/images/blueBadge.png" alt="Be U Standard">
                            <img class="parlor-toplist-flag" ng-show='item.parlorType==0' ng-src="/images/redBadge.png" alt="Be U Premium">
                            <img class="parlor-toplist-flag" ng-show='item.parlorType==2' ng-src="/images/greenBadge.png" alt="Be U Budget">
                            <img class="parlor-toplist-image" ng-src="{{item.images[0].imageUrl}}" />
                    </div>

                    <div>
                        <md-card-title>
                            <md-card-title-text style="padding:0;margin:0;">

                                <span class="parlor-toplist-name">
															{{item.name}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content style="padding:8px;">
                            <h6 class="topsalon-list">{{item.address1 | limitTo:15}}</h6>
                            <h6 class="topsalon-list-1">{{item.address2 | limitTo:15}}</h6>
                        </md-card-content>
                        <!-- </div> -->
                        <!-- <md-card-content style="padding: 0px 0px 0px 8px;">
														<h6 class="topsalon-list">{{item.address1 | limitTo:30}}</h6>
														<h6  class="topsalon-list-1">{{item.address2 | limitTo:30}}</h6>
													</md-card-content> -->
                        <!-- </div> -->




                        <!-- <div layout="column" >
														skjawhnxon
												</div> -->
                        <!-- <div layout="column" ng-repeat="bestParlors in bestParlorsList">
															{{bestParlors.name}}
												</div> -->

                    </div>
                </md-card>


                <!-- <h3>{{ item + 1 }}</h3> -->
            </carousel-item>
        </ui-carousel>

    </div>

    <div hide-lg hide-md hide-xl show-xs show-sm layout="column" flex="100" flex-sm="100" style="margin-left:2em;" layout-align="center center">
        <!-- <div class="content-box"> -->
        <ui-carousel run="openBestParlor()" style="width:100%;" slides="autoplay.slides" slides-to-show="1" autoplay="false" slides-to-scroll="1" initial-slide="1" autoplay-speed="2000">
            <carousel-item>
                <md-card layout="row" flex style="margin:2em;height:7em;" class="home-parlor-top-1">

                    <div layout="column" flex="50">

                        <img class="parlor-toplist-flag" ng-show='item.parlorType==1' ng-src="/images/blueBadge.png" style="top:0px;left:0px;position:relative;height:1em;width:4em;" alt="Be U Standard">
                        <img class="parlor-toplist-flag" ng-show='item.parlorType==0' ng-src="/images/redBadge.png" style="top:-0px;left:0px;position:relative;height:1em;width:4em;" alt="Be U Premium">
                        <img class="parlor-toplist-flag" ng-show='item.parlorType==2' ng-src="/images/greenBadge.png" style="top:-0px;left:0px;position:relative;height:1em;width:4em;" alt="Be U Budget">
                        <img ng-src="{{item.images[0].imageUrl}}" style="height:112px;width:100%;margin-top: -16px;margin-left: 0px;" />


                    </div>

                    <div flex>
                        <md-card-title>
                            <md-card-title-text style="padding:0;margin:0;">

                                <span class="parlor-toplist-name">
																	<!-- <span class="listing-page-cartSalonname" style="color:#d2232a" ng-if='bestParlors.parlorType==0'>Be U Premium</span>
                                <span class="listing-page-cartSalonname" style="color:blue" ng-if='bestParlors.parlorType==1'>Be U Standard</span>
                                <span class="listing-page-cartSalonname" style="color:#50A956" ng-if='bestParlors.parlorType==2'>Be U Budget</span> --> {{item.name}}
                                </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content style="padding: 0px 0px 0px 8px;">
                            <h6 class="topsalon-list">{{item.address1 | limitTo:10}}</h6>
                            <h6 class="topsalon-list-1">{{item.address2 | limitTo:10}}</h6>
                        </md-card-content>
                        <!-- </div> -->
                        <!-- <md-card-content style="padding: 0px 0px 0px 8px;">
															<h6 class="topsalon-list">{{item.address1 | limitTo:30}}</h6>
															<h6  class="topsalon-list-1">{{item.address2 | limitTo:30}}</h6>
														</md-card-content> -->
                        <!-- </div> -->




                        <!-- <div layout="column" >
															skjawhnxon
													</div> -->
                        <!-- <div layout="column" ng-repeat="bestParlors in bestParlorsList">
																{{bestParlors.name}}
													</div> -->

                    </div>

                </md-card>


                <!-- <h3>{{ item + 1 }}</h3> --
            </carousel-item>
        </ui-carousel>

    </div>


    <div layout="column">
        <div flex>
            <div class="see-more-top-parlor" layout="row" flex="100" layout-align="center">
                <div class="parlor-see-more ng-cloak" layout="row" ng-cloak style="text-align:center;cursor: pointer;" ng-click="searchSalonsDirect()"><button id="home-seemorebtns"> <span class="plus-icon-homepage"><i class="fa fa-plus" aria-hidden="true" style="padding-top:7px;"></i></span> see more...</button></div>
            </div>
        </div>

    </div>

    <!-- beuclients -->
    <!-- <div layout="row" layout-align="center">

						<div layout="row" ng-cloak layout-align="center" flex-xs="100" flex="100" style="color:#58595b;padding-left:20px;padding-top:60px;padding-bottom:30px">
							<div hide-xs hide-sm style="border-top:1px solid gray;margin-top:30px;width:42%"></div>
							<div style="text-align: center;" class="home-beuclint"><span class="home-page-heading">#BeUClients</span></div>
							<div hide-xs hide-sm style="border-top:1px solid #abacae;margin-top:30px;width:42%"></div>
						</div>

					</div>
                    <div flex>
						<div  layout-xs="column" layout-sm="column" layout-md="column" layout-lg="column" layout-xl="column" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" style="padding-left:0px;">
						<div layout="row" flex>
                            <div flex>
								<div layout="row"  flex="100">
									<div flex layout="column" flex="100">
										<div flex layout="row" style="margin-top:0px;">
											<div layout="row" layout-xs="column"  flex="100">
												<div flex>
													<div layout-xs="column" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row"  style="margin-top:0px;" flex>
                                                        <div flex layout=row>
														<md-card class="hovereffectTraind" flex="50">
															<img ng-src="../website/images/613x413px testimonial.jpg" alt="text">
														</md-card>
														<md-card class="hovereffectTraind" flex="50">
															<img ng-src="../website/images/Testimonials2.jpg" alt="text">
														</md-card>
                                                        </div>
													</div>
												</div>
											</div> -->

</div>
<!--
										<div flex layout="row" style="margin-top:10px;">
											<div layout="row" layout-xs="column"  flex="100">
												<div flex>
													<div layout-xs="column" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row"  style="margin-top:0px;">
                                                       <div flex layout="row">
														<md-card class="hovereffectTraind" flex="50" flex-xs="100">
															<img ng-src="../website/images/c613x413px testimonial.jpg" alt="text">
														</md-card>
														<md-card class="hovereffectTraind" flex="50"  flex-xs="100">
															<img ng-src="../website/images/d613x413px testimonial.jpg" alt="text">
														</md-card>
                                                        </div>

													</div>
												</div>
											</div>

										</div>
-->

<!-- beuclients media card -->
<!-- <div flex layout="row" style="margin-top:15px;">
											<div layout="row" flex="100">
												<div flex>
                                                    <div  layout-xs="column" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row"  flex="100" style="margin-top:0px;">
                                                        <div flex layout="row">
														<md-card class="hovereffectTraind" flex="50"  flex-xs="100">
															<img ng-src="../website/images/Testimonials5.jpg" alt="text">
														</md-card>
														<md-card class="hovereffectTraind" flex="50"  flex-xs="100">
															<img ng-src="../website/images/Testimonials6.jpg" alt="text">
														</md-card>
                                                        </div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div> -->
<!-- </div> -->
</div>
<!-- </div> -->
<!-- </section> -->
<!---End our top salons-->
<!--  Trends to follow starts here-->
<section flex layout="row" layout-align="center center" class="offer_background" style="position: relative;">
    <div layout="column" style="z-index: 4;background-color: #fff;" flex>
        <div layout-align="center center" layout="row" flex>
            <div flex="75" layout-align="center center">

                <div layout-align="center" class="specTwo">
                    <div layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                        <p class="home-page-heading" style="margin-bottom:0;">Trends To Follow</p>
                        <!-- <hr style="border: 1px solid #ccc; background: #7f8c8d;"> -->
                    </div>
                    <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                        <div style="width:30%;border-top:1px solid #FF4B4B;margin-bottom:1em"></div>
                    </div>
                    <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                        <div style="width:10%;border-top:1px solid #FF4B4B;"></div>
                    </div>
                </div>


                <div layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">

                    <div flex="30" flex-xs="100">
                        <md-card ng-cloak ng-repeat="listTrends in blogContent" ng-if="$even" flex-xs="100" style="margin-right: 2px;">
                            <div flex class="hovereffect">
                                <img ng-src="{{listTrends.imagePath}}" alt="spa offers beu">
                                <div flex class="overlay">
                                    <h2>{{listTrends.heading}}</h2>
                                    <a class="info" href="{{listTrends.link}}" target="_blank">Go To Blog</a>
                                </div>
                            </div>
                        </md-card>
                    </div>
                    <div flex="40" flex-xs="100">
                        <md-card ng-cloak ng-repeat="listTrends in blogContent" ng-if="$index==1" class="beauty">
                            <div flex class="hovereffect">
                                <img ng-src="{{listTrends.imagePath}}" alt="the golden globel awards 2017">
                                <div flex class="overlay">
                                    <h2>{{listTrends.heading}}</h2>
                                    <a class="info" ng-href="{{listTrends.link}}" target="_blank">Go To Blog</a>
                                </div>
                            </div>
                        </md-card>
                    </div>
                    <div flex="30" ng-repeat="listTrends in blogContent" ng-if="$index==3" flex-xs="100">
                        <md-card ng-cloak class="beauty">
                            <div flex class="hovereffect">
                                <img ng-src="{{listTrends.imagePath}}" alt="spa offers beu">
                                <div flex class="overlay">
                                    <h2>{{listTrends.heading}}</h2>
                                    <a class="info" ng-href="{{listTrends.link}}" target="_blank">Go To Blog</a>
                                </div>
                            </div>
                        </md-card>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--  Trends to follow ends ends here-->
<!---start our top salons-->

<section flex layout="row" layout-align="center center" class="offer_background" style="position: relative;">
    <div layout="column" style="z-index: 4;background-color: #fff;" flex="100">
        <div layout-align="center center" layout="row">
            <div flex="75" layout-align="center center">
                <!-- <div layout="row" layout-align="center">

						<div layout="row" layout-align="center" flex-xs="100" flex="100" style="padding-left:20px;padding-top:60px;padding-bottom:10px">
							<div hide-xs hide-sm style="border-top:1px solid #abacae;margin-top:30px;width:44%;" ></div>
							<div style="" class="home-about"><span class="home-page-heading">About Us</span></div>
							<div hide-xs hide-sm style="border-top:1px solid #abacae;margin-top:30px;width:44%;"></div>
						</div>

					</div>
					<div  layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" style="padding-left:14px;border-bottom:1px solid #abacae;">

						<p style="text-align:left;font-size: 13px;font-family: latoRegular;">
							<b style="text-align:left;">Be U Salons</b>
							<br>
							<br>
								Revolutionizing salon services like never before!
                            <br>
							<br>
							India’s first- ever App based standardized salon chain - for best beauty and hair deals, now in your neighborhood.
                            <br>
							<br>
							Be U Salons, the best unisex salons in Delhi-NCR promises to standardize services and uniform prices at all our outlets with basic amenities.We provide multiple hair rebonding deals, hair color deals, and beauty packages.
							Be U Salons is staffed by some of the best hair experts and makeup artists.
							<br>
                            <br>
							<b>Who are we?</b>

							<br>
                            <br>
							One of you! We are trying to create a standard platform to allow easy accessibility to a plethora of hair, beauty, makeup and nail services for our customers at unmatched prices. Technology has further escalated and strengthened our brand to create uniformity in terms of prices and services across all the Be U Salon outlets. We are passionate dwellers who strongly believe in evolution of this widely unorganized sector into something that will be a pure bliss! Our further expansion and growth plans revolve around associating with over 1,000-1,500 salons all over New Delhi- NCR and other parts of India. Our game-changing strategy reflects the rising popularity and increased footfall of the salons. Change the way you Salon and spread the word because we’re waiting eagerly to pamper you very soon!

						</p>

					</div> -->

                <div layout-align="center center" class="specTwo">

                    <div layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                        <p class="home-page-heading" style="margin-bottom:0;">Be U Promises</p>
                    </div>
                    <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                        <div style="width:30%;border-top:1px solid #FF4B4B;margin-bottom:1em;"></div>
                    </div>
                    <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
                        <div style="width:10%;border-top:1px solid #FF4B4B;"></div>
                    </div>
                </div>

                <!-- <div layout="row" layout-align="center center" class="home-icon-123" style="z-index: 4;">
							<div layout-xs="row" style="background:none;" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row">
								<md-card ng-repeat="why in whyus" flex-sm="100" flex-xs="100" flex-md ="100" flex-lg="100" flex-xl ="100" class="box card_icon" layout-align="center center" style="padding-right:0">
									<img ng-src="{{why.imagePath}}" class="md-card-image" alt="office makeup beu">
								</md-card>
							</div>
						</div> -->

                <div layout="row" layout-wrap layout-align="center center">
                    <div ng-repeat="why in whyus" flex-xs="50" flex-sm="20" flex-md="20" flex-lg="20" flex-xl="20" style="margin-bottom:0.5em">
                        <md-card class="box card_icon" layout-align="center center" style="padding-right:0">
                            <img ng-src="{{why.imagePath}}" class="md-card-image" alt="office makeup beu">
                        </md-card>

                    </div>

                </div>

            </div>

        </div>
    </div>
    </div>
</section>
<!---End our top salons-->
</div>
<!--
placeholder="{{offerPlaceholder.getOfferLocation()}}"-->
