<style media="screen">
  ::-webkit-input-placeholder { /* WebKit browsers */
       opacity: 0.5 !important;
}
</style>
<!-- script------>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89343391-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- script end--->
<title>Be U Salons in Delhi NCR | Be U Salons</title>
<meta name="description" content="Branches of Be U Salons in Delhi NCR that offers discounts and deals on different hair and beauty salon services."/>

<style>
    md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
        color: #fff;
    }
    /*.arrowBackgroundColor.jk-carousel .md-icon-button md-icon{*/
    /*background-color: #E3E3E3;*/
    /*}*/
    /**/
    /*.rightArrowPosition.jk-carousel .right-arrow-button {*/
    /*right: 3%;*/
    /*top: -117px;*/
    /*}*/
    /*.leftArrowPosition.jk-carousel .left-arrow-button {*/
    /*left: 3%;*/
    /*top: -117px;*/
    /*}*/
    /*.sliderCircleOff.jk-carousel .radio-buttons-container md-radio-button .md-off{*/
    /*height: 10px;*/
    /*width: 10px;*/
    /*margin-top:-6px;*/
    /*background-color: #A8A9AD;*/
    /*margin-left:2px;*/
    /*}*/
    /*.sliderCircleOn.jk-carousel .radio-buttons-container md-radio-button .md-on{*/
    /*height: 15px;*/
    /*width: 15px;*/
    /*margin-top:-9px;*/
    /*margin-left:0px;*/

    /*}*/
    md-autocomplete {
        border-radius: 2px;
        display: block;
        height: 52px;
        position: relative;
        overflow: visible;
        min-width: 190px;
    }
    /*.listing-container {*/
    /*background-color: white;*/
    /*max-height: 60px!important;*/
    /*margin-top: 14vh!important;*/

    /*border-radius: 4px;*/
    /*}*/
    /*.bufferColor.md-accent path{*/
    /*stroke: #d2232a;*/
    /*}*/
    .bufferColor.md-accent path{
        stroke: #d2232a;
    }
    .sortByArrowPosition .md-select-value .md-select-icon{
        position: relative;
        right: 10px;
    }
    .sortByArrowText.md-default-theme .md-select-value.md-select-placeholder, .sortByArrowText .md-select-value.md-select-placeholder {
        color: #fff;
        font-size: 15px;
    }
    md-select-menu:not(.md-overflow) md-content {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    md-select-menu {
        margin-top: 38px;
    }

    md-select.md-default-theme:not([disabled]):focus .md-select-value.md-select-placeholder, md-select:not([disabled]):focus .md-select-value.md-select-placeholder{color:#fff;}

    .md-select-value>span:not(.md-select-icon) .md-text {
        display: inline;
        color: #fff;
    }
    .sortByTextStyle .md-select-value>span:not(.md-select-icon){
        font-family: latoLight;
        font-size: 13px;
    }
    md-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        margin: 20px 0 26px;
        padding-left:17px;
    }
    .jk-carousel .radio-buttons-container md-radio-button .md-off {
        border-color: #A8A9AD;
    }
    .home-page-jk-carrosal-container {
    background-color: #fff;
    margin-top: 4.02em;
}
</style>
<div layout="column" style="background-color: #fff;">
    <!--=========================Carousel==========starts=====================-->
    <!-- <div class="home-page-jk-carrosal-container">
        <jk-carousel  class="sliderCircleOff sliderCircleOn arrowBackgroundColor leftArrowPosition arrowBackgroundColor arrowBackgroundColor rightArrowPosition" data="dataArray" item-template-url="'/website/views/item-template.html'" max-width="4000px" max-height="1450px" auto-slide="true" auto-slide-time="4000" style="position: fixed;" ng-click="openCarouselImageDeal()">

        </jk-carousel>
    </div> -->
    <!--=========================Carousel==========stops=====================-->
    <div flex style="margin-top: 2%;">
        <!--=========================Search==========starts=====================-->
        <div class="listing-cover" flex="100" layout="column">
            <div layout="row" flex layout-align="center">
                <div layout="row" layout-xs="column" class="listing-container" flex="75" >
                    <md-autocomplete  md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-item-text="item.name" md-min-length="1" placeholder="{{myPositionName}}" md-menu-class="autocomplete-custom-template" my-enter="selectedItemChange(item)" flex="100">
                        <md-item-template>
								<span class="item-title">
									<!--<i class="material-icons" id="loc_icon">&#xE0C8;</i>-->
									<span> {{item.name }} </span>
								</span>
                            <span class="item-metadata">
									<span class="item-metastat">
									<strong>{{item.type}}</strong>
									</span>
								</span>
                        </md-item-template>
                    </md-autocomplete>
                    <md-button id="seabackcolor" id="seabackcolor" class="md-raised md-primary listing-search-btn" flex="20" flex-xs="100" ng-click="produceListingPageSalons()">
                        Search
                    </md-button>
                </div>
            </div>
        </div>
        <!--=========================Search==========stops=====================-->

        <!--=========================Filter==========starts=====================-->
        <div layout="row" layout-align="center" flex class="listing-page-filtercontaoiner">
            <div layout="row" flex="50" style="padding-left: 12%;" layout-xs="row" flex="100">
                <md-button ng-model="Filters" placeholder="Filters" class="md-no-underline" id="listing-filter-2"  ng-click="showFilterDialog()"  style="">
                    <span>Filter</span>
                </md-button>
            </div>
            <div layout="row" flex="50" class="listing-page-sortedDistance" layout-xs="row" flex="100" layout-align="end none">
                <md-select ng-model="sortBy" placeholder="Sort By"  class="md-no-underline listing sortByArrowPosition sortByArrowText sortByTextStyle" style="background-color: rgb(210, 35, 42);border-radius:2px;color: #fff;height: 37px;">
                    <md-option value="Distance" ng-click="sortDistanceToggle('distance') " class="list-border">Distance</md-option>
                    <md-option value="Cost" ng-click="sortDistanceToggle('price')"  class="list-border" >Cost</md-option>
                    <md-option value="Rating" ng-click="sortDistanceToggle('rating')" class="list-border">Rating</md-option>
                </md-select>
            </div>
        </div>
        <!--=========================Filter==========stops=====================-->


        <!--=========================Buffer==========starts=====================-->
        <div layout="row" flex  ng-if="listingBufferFlag" class="listing-page-listingBuffer" hide-sm hide-md hide-lg hide-xl>
            <md-progress-circular ng-disabled="false"  class="md-accent bufferColor listing-page-listingBuffercircular" md-diameter="20" style=""></md-progress-circular>
        </div>
        <div layout="row" flex ng-if="listingBufferFlag" hide-xs class="listing-page-listingBuffer" >
            <md-progress-circular ng-disabled="false" class="md-accent bufferColor listing-page-listingBuffercircular" md-diameter="80" ></md-progress-circular>
        </div>

        <div layout="row" flex  ng-if="salons.length==0 && listingBufferFlag==false" >
            <span class="listing-page-Sorrynoresult">Sorry, no results found</span>
        </div>
        <!--=========================Buffer==========stops=====================-->

        <!--=========================Salons==========starts=====================-->
        <div   flex layout-align="center" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex-xs="100" class="listing-page-cart-container">
            <div flex="75" flex-xs="100" flex-sm="75">
                <div flex>
                    <md-content layout="column" flex="100">
                        <div flex>
                            <div layout-xs="column" layout-sm="column" layout="row" flex="100">
                                <div layout="row" flex="100"  style="background-color: #fff;">
                                    <div flex style="overflow: hidden;">
                                        <div layout="column" flex="100">
                                          <div flex>
                                            <md-card class="listing-page-card-modify" md-theme-watch ng-repeat="salon in salons | orderBy: propertyToBeSorted:sortDistanceFlag " ng-if="$even" ng-click="go('/parlor-detail')"  style="margin-bottom:3vh;margin-top:2vh;" flex>
                                                <md-card-content ng-click="parlorDetails(salon)"  flex style="background-color: #fff;" flex>
                                                    <md-card-title-media>

                                                    </md-card-title-media>
                                                    <div layout="row" flex>
                                                        <md-card-actions  style="height: 100px;"flex>
                                                            <div layout="row" flex-xs="100"  flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" >
                                                                <!--card images start-->

                                                                <div layout="row" flex="40">
                                                                    <div class="md-unstyled-image" flex>
                                                                      <!-- <img id="parlor-toplist-flag" ng-src="/images/blueBadge.png" alt="Be U Standard"> -->
                                                                        <img src=" {{salon.images[0].imageUrl}}" alt="">
                                                                    </div>
                                                                </div>
                                                                <!-- card right content-->
                                                                <div layout="row" flex="60" style="padding-left:1em;">
                                                                    <div flex>
                                                                        <div layout="column" flex>
                                                                            <div flex>
                                                                                <div layout="row" flex="100">
                                                                                    <div flex-xs="70" flex-sm="60" flex-md="80" flex-lg="80" flex-xl="80" >
                                                                                        <b>
                                                                                            <span class="listing-page-cartSalonname" style="color:#d2232a" ng-if='salon.parlorType==0'>Be U Premium</span>
                                                                                            <span class="listing-page-cartSalonname" style="color:blue" ng-if='salon.parlorType==1'>Be U Standard</span>
                                                                                            <span class="listing-page-cartSalonname" style="color:#50A956" ng-if='salon.parlorType==2'>Be U Budget</span>

                                                                                        -  <span class="listin-font-size-name">{{salon.name | limitTo:15}}..</b></span>
                                                                                    </div>
                                                                                    <div flex-xs="30"flex-sm="20" flex-md="10" flex-lg="10" flex-xl="10"style="text-align: center">
                                                                                        <span style="color:red"><ng-md-icon icon="place" style="fill: #d2232a" size="20"></ng-md-icon> </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div flex="100" layout="row">
                                                                                    <div flex="70">
                                                                                        <span class="listin-font-size">{{salon.address1 | limitTo:20}}</span>
                                                                                        <br>
                                                                                        <span class="listin-font-size">{{salon.address2 | limitTo:15}}.. </span>
                                                                                    </div>
                                                                                    <div flex="30" style="text-align: center">
                                                                                        <span class="salon_dis">{{salon.distance}} kms</span>
                                                                                    </div>
                                                                                </div>
                                                                                <!--<div  class="listin-font-size" flex>
                                                                                    <span ><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i><span> 10:00 AM</span> - <span> 10:00 PM</span></span>
                                                                                </div>-->
                                                                                <div layout="row" class="listing-page-salonprice" >
                                                                                    <div flex="30">
                                                                                        <span  style="font-size: 11px;"></span><span  style="font-size:11px;"><img style="width: 34px;" src="/website/images/all {{salon.price}} green rupee.png" alt=""></span>
                                                                                    </div>
                                                                                    <div flex="30">
                                                                                        <!--<span style="font-size:11px;background-color: green;color: white;padding:0.2em;#58595b;">{{salon.rating}}</span>-->
                                                                                        <!--<span style="font-size:11px;color:orange"><i class="fa fa-star-o" aria-hidden="true"></i> </span><span style="font-size:11px;">{{salon.rating}}</span>-->

                                                                                    </div>


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </md-card-actions>
                                                    </div>
                                                    <div flex>
                                                        <div layout="row" flex>
                                                            <div layout="column"  flex>
                                                                <div flex>
                                                                    <div layout="row" ng-repeat="service in salon.parlorservices | limitTo: salon.evenCount" ng-if="$even" >
                                                                        <div flex="50" class="listing-deal-font">
                                                                            {{service.name}}
                                                                        </div>
                                                                        <div flex="50" class="list-deal-r">
                                                                            <strike style="color:#d4d4d4" ><span style="color:#d4d4d4"><i class="fa fa-inr " aria-hidden="true"></i></span> <span style="color:#d4d4d4;">{{service.menuPrice}}</span></strike>  <i class="fa fa-inr " aria-hidden="true"></i> <b>{{service.price}}</b>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div layout="column"flex>
                                                                <div flex>
                                                                    <div layout="row" ng-repeat="service in salon.parlorservices | limitTo: salon.oddCount" ng-if="$odd">
                                                                        <div flex="50" class="listing-deal-font">
                                                                            {{service.name}}
                                                                        </div>
                                                                        <div flex="50" class="list-deal-r" style="text-align: right;padding-right: 10%;">
                                                                            <strike style="color:#d4d4d4" ><span style="color:#d4d4d4"><i class="fa fa-inr " aria-hidden="true"></i></span> <span style="color:#d4d4d4;">{{service.menuPrice}}</span></strike>  <i class="fa fa-inr " aria-hidden="true"></i> <b>{{service.price}}</b>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </md-card-content>
                                                <div ng-if="sizeLessThan500Flag" flex>
                                                    <div layout="row" flex="100" layout-align="center" ng-click="seeMoreServices(salon)">
                                                        <span>See {{salon.seeMoreLessContent}}</span>
                                                    </div>
                                                </div>
                                            </md-card>
                                          </div>

                                        </div>
                                    </div>
                                </div>
                                <div layout="row" flex="100" style="background-color: #fff;">
                                    <div flex style="overflow: hidden;">
                                        <div layout="column" flex="100">
                                          <div flex>
                                            <md-card  class="listing-box-effect listing-page-card-modify" md-theme-watch ng-repeat="salon in salons | orderBy: propertyToBeSorted:sortDistanceFlag" ng-if="$odd"  ng-click="go('/parlor-detail')" style="margin-top:2vh;margin-bottom:3vh;">

                                                <md-card-content ng-click="parlorDetails(salon)"  flex>

                                                    <md-card-title-media>

                                                    </md-card-title-media>
                                                    <div layout="row" flex>
                                                        <md-card-actions  style="height:100px;"flex>
                                                            <div layout="row" flex-xs="100"  flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" >
                                                                <!--card images start-->

                                                                <div layout="row" flex="40">
                                                                    <div class="md-unstyled-image" flex>
                                                                        <img src=" {{salon.images[0].imageUrl}}" alt="">
                                                                        <!-- <img src="../images/facial-spa2.jpg" class="md-card-image" alt="image caption" ng-click="go('/parlor-detail')"  >-->
                                                                    </div>
                                                                </div>
                                                                <!-- card right content-->
                                                                <div layout="row" flex="60" style="padding-left:1em;">
                                                                    <div flex>
                                                                        <div layout="column" flex>
                                                                            <div flex>
                                                                                <div layout="row" flex="100">
                                                                                    <div flex-xs="70" flex-sm="60" flex-md="80"flex-lg="80" flex-xl="80" >
                                                                                        <b>
                                                                                            <span class="listing-page-cartSalonname" style="color:#d2232a" ng-if='salon.parlorType==0'>Be U Premium</span>
                                                                                            <span class="listing-page-cartSalonname" style="color:blue" ng-if='salon.parlorType==1'>Be U Standard</span>
                                                                                            <span class="listing-page-cartSalonname" style="color:#50A956" ng-if='salon.parlorType==2'>Be U Budget</span>
                                                                                        </b>
                                                                                        - <span class="listin-font-size-name"> {{salon.name | limitTo:15}}..</span>
                                                                                    </div>
                                                                                    <div flex-xs="30"flex-sm="20" flex-md="10" flex-lg="10" flex-xl="10"style="text-align: center">
                                                                                        <span style="color:red"><ng-md-icon icon="place" style="fill: #d2232a" size="20"></ng-md-icon></span>
                                                                                    </div>


                                                                                </div>




                                                                                <div layout="row" flex="100">
                                                                                    <div flex="70">
                                                                                        <span class="listin-font-size">{{salon.address1 | limitTo:30}} </span><br>
                                                                                        <span class="listin-font-size">{{salon.address2 | limitTo:30}}.. </span>
                                                                                    </div>
                                                                                    <div flex="30" style="text-align: center">
                                                                                        <span class="salon_dis">{{salon.distance}} kms</span>
                                                                                    </div>
                                                                                </div>
                                                                                <!--<div  class="listin-font-size" flex>-->
                                                                                <!--<span ><i class="fa fa-clock-o " aria-hidden="true"></i><span> 10:00 AM</span> - <span> 10:00 PM</span></span>-->
                                                                                <!--</div>-->
                                                                                <div layout="row" style=" border-bottom:1px solid #f2f2f2;margin-top:0.5em;padding-bottom:1em;padding-bottom:0.5em;" >
                                                                                    <div flex="30">
                                                                                        <span  style="font-size: 11px;"></span><span  style="font-size:11px;"><img style="width: 34px;" src="/website/images/all {{salon.price}} green rupee.png" alt=""></span>
                                                                                    </div>

                                                                                    <!--<div flex="30">-->
                                                                                    <!--<span class="salon_dis">{{salon.distance}} kms</span>-->
                                                                                    <!--</div>-->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </md-card-actions>
                                                    </div>
                                                    <div flex>
                                                        <div layout="row" flex>
                                                            <div layout="column"  flex>
                                                                <div flex>
                                                                    <div layout="row" ng-repeat="service in salon.parlorservices | limitTo: salon.evenCount" ng-if="$even" >
                                                                        <div flex="50" class="listing-deal-font">
                                                                            {{service.name}}
                                                                        </div>
                                                                        <div flex="50" class="list-deal-r" >
                                                                            <strike style="color:#d4d4d4" ><span style="color:#d4d4d4"><i class="fa fa-inr " aria-hidden="true"></i></span> <span style="color:#d4d4d4;">{{service.menuPrice}}</span></strike>  <i class="fa fa-inr " aria-hidden="true"></i> <b>{{service.price}}</b>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div layout="column" flex>
                                                                <div   flex>
                                                                    <div layout="row" ng-repeat="service in salon.parlorservices | limitTo: salon.oddCount" ng-if="$odd">
                                                                        <div flex="50" class="listing-deal-font">
                                                                            {{service.name}}
                                                                        </div>
                                                                        <div flex="50" class="list-deal-r" style="text-align: right;padding-right: 10%;">
                                                                            <strike style="color:#d4d4d4" ><span style="color:#d4d4d4"><i class="fa fa-inr " aria-hidden="true"></i></span> <span style="color:#d4d4d4;">{{service.menuPrice}}</span></strike>  <i class="fa fa-inr " aria-hidden="true"></i> <b>{{service.price}}</b>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--<div layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row"  layout-wrap flex="100">
                                                        <div layout="row"  flex-xs="100" flex-sm="50" flex-md="50" flex-lg="50" flex-xl="50" ng-repeat="service in salon.parlorservices">
                                                            <div  flex-xs="50"  flex-sm="70" flex-md="60" flex-lg="60" flex-xl="60" class="listing-deal-font">{{service.name}}</div>
                                                            <div  flex-xs="50" flex-sm="40" flex-md="40" flex-lg="40" flex-xl="40" class="list-deal-r">
                                                                <strike style="color:#d4d4d4" ><span style="color:#d4d4d4"><i class="fa fa-inr " aria-hidden="true"></i></span> <span style="color:#d4d4d4;">{{service.price}}</span></strike>  <i class="fa fa-inr " aria-hidden="true"></i> <b>{{service.price}}</b>
                                                            </div>
                                                        </div>
                                                        </div>-->
                                                    </div>

                                                </md-card-content>
                                                <div ng-if="sizeLessThan500Flag" flex>
                                                    <div layout="row" flex="100" layout-align="center" ng-click="seeMoreServices(salon)">
                                                        <span>See {{salon.seeMoreLessContent}}</span>
                                                    </div>
                                                </div>
                                                <!--start deal-->


                                            </md-card>
                                          </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </div>
            </div>
        </div>
        <!--
            <div flex layout-align="center" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex-xs="100" style="overflow:hidden;background-color: #fff;z-index: 2;position: relative;">
                <div flex="75" flex-xs="100" flex-sm="75">
                    <div layout="row" flex="100">
                        <md-card>
                            <img src="card-image.png" class="md-card-image" alt="image caption">
                            <md-card-content>

                            </md-card-content>
                            <md-card-footer>

                            </md-card-footer>
                        </md-card>
                    </div>
                </div>
            </div>-->
        <!--=========================Salons==========starts=====================-->
    </div>
</div>
