<md-content class="md-padding" layout-xs="column" layout="row" >
    <div layout="row" flex="100" layout-align="center">
        <div layout="row" flex="75">
            <div flex-xs flex-gt-xs="25" layout="column" style="margin-top:10vh;">
                <md-card style="cursor: pointer;">
                    <img src="../images/2.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title style="    padding: 8px 8px 0px;">
                        <md-card-title-text>
                            <span style="font-size:15px;color:#262626;font-weight: 700;">Aalenes Unisex Salon</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content style="padding: 0px 0px 0px 8px;">
                        <h6 style="margin-top: 0.5rem;color:#58595b;">Address</h6>
                        <h6 style="margin-top: -0.5rem;color:#58595b;">Address</h6>
                    </md-card-content>
<!---->
                </md-card>
<!---->
            </div>
<!---->
<!---->
    </div>
    </div>
<!---->
</md-content>