<head>
<update-title title="Be U Salons Deals and Offers | Premium salon chain in Delhi|NCR & Bengalore"></update-title>
<update-meta name="description" content="Be u salons, provides best salon deals on salon services at different be u salon outlets. Hair rebonding deals, Hair straightening deals, Hair keratin deals are top sellig deals of be u salons at very low prices at 80+ outlets all over Delhi-Ncr & Bangalore."></update-meta>
<update-meta property="og:title" content="Best and low price deals for Men & Women by be u salons on Hair & Beauty services at your nearest BeU salon outlet. Great deals with huge discounts on facial, keratin, manicure & pedicure, smoothening, straightening, highlights in Delhi NCR and Bengalore."></update-meta>
</head>
<style>

 .progressLineardemoBasicUsage .bottom-block{
     background-color: rgba(255, 235, 169, 0.25);
 }
   
   


/* --      progress bar  color ----*/
md-progress-linear .md-container .md-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color:#D2232A
}

  .offerPage-pages-salon-list  .active{
            color:#D2232A;
    }

md-progress-linear .md-container {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 6px;
    border-radius:8px;
    -webkit-transform: translate(0,0) scale(1,1);
    transform: translate(0,0) scale(1,1);
}
.offerPage-pages-border {
    border:none;
    margin-top:.3%;
}
#sidebarAccordian{
  font-size:1em;
}
.backButton:hover{
  background:#bdc3c7;
  padding:5px;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

/*
.md-chips md-chip {
    cursor: default;
    border-radius: 16px;
    display: block;
    height: 25px;
    line-height: 22px;
    margin: 8px 8px 0 0;
    padding: 0 12px;
    float: left;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
}
<!-- <<<<<<< HEAD
*/ -->

    .head{
        color:#D2232A;
    }


.md-button.md-raised:not([disabled]) {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.26);
}
.md-whiteframe-1dp, .md-whiteframe-z1 {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px -0px rgba(0,0,0,.12);
}
.vAccordion--default v-pane.is-expanded > v-pane-header {
    border-bottom-color: red;
    padding-left: 10px;
    color:#000;
    font-size: 13px;
    background: #f2f2f2;
}
    .cat-select a{
        color: #000;

    }
     .cat-select a:active{
        color: red;

    }
    .cat-select:hover{
        color:red;
        background-color: #f3f3f3;
    }
    .selected{
      border-right:1px solid green;
    }
    .kh md-autocomplete-wrap {
  	height: 50px;
  	background-image: url(/images/location.svg);
  	background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 18px 10px;
  	padding: 7px 7px 12px 28px;
  	color: #58595b;

  	}
  .kh md-autocomplete-wrap  input:not(.md-input) {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 0 15px;
    line-height: 28px;
    height: 28px;
  }
  


    .mk md-autocomplete-wrap {
  	height: 50px;
  	background-image: url(/images/location.svg);
  	background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 18px 15px;
  	padding: 7px 7px 12px 28px;
  	color: #58595b;

  	}
	@media screen and (min-width:320px) and (max-width:599px) {
    md-autocomplete md-autocomplete-wrap {
  	height: 50px;
  	background-image: url(/images/location.svg);
  	background-repeat: no-repeat;
  	background-size: 21px 33px;
  	background-position: 2px 0px;
  	/* padding: 7px 25px; */
  	padding: 7px 0px 9px 10px;
  	color: #58595b;

  	}
  }
</style>
<div layout="row"  class="new-deal-container-pages-main">
<div flex-xs='100' flex-sm='100' flex="90" >
<md-content>

<md-content flex-xs="100" flex-offset-xs="0" flex-sm="100" flex="95" flex-offset-sm="0"  flex-offset="5" layout-align="center center" style="box-shadow: 0 0px 0px 0 rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px -0px rgba(0,0,0,.12);">

    <md-content flex-xs="100" flex-sm="100" flex="75" layout-padding layout-wrap class="new-dealsalon-progressbar" layout-align="center center" style="padding-left:0;padding-right:0;padding-botwom:0;">

      <div hide-xs layout="row" flex ng-if="(salondeal=='')"   layout-align="center" hide-sm hide-md hide-lg hide-xl style="padding-bottom: 80px;">
           <md-progress-circular ng-disabled="false" class="md-accent bufferColor" md-diameter="30" style="position: relative;z-index: 2;top: 50%;left:0%;"></md-progress-circular>
      </div>
    <div layout="row" hide-md hide-lg flex ng-if="(salondeal=='')"   layout-align="center" hide-sm hide-md hide-lg hide-xl style="padding-bottom: 80px;">
        <md-progress-circular ng-disabled="false" class="md-accent bufferColor" md-diameter="15" style="position: relative;z-index: 2;top:30%;left:0%;"></md-progress-circular>
    </div>

            <div layout="row" flex="100" class="padd-reduce" layout-align="center center" ng-if="passingObject.showIt=='newsalondealListing'">
                <!-- <div flex='65'><input placeholder="Address 2" style="width:97%;height:30px"></div>
                <div flex='35' style="height:30px;border:1px solid #888;text-align:center;font-size:13px;">Get Current Location </div> -->

            <div flex="10" hide-sm hide-md hide-lg hide-xl ng-if="passingObject.showIt!='default'">
                <md-button class="md-fab md-primary md-mini"  aria-label="Back" style="background: transparent;box-shadow: none;border-radius: 0;" ng-click="back()">
                <md-icon class="backButton" style="color:#34495e;">
                    <i class="material-icons">keyboard_backspace</i>
                </md-icon>
              </md-button>
              </div>
                <md-autocomplete  flex-xs="100" class="beu-small-2 kh your-pre-defined-container" md-selected-item="selectedItem.display" md-search-text-change="search(searchText)" md-search-text="searchText"  md-items="item in items"
                    md-item-text="item.description" md-min-length="1" placeholder="Enter Your Location" md-menu-class="autocomplete-custom-template" flex-sm="50" flex-md="90" flex-lg="90" flex-xl="100" ng-model="checkText" md-selected-item-change="selectedItemChange(item)"
                    my-enter="enterHomeSearchBox(searchText)" >
                    <md-item-template flex>
                        <span class="item-title" style="padding-top:0.3em;color: #33373D;font-size:15px;padding-bottom:2%">
                            <!--<i class="material-icons" id="loc_icon">&#xE0C8;</i>-->
                            <span> {{item.description}} </span>
                        </span>
                        <span class="item-metadata" style="margin-top: -11px;">
                            <span class="item-metastat">
                              <strong style="color: #89959B;font-size:11px;">{{item.type}}</strong>
                            </span>
                        </span>
                    </md-item-template>
                </md-autocomplete>

                  <md-button style="min-width:82px" id="seabackcolor-newsalondeal" class="md-raised beu-small beu-small-button locateme" ng-click="searchSalonsDirect()" flex-xs="20" flex-sm="20" flex-md="20" flex-lg="20" flex-xl="20" style="">
                      <i class="fa fa-crosshairs" aria-hidden="true" ng-click="getLocation()"></i>Locate me
                  </md-button>
              <div flex-xs="20" hide-sm hide-md hide-lg hide-xl flex="20" flex-offset="5" style="font-size:12px;text-align:center;margin-left: 0.5em;">
                    <span>{{passingObject.determinateValue}}% Completed</span>

               </div>
            </div>
            <div layout="row" flex="90" hide-xs flex-offset="5" layout-align="center center" class="allpadding" >
              <div flex="10" ng-if="passingObject.showIt!='default' ">
                <md-button class="md-fab md-primary md-mini"  aria-label="Back" style="background: transparent;box-shadow: none;border-radius: 0;" ng-click="back()">
                <md-icon class="backButton" style="color:#34495e;">
                    <i class="material-icons">keyboard_backspace</i>
                </md-icon>
                </md-button>
              </div>
              <div flex-xs="60" flex="60" flex-offset="0">
                <md-progress-linear md-mode="determinate" value={{passingObject.determinateValue}}></md-progress-linear>
               </div>
               <div flex-xs="30"  flex="20" flex-offset="5" style="font-size:12px;">
                    <span>{{passingObject.determinateValue}}% Completed</span>

               </div>
<!--                <div flex="10"><button ng-click="filterBy()">Filter</button></div>-->

           </div>

            <div layout="row" hide-sm hide-md hide-lg hide-xl flex="90" flex-offset="5" layout-align="center center" class="allpadding" ng-if="passingObject.showIt!='newsalondealListing'">
              <div flex="10" ng-if="passingObject.showIt!='default'">
                <md-button class="md-fab md-primary md-mini"  aria-label="Back" style="background: transparent;box-shadow: none;border-radius: 0;" ng-click="back()">
                <md-icon class="backButton" style="color:#34495e;">
                    <i class="material-icons">keyboard_backspace</i>
                </md-icon>
                </md-button>
              </div>
              <div flex-xs="60" flex="70" flex-offset="5">
                <md-progress-linear md-mode="determinate" value={{passingObject.determinateValue}}></md-progress-linear>
               </div>
               <div flex-xs="30"  flex="20" flex-offset="5" style="font-size:12px;">
                    <span>{{passingObject.determinateValue}}% Completed</span>

               </div>

           </div>
           <div layout="row" layout-align="center" ng-if="passingObject.showIt=='default'" style="padding: 0;background: white;color: black;">
            <div flex="30" hide-xs>
              <md-autocomplete
                    ng-disabled="isDisabled"
                    md-no-cache="noCache"
                    md-selected-item="selectedServices"
                md-search-text-change=""
          md-search-text="searchedTxt"
          md-selected-item-change="selectedServicesChange(selectedServices)"
          md-items="item in searchMyQuery(searchedTxt)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Search Services"
          md-menu-class="autocomplete-custom-template" class="mk">
        <md-item-template>
          <span class="item-title">

            <span> {{item.name}} </span>
          </span>
          <span class="item-metadata">
            <span>
<!--              <strong>{{item.watchers}}</strong> watchers-->
            </span>
            <span>
<!--              <strong>{{item.forks}}</strong> forks-->
            </span>
          </span>
        </md-item-template>
      </md-autocomplete>
               
            </div>
             <div flex="20" flex-xs="100" flex-xs-offset="0" flex-offset="0">
               <h4 hide-xs ng-click="calculateScreenHeight()" style="text-align: right;">Select Services</h4>
               <h3  hide-sm hide-md hide-lg hide-xl style="margin-top: 0px;margin-bottom: 0px;font-size:14px;text-align: center;">Select Services</h3>
             </div>
             <div flex="20" flex-offset="0" style="margin-top:.7em;" hide-xs>
               <div layout="row" class="offerPage-pages-padding" >
                   <md-switch id="maleFemale" ng-model="gender.gend" aria-label="Switch 2" ng-true-value="'M'" ng-false-value="'F'" ng-change="genderFilter(gender.gend)"  class="parler-switch switchColorChangeClassMale switchColorChangeClassFemale" ng-class="{moustacheClass:gender.gend=='M',lipClass:gender.gend=='F'}" style="display: inline;">
                   </md-switch>
                   <span  class="offerPage-pages-Servicesfor" style="margin-left: 0.5em;font-size:14px;margin-top: 0.2em;"> Services for:</span> <span ng-show="gender.gend=='F'" class="offerPage-pages-Servicesfor" style="font-size:14px;margin-top: 0.2em;">Female</span><span ng-show="gender.gend=='M'" style="color:#000;font-size:14px;font-family:latoLight;margin-top: 0.2em;">Male</span>
               </div>
             </div>
             <div flex="25" hide-xs style="font-size: .6em;font-style: italic;padding-top: 2%;color: #58595b;">Lowest Prices Mentioned *All Inclusive Prices</div>
           </div>
    </md-content>
    <div flex class="offerPage-container-back">
        <div  flex="100" layout-align="center" layout-sm="row" layout-md="row" layout-lg="row" layout-xl="row" flex-xs="100" style="padding-top:3em;" ng-if="passingObject.showIt=='default'">
              <div layout="row" flex="100" flex-xs="100" flex-sm="100">
                <div layout="row" layout-xs="column" flex="100" class="newSalondealPageTop">
                    <!-- start Accordion here-->
                    <div hide-xs flex-xs="100"  flex="30" flex-offset="0" flex-offset-xs="0" flex-xs="100" flex-sm="100"  class="offerPage-pages-border sidebar-left-page-newsalondeal">
                      

                        <div du-scroll-container="scroll" du-spy-context="scroll"  >


                          <v-accordion class="vAccordion--default" id="accordionA"  control="accordionA" ng-repeat="dealsLists in salondealdepartment.deals" ng-if="gender.gend==dealsLists.gender">


                            <v-pane  ng-repeat="dealsList in dealsLists.departments" id="{{dealsList.name}}"   expanded="dealsList.openFlag">
                                <v-pane-header style="" id="offerPage-pages-newSalonDeal-1"   ng-click="filterNow(dealsList,gend,dealsList)">
                                      <div flex layout="row"><div style="font-size: 1em;" ng-class="{head:dealsList.openFlag}"> {{dealsList.name }}</div>
                                        <div><ng-md-icon  icon="arrow_drop_down" style="fill:#58595b" size="20" ></ng-md-icon></div>
                                      </div>
                                 </v-pane-header>
                                <v-pane-content>

                                 <div layout="row"   class="offerPage-pages-salon-list" ng-if="dealsList1.name!='Packages'"  du-smooth-scroll="{{dealsList1.categoryId}}"   ng-repeat="dealsList1 in dealsList.categories"  ng-click="checkItsClass($event,dealsList.name,$index)">
                                        <div flex="70">
                                             <span ng-if="dealsList1.name!='Packages'"  id="{{dealsList1.categoryId+$index}}" du-scrollspy="{{dealsList1.categoryId}}">{{dealsList1.name}}</span>
                                            </div>

                                             <!-- <div flex="30" layout="row" >
                                                 <div layout="row" flex>
                                                     <div flex="20">
                                                         <span><ng-md-icon icon="remove" style="fill: #58595b"  size="15" ng-click="!((filteredSalonsArray=='')&&(dealFilterForSalons.deals!=''))&&removeDeal($event,dealsServicesList)"></ng-md-icon></span>

                                                     </div>
                                                     <div flex="20">
                                                         <span ng-model="serv.quantity"  class="quantity">
                                                             {{dealsServicesList.quantity}}
                                                         </span>
                                                     </div>
                                                     <div flex="60" style="padding-left:4px">
                                                         <span class="plus-icon"flex="5" ng-click="!((filteredSalonsArray=='')&&(dealFilterForSalons.deals!=''))&&addDeal($event,dealsServicesList)">
                                                            <ng-md-icon icon="add" style="fill: #58595b" size="15"></ng-md-icon>
                                                         </span>
                                                     </div>
                                                 </div>
                                             </div> -->


                                         </div>
                                     </v-pane-content>


                            </v-pane>
                        </v-accordion>


                        </div>


                    </div>
                    <!-- End Accordion here-->

                        <div layout="row" class="offerPage-pages-padding" hide-sm hide-lg hide-md hide-xl ng-init="accordionA.toggle(0)" >
                          <div flex="50">
                                <md-switch id="maleFemale" ng-model="gend" aria-label="Switch 2" ng-true-value="'M'" ng-false-value="'F'" ng-change="genderFilter(gend)"  class="parler-switch switchColorChangeClassMale switchColorChangeClassFemale" ng-class="{moustacheClass:gend=='M',lipClass:gend=='F'}" style="display: inline;">
                                </md-switch>
                                <span  class="offerPage-pages-Servicesfor"> Services for:</span> <span ng-show="gend=='F'" class="offerPage-pages-Servicesfor">Female</span><span ng-show="gend=='M'" class="offerPage-pages-Servicesfor" style="color:#000;font-family:latoLight;">Male</span>
                        </div>
                        <div flex="50" style="font-size: .5em;font-style: italic;padding-top: 3%;color: #58595b;">Lowest Prices Mentioned *All Inclusive Prices
                        </div>
                        </div>
                    <div layout="row">
                        <div  hide-sm hide-lg hide-md hide-xl ng-repeat="dealsLists in salondealdepartment.deals" ng-if="gend==dealsLists.gender" ng-init="b=dealslists">
                             <md-chips  class="custom-chips  crossSizeMdChip mdChipsColor" ng-model="dealsLists.departments" readonly="true">

                                  <md-chip-template>
                                      <span flex-xs='20'>
                                          <strong class="new-dealchip" ng-click="getServices($chip,gend,$chip)">{{$chip.name}}</strong>
                                      </span>
                                  </md-chip-template>
                            </md-chips>
                        </div>

                     
                      </div>
                       <div class="loaderNewSalonDeal" ng-if="loader" layoout="row" layout-align="center" flex-xs="30" flex-xs-offset="35" flex-offset="60" flex="10" ng-init="accordionA.toggle(0)"  >
                            <md-progress-circular ng-disabled="false" class="md-accent bufferColor" md-diameter="70"></md-progress-circular>
                        </div>

                    <!-- Start deal cart here-->

               <div  id="scroll"  du-scroll-context ng-show="!loader" flex-xl="100" flex="80" flex-xs="100" flex-sm="100" class="new-salon-middle-content" ng-init="applyScrollContainer('scroll','scroll')" >

                        <md-content>

                            <md-card id={{dealsList.id}}    ng-repeat="dealsList in salondeal.categories" ng-if="dealsList.name!='Packages'" >
                                <div layout="row">
                                  <div flex="100" class="departments-head"> <h3 style="font-weight: bold;font-size: 1em;padding-left:3%;">{{dealsList.name}} </h3></div>
                                </div>

                                <md-content layout-padding layout-wrap ng-repeat="e in dealsList.deals" class="department-cat" style="border-bottom:1px solid #f3f3f3;" ng-style="$odd && {'background-color':'#fff'}  || $even && {'background-color':'#FFEDF1'}" >
                                     <div layout="row" style="padding-bottom: 0px;">
                                         <div flex="5"><div><img src="/images/percent.png" alt="discount persentage icon" style="width:24px;"></div>
                                         </div>
                                         <div flex class="department-description" style="padding-top: 1%;">{{e.name}}</div>
                                         <!-- <div flex="10"><img src="/images/share.png" alt="share" style="width:25% "></div> -->
                                                <div flex-xs="20"  flex="10" ng-if="e.quantity>0">
                                           <div ng-show="btnflag2" layout="row" style="font-size:.8em;border:1px solid green;border-radius:10px;border-radius: 6px;text-align: center;">
                                             <div flex="33" style="padding-top: 5%;">  <span ><ng-md-icon icon="remove" style="fill: #3e780a"  size="15" ng-click="removeItem(dealsList,e);"></ng-md-icon></span></div>
                                             <div flex="33" style="background:green;color:#fff;padding-top: 3%;">{{e.quantity}}</div>
                                             <div  flex="33" style="padding-top: 5%;">  <span flex="10"><ng-md-icon icon="add" style="fill: #3e780a" size="15" ng-click="additem(dealsList,e);"></ng-md-icon></span>
                                             </div>
                                           </div>
                                         </div>

                                        <div flex-xs="20" flex="10" ng-if="!e.quantity">
                                          <div  style="border:1px solid green;border-radius:10px;border-radius: 6px;text-align: center;font-size:.8em;padding-bottom:0.1em;padding-top:0.1em;cursor:pointer;" ng-click="additem(dealsList,e,$event);">Add

                                        </div>
                                        </div>

                                     </div>
                              <div layout="row" style="padding-top:0">
                                  <div flex="100" style="color:#a9a9ab;font-size:11px;padding-left: 6%;">{{e.description}}</div>
                              </div>
            <div layout="row" style="padding:0">
                <div flex="100" ng-if=""><img src="/images/Flat price.png" alt="deal flat" style="width:34%;height:90%;"></div>
            </div>
                                    <div layout="row"  class="content-center-page" layout-align="center center">
                                         <!-- <div flex="15" style="margin-left:3%"><strike> {{e.menuPrice}}</strike></div> -->
                                        <div flex-xs="5" flex="5" ng-repeat-start="m in e.parlorTypes">
                                           <img src="/images/Be U Premium red badge.png"  ng-if="m.type==0" alt="red icon" class="salon-img-car">
                                           <img src="/images/Be U Standard Blue badge.png" ng-if="m.type==1"  class="salon-img-mid" alt="red icon">
                                           <img src="/images/Be U Budget green badge.png" ng-if="m.type==2"  class="salon-img-mid"  alt="red icon">
                                         </div>
                                         <div ng-if="m.save!=undefined"  flex-xs="15" flex="15"  class="palortype">
                                           <span><div class="save-newdealpersentage">Save {{e.parlorTypes[$index].save}}  %</div></span>
                                         </div>
                                         <div flex-xs="10" flex="30" ng-if="m.save==undefined" style="text-align:center;" ng-style="!$last && {'border-right':'1px solid green'}"><span>-</span></div>

                                         <div ng-if="m.save!=undefined" flex-xs="10" flex="15" class="last-rate" ng-repeat-end><div ng-class="{selected:!$last}"><b class="startAtPrice">&#x20B9;{{m.startAt}}</b></div></div>
                                   </div>


                               </md-content>

                             </md-card>
                        </md-content>
                     </div>


                    </div>

                </div>

              </div>

              <div flex="100" flex-xs="100" flex-sm="100" class="common-page-newdeal" ng-if="passingObject.showIt=='newsalondealListing'" >
                    <div ng-include src="'/website/views/salon-deal-listing.html'"> </div>
              </div>
              <div   flex="100" flex-xs="100" flex-sm="100" class="common-page-newdeal" ng-if="passingObject.showIt=='scheduleAppointment'" >
                <div ng-include src="'/website/views/scheduleAppointment.html'"> </div>
              </div>
              <div flex="100" flex-xs="100" flex-sm="100" class="common-page-newdeal" ng-if="passingObject.showIt=='loginPage'" >
                <div ng-include src="'/website/views/loginSalonDeals.html'"> </div>
              </div>
              <div flex="80" flex-xs="100" flex-sm="100" class="common-page-newdeal" ng-if="passingObject.showIt=='SalonDealsBillsummary'" >
                <div ng-include src="'/website/views/SalonDealsBillsummary.html'"> </div>
              </div>
                <div flex="55" flex-xs="100" flex-sm="100" class="common-page-newdeal" ng-if="passingObject.showIt=='BookingSummary'" >
                <div ng-include src="'/website/views/bookingSummary.html'"> </div>
              </div>


      <md-content flex-offset-xs="0"  flex-offset="35" flex-xs="100" flex="100" layout-padding layout-wrap class="cart-footer-newsalondeal" ng-if="!hideFooter && (passingObject.determinateValue!=86 ) ">

                    <div layout="row"  ng-if="cart.cartProduct.length>0 && (passingObject.determinateValue!=34 )" layout-align="center" class="new-dealfooter-page">
                      <div ng-if="cart.totalQuantity" flex="30" style="text-align: center;border: 1px solid white; margin: 0.5em; border-radius: 5px;cursor:pointer;"  ng-click="viewCart(cart.cartProduct,$event)">
                        <span class="newSalonDealShowCart">Show Cart - </span>
                        <span class="newSalonDealShowCart">{{cart.totalQuantity}}</span>
                        <span class="newSalonDealShowCart" ng-if="cart.totalQuantity==1">Item</span>
                        <span class="newSalonDealShowCart" ng-if="cart.totalQuantity!=1">Items</span>

                      </div>
                      <!-- <div flex="10" ng-click="viewCart(cart.cartProduct,$event)"><div style="border-radius:5px;border:1px solid #fff;text-align:center;color: #fff;font-weight: 900;cursor: pointer;margin-top: 22%;" ng-if="cart.totalQuantity">{{cart.totalQuantity}}</div></div> -->
                     <div flex="40" style="text-align:center;color: #fff;font-weight: 900;padding-top: 2%;padding-bottom: 2%;"  ng-if="cart.totalPrice">&#8377;{{cart.totalPrice}}</div>
                     <div flex="30" ng-if="cart.cartProduct.length>0 && !hideNextButton" ng-click="next('clicked')" style="border-radius:4px;color:#000;background: #fff;text-align:center;cursor:pointer;padding-top: 2%;padding-bottom: 2%;">Next</div>
                   </div>

      </md-content>
  </div>


</md-content>


</md-content>
</div>

  <div hide-xs hide-sm flex="30" style="margin-top:4em;padding: 1%;" >
    <div layout="row" ng-show=" passingObject.determinateValue!=86"  >

      <div flex="100" >
                <md-content style="overflow:hidden;">
                    <div layout="row" >
                      <div style="color:white;width:100%;text-align:center;">
                          <h4 style="margin-top: 5px;margin-bottom: 5px;font-size:1.3em;font-weight: 700;color: #000">Your Cart </h4>
                      </div>
                    </div>
                    <div layout="row" ng-if="passingObject.determinateValue==76">
                        <div  flex="100" style="padding: 1%;font-family: sans-serif;">
                            <div style="font-size:0.9em;text-align:center;">
                                Booking for:{{finalData.name}}
                            </div>
                            <div style="font-size:0.7em; color:#6b6969;font-family: sans-serif;font-family:LatoRegular;text-align:center;">
                              {{finalData.address1}} {{finalData.address2}}
                          </div>
                            <div style="font-size:0.7em;font-family: sans-serif;font-family:LatoRegular;"></div>
                            <div flex style="font-size:11px;font-family: initial;font-family:LatoRegular;text-align:center;">{{finalData.date | date:"EEEE,MMM d" }}&nbsp;&nbsp;{{finalData.date |date:"HH:mm a"}}</div>
                        </div>

                    </div>
                 
           
                        <md-divider ng-if="!$first"></md-divider>
                          <div   layout="row "  ng-repeat="cart in cart.cartProduct" style="border-bottom: 1px solid #f2f2f2;padding-bottom: 2%;padding-top: 2%;padding-left: 1%;">
                            <div flex=60>

                             <span  ng-if="cart.name"  style="font-weight:600;font-size:13px">{{cart.name}}</span>
                             
                            <span ng-if="!cart.name"  style="font-weight:600;font-size:13px">{{cart.services[0].name}}</span>
                            <br>
                            <span ng-if="cart.shortDescription" class="shortDescription" style="font-size: .6em">{{cart.shortDescription}}</span>
                            <span ng-if="!cart.shortDescription" class="shortDescription">
                             <span ng-if="cart.services[0].brandName" style="font-weight:600;font-size:13px">
                                {{cart.services[0].brandName}}
                            </span>
                         <span ng-if="cart.services[0].productId"  style="font-weight:600;font-size:13px">
                                - {{cart.services[0].productName}}
                            </span>
                            </span>
                            </div>
                            <div flex='20' style="color:green;font-weight:600;">
                                    &#x20B9;{{cart.price}}
                            </div>
                            <div flex="20">
                            
                               <div layout="row" style="font-size:.8em;border:1px solid green;border-radius:10px;border-radius: 6px;text-align: center;">
                                 <div flex="33" style="padding-top: 5%;">  <span ><ng-md-icon icon="remove" style="fill: #3e780a"  size="15" ng-click="sideCartSubstract($index)"></ng-md-icon></span></div>
                                 <div flex="33" style="background:green;color:#fff;padding-top: 3%;">{{cart.quantity}}</div>
                                 <div  flex="33" style="padding-top: 5%;">  <span flex="10"><ng-md-icon icon="add" style="fill: #3e780a" size="15" ng-click="sideCartAdd($index)"></ng-md-icon></span>
                                 </div>
                               </div>
                            </div>
                            </div>
           
             
                            <div ng-if="cart.cartProduct.length>0" layout="row" style="background-color:#d2232a;padding-bottom: 2%;padding-top: 2%;color:#fff;padding-left: 1%;margin-top: 1%;">
                              <div flex="50" style="font-weight: 600;text-align: center;">
                                      Total Price    
                              </div>
                              <div flex="50" style="text-align: center;font-weight: 600;">
                                          &#x20B9;{{cart.totalPrice|number:0 }}
                              </div>
                            </div>
                 
                </md-content>
      </div>
    </div>
  </div>
</div>