<style media="screen">

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    background: #FDACAB;
    color: #000;
}
md-tab-item{
  background: white;
  margin-left: 1em;
  margin-right: 1em;
}
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

    md-pagination-wrapper {
    width: 999999px !important;
    }
    <!-- div.backgroundChange:nth-of-type(3n+1){
        background: #FDACAB;
    }
    div.backgroundChange:nth-of-type(3n+2){
        background: #ffffff;
    }
    div.backgroundChange:nth-of-type(3n+3){
        background: #E6FFFC;
    } -->
</style>

<meta name="title" content="Details of salon services at Be U in Delhi-NCR & Bangalore | Be U Salons "/>
   <meta name="description" content="Be U Salons is here with a break up of all our services we offer.  Starting from hair highlights to manicure and pedicure. Get professional service from the experts and book your appointment across 85+ salons in Delhi-NCR & Bangalore." />
<meta name="keywords"  content="hair rebonding, salons, hair deals, keratin, hair smoothening, makeup, beauty packages"/>
<!-- title with stamp -->
<!-- <div layout="row" flex="100" ng-cloak>
  <div show-lg show-xl hide-xs show-sm show-md layout="column" flex="5" flex-offset="5" flex-offset-xs="5"  flex-sm="20" flex-offset-sm="0" style="margin-top:5em;" layout-align="center"  ng-cloak>
    <md-switch id="maleFemale" ng-model="gend" aria-label="Switch 2" ng-true-value="'M'" ng-false-value="'F'" ng-change="genderFilter(gend)"  class="parler-switch switchColorChangeClassMale switchColorChangeClassFemale" ng-class="{moustacheClass:gend=='M',lipClass:gend=='F'}" style="display: inline;">
    </md-switch>
  </div>
  <div flex-gt-md="50" flex-offset="10" flex-offset-xs="0" flex-xs="100" flex-sm="70" flex-offset-sm="0" flex-offset-md="0" class="pageTitle"  ng-cloak>
    <div layout="row" layout-align="start center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" class="bestParlorsTitle"  ng-cloak>
        <div layout="row" flex="100"  ng-cloak>
          <h2 class="titleText"  ng-cloak>Service</h2>
        </div>
    </div>
    <div class="titleUnderline" show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100"  ng-cloak>
        <div class="titleLine" style="border-top:1px solid #FF4B4B;" ng-cloak></div>
    </div>
    <div class="titleUnderline" hide-xs hide-sm hide-md show-lg show-xl layout="row" layout-align="start center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100"  ng-cloak>
        <div class="titleLine" style="border-top:1px solid #FF4B4B;"  ng-cloak></div>
    </div>
    <div hide-lg hide-xl show-xs hide-sm hide-md layout="column" flex="100" style="margin-top:1em;" layout-align="center center"  ng-cloak>
      <img ng-src="/images/stamp.png" alt="Download App" id="stampImage"  ng-cloak>
    </div>
  </div>
</div> -->

<!-- title with stamp -->



<!-- Title -->

  <div layout-align="center" class="serviceDetailsPageHeading "  ng-cloak>
    <div layout="row"  ng-cloak>
      <div layout="row" flex="15" flex-xs="25" flex-offset-xs="5" layout-align="center"  ng-cloak>
        <span class="textMaleFemale" ng-if="gend=='F'">Female</span>
        <span class="textMaleFemale" ng-if="gend=='M'">Male</span>
        <div layout-align="center center" class="switchGend"  ng-cloak>
          <md-switch id="maleFemale" ng-model="gend" aria-label="Switch 2" ng-true-value="'M'" ng-false-value="'F'" ng-change="genderFilter()"  class="parler-switch switchColorChangeClassMale switchColorChangeClassFemale" ng-class="{moustacheClass:gend=='M',lipClass:gend=='F'}" style="display: inline;">
          </md-switch>
        </div>
      </div>

      <div layout-align="center center" flex="10" flex-xs="20" flex-offset-xs="10" flex-offset="30" class="bestParlorsTitle"  ng-cloak>
          <p class="home-page-heading" style="margin-bottom:0;text-align: center;">Services</p>
      </div>
    </div>

      <div show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
          <div style="width:14%;border-top:1px solid #FF4B4B;"></div>
      </div>
      <div hide-xs hide-sm show-md show-lg show-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100">
          <div style="width:6%;border-top:1px solid #FF4B4B;"></div>
      </div>
  </div>

  <!-- Title -->
    <div layout="row" flex="70" flex-offset="15" flex-xs="100" flex-offset-xs="0" layout-align="center center" class="serviceDetailsPageContent" layout-wrap  ng-cloak>

        <div ng-if="gend=='F'" flex="15" flex-xs="30" ng-repeat="data in departmentFemale" ng-class="($index==selectedDepartmentIndex) ? 'deptMAinDivSelected' : 'deptMAinDiv'" style="padding-top:0.5em;cursor:pointer;" ng-click="departmentSelection($index)" ng-style="$last && {'border':'0px solid black;'}" ng-cloak>
        <div style="text-align: center;">
          <img ng-src="{{data.image}}" alt="" style="width:80%;border: 2px dashed #dfdcdc;border-radius: 50%;padding: 0.5em;"  ng-if="selectedDepartmentIndex==$index"  ng-cloak>
          <img ng-src="{{data.image}}" alt="" style="width:80%;"  ng-if="selectedDepartmentIndex!=$index"  ng-cloak>

        </div>
        <div style="text-align: center;" class="serviceDetailDeptName"  ng-cloak>
          <div style="margin-top:0.6em"  ng-cloak>
            <span>
              <b ng-if="selectedDepartmentIndex==$index">{{data.name}}</b>
            </span>
          </div>
          <div  style="margin-top:1em;"  ng-cloak>
            <span>
              <b ng-if="selectedDepartmentIndex!=$index">{{data.name}}</b>
            </span>
          </div>
        </div>
      </div>

      <div ng-if="gend=='M'" flex="15" flex-xs="30" ng-repeat="data in departmentMale" ng-class="($index==selectedDepartmentIndex) ? 'deptMAinDivSelected' : 'deptMAinDiv'" style="padding-top:0.5em;cursor:pointer;" ng-click="departmentSelection($index)"  ng-cloak>
        <div  style="text-align: center;"  ng-cloak>
          <img ng-src="{{data.imageSelected}}" alt="" style="width:100%;"  ng-if="selectedDepartmentIndex==$index" >
          <img ng-src="{{data.image}}" alt="" style="width:80%;"  ng-if="selectedDepartmentIndex!=$index" >

        </div>
        <div style="text-align: center;" class="serviceDetailDeptName"  ng-cloak>
          <div style="margin-top:1em;"  ng-cloak>
            <span>
              <b ng-if="selectedDepartmentIndex==$index">{{data.name}}</b>
            </span>
          </div>
          <div  style="margin-top:1em;"  ng-cloak>
            <span>
              <b ng-if="selectedDepartmentIndex!=$index">{{data.name}}</b>
            </span>
          </div>
        </div>
      </div>

    </div>

  <div layout="row" layout-align="center center" flex="100" style="background:#FAFAFA;padding-bottom: 4em;" class="serviceDetailsTab"  ng-cloak>
    <div flex="10" ng-if="loader" style="margin-top: 2em;margin-bottom: 3em;"  ng-cloak>
      <md-progress-circular ng-disabled="false" class="md-accent bufferColor" md-diameter="80" style="margin: 0 auto;position: relative;z-index: 2;top: 50%;left:0%;"></md-progress-circular>
    </div>

    <div flex="60" flex-xs="100" ng-if="!loader" ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height style="background: #FAFAFA;">
            <md-tab label="{{data.name}}" ng-repeat = "data in tabCategories" md-selected="selectedTab" md-on-select="tabclicked(data.name,$index)">
              <md-content class="md-padding">
                <span style="color:#D02631"><b>{{data.name}}:</b></span>
                <div ng-repeat="value in tabInfo" style="margin-top: 1em;"  ng-cloak>
                  <span class="servicesDetailsCatName"><b>{{value.name}}</b></span>
                  <p style="margin-top: 0.2em;margin-bottom: 0.5em;" class="servicesDetailsCatDesc">{{value.description}}</p>
                  <hr ng-if="!$last">
                </div>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
    </div>
</div>
