<style media="screen">
  .box{
    border: double 4px #F37A75;
    outline: solid 3px #F37A75;
    margin-bottom: 2em;
  }
</style>
<!-- title with stamp -->
<div layout="row" flex="100" ng-cloak>
  <div show-lg show-xl hide-xs show-sm show-md layout="column" flex="20" flex-offset="10" flex-offset-xs="5"  flex-sm="20" flex-offset-sm="0" style="margin-top:5em;" layout-align="end end"  ng-cloak>
    <img ng-src="/images/stamp.png" alt="Download App" id="stampImage"  ng-cloak>
  </div>
  <div flex-gt-md="50" flex-offset="10" flex-offset-xs="0" flex-xs="100" flex-sm="70" flex-offset-sm="0" flex-offset-md="0" class="pageTitle"  ng-cloak>
    <div layout="row" layout-align="start center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100" class="bestParlorsTitle"  ng-cloak>
        <div layout="row" flex="100"  ng-cloak>
          <h2 class="titleText"  ng-cloak>Salon App For Hair & Beauty Deals</h2>
        </div>
    </div>
    <div class="titleUnderline" show-xs show-sm hide-md hide-lg hide-xl layout="row" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100"  ng-cloak>
        <div class="titleLine" style="border-top:1px solid #FF4B4B;" ng-cloak></div>
    </div>
    <div class="titleUnderline" hide-xs hide-sm hide-md show-lg show-xl layout="row" layout-align="start center" flex-xs="100" flex-sm="100" flex-md="100" flex-lg="100" flex-xl="100"  ng-cloak>
        <div class="titleLine" style="border-top:1px solid #FF4B4B;"  ng-cloak></div>
    </div>
    <div hide-lg hide-xl show-xs hide-sm hide-md layout="column" flex="100" style="margin-top:1em;" layout-align="center center"  ng-cloak>
      <img ng-src="/images/stamp.png" alt="Download App" id="stampImage"  ng-cloak>
    </div>
  </div>
</div>

<!-- title with stamp -->

    <div layout="row" flex="90" flex-offset="5" flex-xs="90" flex-offset-xs="5" ng-cloak>
      <div  flex="75" layout-xs="column" flex-xs="100" flex-sm="100" flex-md="100"  ng-cloak>
        <md-content class="md-padding" layout-xs="column" layout="row" layout-wrap style="background: white;" >
          <div flex-gt-xs="55" flex-sm="100"   ng-cloak>
            <md-card style="width:100%;margin:0;box-shadow:none;">
                <md-card-content>
                  <p class="bookUs"  ng-cloak>
                    BOOK US <br />
                    THROUGH APP
                    <br />
                    AND SAVE MORE</p>
                    </md-card-content>
                    <md-card-content style="padding-top:0;padding-bottom: 0.3em;">
                      <p class="bookUsText"  ng-cloak>Our deals are valid on app bookings only.</p>
                    </md-card-content>
                    <md-card-content style="padding-top: 0;">
                      <p class="bookUsText" ng-cloak>Follow the download link and avail exciting offers through our freebie points, packages, family wallet...</p>
                    </md-card-content>
                    <md-card-content style="padding-bottom: 0;">
                      <div layout="row" flex="100" style="text-align: center;border:1px black solid;padding:0.5em;"  ng-cloak>
                        <div layout="column" flex="20" flex-xs="20"flex-offset="10" flex-offset-xs="5"  ng-cloak>
                          <img ng-src="/images/downloadMobile.png" alt="" style="width: 50%;"  ng-cloak>
                        </div>
                        <div layout="column" flex="25" flex-xs="30" style="margin-top: 1.4em;"  ng-cloak>
                          <a href="https://play.google.com/store/apps/details?id=com.beusalons.android&hl=en" target="_blank"><img ng-src="/images/androidAppStore.png" alt="Download App" style="width:95%;"></a>

                        </div>
                        <div layout="column" flex="25" flex-xs="30" style="margin-top: 1.4em;"  flex-offset="5"  ng-cloak>
                          <a href="https://itunes.apple.com/app/id1206326408?mt=8" target="_blank"><img ng-src="/images/appleAppStore.png" alt="Download App" style="width:95%;"></a>
                        </div>
                      </div>
                    </md-card-content>
                    <md-card-content style="padding-right: 0;">
                      <div layout="row" flex="100"  ng-cloak>
                        <div hide-xs hide-sm show-md show-xl show-lg layout="column" flex="60"  ng-cloak>
                          <div layout="row" flex="100"  layout-align="start end"  ng-cloak>
                            <p class="facebook_like" style="margin-bottom:0;" >Like us on <a href="https://www.facebook.com/BeUsalons/" target="_blank"><img src="../website/images/facebook.png" alt=""></a> /BeUSalons</p>
                          </div>
                        </div>
                        <div layout="column" flex="40" flex-xs="100" flex-offset-sm="30"  ng-cloak>
                          <img ng-src="/images/lady.png" alt="Download App" style="width:100%;">
                        </div>
                      </div>

                    </md-card-content>
                </md-card>
                <md-card hide-xl hide-lg show-md show-xs show-sm class="contactFormLeft" style="background: #ecf0f1;margin:0 auto;margin-top:0.5em;">
                        <md-card-content>
                          <md-input-container class="md-icon-float chatWindowText" style="width: 100%;">
                            <p style="margin: 0;font-size:12px;margin-bottom: 1em;" ng-cloak>Don't wish to download the app? Worry Not! We have got you covered.
Fill out the form below and we'll get back to you shortly.</p>
                          </md-input-container>

                                <md-input-container class="md-icon-float md-block" style="margin:0">
                                    <!-- Use floating label instead of placeholder -->
                                    <label>Name</label>
                                    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                    <input ng-model="dialog.queryName"  type="text">

                                </md-input-container>

                                <md-input-container md-no-float class="md-block" style="margin:0">
                                    <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                                    <input ng-model="dialog.queryPhoneNumber" type="number" placeholder="Phone Number">
                                </md-input-container>

                                <md-input-container class="md-block"  style="margin:0">
                                    <!-- Use floating placeholder instead of label -->
                                    <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>

                                    <input ng-model="dialog.queryEmail" type="email" placeholder="Email (Optional)">

                                </md-input-container>
                                <md-input-container class="md-block"  style="margin: 0;">
                                  <textarea ng-model="dialog.queryComment" md-maxlength="150" rows="2" md-select-on-focus placeholder="Leave Comment..."></textarea>
                                </md-input-container>
                                <!-- <md-input-container  class="md-block" style="margin:0;width:20em;">
                                  <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="cb" class="md-primary"></md-checkbox>
                                  <span style="font-size:12px">I authorize Be U Salons to contact me via email or phone or SMS.</span>
                                </md-input-container> -->
                                <md-input-container class="md-block" style="margin:0;text-align:center;width:17em;font-weight:bold;">
                                  <span style="font-size:15px;">{{message}}</span>
                                </md-input-container>
                                <div layout="column" flex="100" class="addReviewDialog-page-margin" layout-align="center center">
                                    <md-button id="contactSubmit"  ng-click="websiteQuerySubmit()">Send</md-button>
                                </div>
                        </md-card-content>
                    </md-card>
          </div>
          <div flex-gt-xs="45" flex-sm="100" layout="column" ng-cloak  >
            <md-card style="width:100%;box-shadow:none;">
                  <img ng-src="/images/phoneIcon.png" alt="" style="width: 70%;" id="phoneImage">
            </md-card>
            <div layout="row"  layout-xs="column" ng-cloak>
              <div layout="column" layout-xs="row" ng-cloak>
                <md-card  hide-xl hide-lg show-md show-xs show-sm style="margin-top: 0.5em;" class="bannerSize" >
                  <img ng-src="/images/bannerBestSalonApp1.png" class="md-card-image" alt="Washed Out">
                </md-card>
              </div>
              <div layout="column"  layout-xs="row" ng-cloak>
                <md-card  hide-xl hide-lg show-md show-xs show-sm style="margin-top: 0.5em;" class="bannerSize">
                  <img ng-src="/images/bannerBestSalonApp2.png" class="md-card-image" alt="Washed Out">
                </md-card>
              </div>
            </div>
          </div>
        </md-content>
      </div>
      <div hide-xs hide-sm hide-md show-xl show-lg flex="25" style="margin-top: 1em;" ng-cloak>

            <md-card style="margin:0; margin-top: 0.5em;">
              <img ng-src="/images/bannerBestSalonApp1.png" class="md-card-image" alt="Washed Out">
            </md-card>
            <md-card style="background: #ecf0f1;width:100%;margin:0;margin-top:0.5em;">
                    <md-card-content>
                      <md-input-container class="md-icon-float chatWindowText" style="width:100%">
                        <p style="margin: 0;font-size:12px;margin-bottom: 1em;">Don't wish to download the app? Worry Not! We have got you covered.
Fill out the form below and we'll get back to you shortly.</p>
                      </md-input-container>

                            <md-input-container class="md-icon-float md-block" style="margin:0">
                                <!-- Use floating label instead of placeholder -->
                                <label>Name</label>
                                <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                <input ng-model="dialog.queryName"  type="text">

                            </md-input-container>

                            <md-input-container md-no-float class="md-block" style="margin:0">
                                <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                                <input ng-model="dialog.queryPhoneNumber" type="number" placeholder="Phone Number">
                            </md-input-container>

                            <md-input-container class="md-block"  style="margin:0">
                                <!-- Use floating placeholder instead of label -->
                                <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>

                                <input ng-model="dialog.queryEmail" type="email" placeholder="Email (Optional)">

                            </md-input-container>
                            <md-input-container class="md-block"  style="margin: 0;">
                              <textarea ng-model="dialog.queryComment" md-maxlength="150" rows="2" md-select-on-focus placeholder="Leave Comment..."></textarea>
                            </md-input-container>
                            <!-- <md-input-container  class="md-block" style="margin:0;width:20em;">
                              <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="cb" class="md-primary"></md-checkbox>
                              <span style="font-size:12px">I authorize Be U Salons to contact me via email or phone or SMS.</span>
                            </md-input-container> -->
                            <md-input-container class="md-block" style="margin:0;text-align:center;width:17em;font-weight:bold;">
                              <span style="font-size:15px;">{{message}}</span>
                            </md-input-container>
                            <div layout="column" flex="100" class="addReviewDialog-page-margin" layout-align="center center">
                                <md-button id="contactSubmit"  ng-click="websiteQuerySubmit()">Send</md-button>
                            </div>
                    </md-card-content>
                </md-card>
            <md-card style="margin:0; margin-top: 0.5em;">
              <img ng-src="/images/bannerBestSalonApp2.png" class="md-card-image" alt="Washed Out">
            </md-card>
      </div>
    </div>
