


<style type="text/css">
 
md-input-container{
    margin:0px 0px 0px 0px;

}

</style>
<div layout="column">
<!--     <div class="progressBar" layout-padding layout-wrap ng-if="loader">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular ng-disabled="false" class="md-accent bufferColor" md-diameter="70"></md-progress-circular>
    </div>

  </div> -->
<div class="salon-pass-m" ng-cloak>
    <md-content ng-cloak>
 
      <div layout="row" flex="100"  flex-offset="0" flex-xs="100"  flex-offset-xs="0">
        <div flex="100">
          <div layout="row">
            <div class="hero"> 
              <img src="../img/Become partner salon - section 1 - 1349x580.png" class="img-content-pass" alt="salon-pass">
            </div>
          </div>
        </div>
      </div>
      <div layout="row" style="padding-top: 3%;padding-bottom: 4%;">
        <div flex="100">
          <div class="hero-box">
       
      <div layout="row" flex="80"  flex-offset="10" flex-xs="100"  flex-offset-xs="0">
         <div flex="95" id="id" class="salon-parner-3step">Let technology help you<br>turn around your salon</div>
         <div style="position:relative;"><button ng-if="btnFlag" ng-click="scrollWin(id)" style="position: fixed;right: 22px;top:13%;">clcick</button></div>
      </div>
      <div layout="row" layout-xs="column" flex-sm="100" flex="60"  flex-offset-sm="0"  flex-offset="20" flex-xs="100"  flex-offset-xs="0">

          <div flex-xs="90" flex="33">
            <md-card class="salon-pass-card"> 
              <div layout="row" layout-align="center center">
                <img src="../img/partner salon - section 2 - step 1.png" alt="logo" class="salon-pass-logo">
              </div>
              <div layout="row" layout-align="center center">
                <div class="salon-pass-appdown">Gruantanteed New<br>Busuness Every Month<br><br><br></div>
              </div>
            </md-card>

          </div>
          <div flex-xs="90"  flex="33">
           <md-card class="salon-pass-card"> 
              <div layout="row" layout-align="center center">
                <img src="../img/partner salon - section 2 - step 2.png" alt="logo" class="salon-pass-logo">
              </div>
              <div layout="row" layout-align="center center">
                <div class="salon-pass-appdown"><span>45% product discounts<span><br><span>on brands</span><br><span style="font-size: 11px;">(Lorial,Global,Kariten,O3,Lotus,Cheryls,etc)<br><br></span></div>
              </div>
            </md-card>
          </div>
          <div flex-xs="90"  flex="33">
             <md-card class="salon-pass-card"> 
              <div layout="row" layout-align="center center">
               <img src="../img/partner salon - section 2 - step 3.png" alt="logo" class="salon-pass-logo">
              </div>
              <div layout="row" layout-align="center center">
                <div class="salon-pass-appdown"><span>Subscription model</span><br><span>to make customers</span><br><span>visit every month and</span><br><span>spend more</span></div>
              </div>
            </md-card>
          </div>
      </div>
       </div>
      </div>
   </div>
     <div layout="row" flex="100"  flex-offset="0" flex-xs="100"  flex-offset-xs="0" style="color:#000;text-align: center;">
        <div flex="100" class="midle-parner">
          <div class="hero">
            <img src="../img/Whatsapp-model---for-Partner-salon---section-3---1349x580.png" alt="become-partner" style="width:100%;height: auto;">
          </div>
        </div>
        
      </div>
       <div layout="row" flex="100"  flex-offset="0" flex-xs="100"  flex-offset-xs="0" style="background-color:#fff;color:#000;text-align: center;">
        <div flex="100" style="padding-top:1%;padding-bottom: 2%;">
    
           <div layout="row" layout-align="center center" flex="100" class="salon-partner-livenow">
            Go LIVE <span class="salon-partner-within-48">within</span>48 hours
          
          </div>
          <div layout="row" flex="100" layout-align="center center" class="salon-partner-meeting">
             of signing up !!!
          </div>
          <div layout="row" flex="100" layout-align="center center" class="salon-partner-growth">

            99% of our salons see a <span style="color:#04bbff;margin-left:7px;margin-right:7px;font-weight: 600;">growth of 20% </span>within 3 months.
          </div>
        
          </div>
        
      </div>
       <div layout="row" flex="100"  flex-offset="0" flex-xs="100"  flex-offset-xs="0" style="background-color:#959394;color:#000;text-align: center;">
        <div flex="100">
         <div layout="row" flex="100"  flex-offset="0" flex-xs="100"  flex-offset-xs="0" style="color:#000;text-align: center;">
            <div flex="100" class="salon-partner-schedule">Schedule a meeting with our representative now</div>
           
         </div>
         <div layout="row" flex="100"  flex-offset="0" flex-xs="100"  flex-offset-xs="0" style="color:#000;text-align:left;padding-bottom: 1%;">
            <div flex-xs="100" flex="40"  flex-offset="30" flex-offset-xs="0">
              <md-card style="padding: 3%;">
                 
                    <!-- Use floating label instead of placeholder -->
                    <div layout="row">
                      <div flex="100">
                          <label class="parner-salon-common-text-color">Name</label>
                      </div>
                    </div>
                      <div layout="row">
                      <div flex="100">
                          <input ng-model="user.name" type="text" class="partner-salon-form">
                      </div>
                    </div>
                    <div layout="row" style="margin-top: 2%;">
                      <div flex="100">
                          <label class="parner-salon-common-text-color">Salon Name</label>
                      </div>
                    </div>
                      <div layout="row">
                      <div flex="100">
                          <input ng-model="user.salonName" type="text" class="partner-salon-form">
                      </div>
                    </div>
                    <div layout="layout" style="margin-top: 2%;">
                      <div flex="100">
                          <label class="parner-salon-common-text-color">Contact Number</label>
                      </div>
                    </div>
                      <div layout="row">
                      <div flex="100">
                          <input ng-model="user.salonContactNumber" type="text" class="partner-salon-form">
                      </div>
                    </div>
                     <div layout="row">
                      <div flex="100" class="partner-salon-call-us">
                        or Call Us Now at 91-9821886522
                      </div>
                    </div>
             
              </md-card>
              
            </div>
            
          </div>
       </div>
       </div>
  
   
</md-content>

</div>
</div>