
<div layout="column">

<div class="salon-pass-m" ng-cloak>
    <md-content ng-cloak style="background-color: #fff" class="temrConditon-padd-small">
      
      <div layout="row" flex="80"  flex-offset="10" flex-xs="100"  flex-offset-xs="0" style="padding-top: 2%;;font-family: latoLigth">
 
          <div flex="100">
            <div layout="row" layout-align="center center">
              <h3> Terms & Conditions</h3>

            </div>
             <div layout="row" layout-align="center center">
              <p>
                1. Gingerpan owns and operates the website <a href="http://www.beusalons.com">href="http://www.beusalons.com" (“Website”)</a> <b>and app be U salons on play store and app store.</b> The Website & app is accessible to the general public via the internet. <br>
                2. As part of the features of the Website, engaged in the business of online booking service for Salon services using electronic medium more particularly through the e-commerce domain. Whereby, any person may book appointment for service of Salon services from a variety of affiliate for appointment.<br>
                3. The date of execution of this agreement shall be the commencement date and the agreement shall remain valid and binding for a period of 3 months.
                4.The Company offers a package of Rs. 3000/- plus applicable where company promises to give 30 customers to affiliate under guarantee model, incase company fails to do so then Rs.100 per shin customer shall be paid to affiliate by company as refund.<br>
                5. It is expressly agreed by the parties hereto that the affiliate shall pay Rs 3,000 + plus applicable GST in advance to the Company shall at the time of sign up and renew the contract by paying in advance every quarter. Incase package of 30 customers is used earlier then affiliate can renew the package earlier as well by paying Rs.3000 plus applicable for another 30 customers.<br>
                6. Orders for the services shall be received using the website/Mobile app  <a href="http://www.beusalons.com">href="http://www.beusalons.com"</a> and shall be forwarded to the affiliate by the Company via Email/notification on Vendor app or text to the affiliate. The affiliate has to bill/redeem of bookings received of company’s customers on company’s online portal’s i.e. mobile app/website.<br>
                7.The affiliate agrees to service all the customers sent via online platform of the company, failure to service the booked appointment customers shall result in termination of this agreement and affiliate shall be eligible for no refund of unutilized subscription amount on termination.<br>
                8. The affiliates agree to bear the 33% of the cost of loyalty redemptions on the appointments booked via online platforms, and 66% of all the loyalty redemption & freebees cost shall be born the company. The same shall be paid by the company to affiliate on alternate days of settlement every week. Incase affiliate sells any subscriptions at his outlet and receives payment on behalf of company, the same shall be adjusted from the settlement amount on the date of settlement.<br>
                9. All the online payments received by company for the appointment of customer at affiliates salon, shall be paid by company to affiliate on alternate settlement days every week, i.e Monday, Wednesday, Friday. <br>
                10. The affiliate shall be solely responsible for the quality of the service, security of the customer/ customer’s property (all or whichever applicable) and any mishap or dispute with the client. The affiliate agrees to take responsibility of services given to the customer at its own cost and shall not hold the Company responsible in any manner whatsoever. <br>
11. The affiliate agrees to indemnify and keep indemnified the Company from all claims/losses (including advocate fee for defending/prosecuting any case) that may arise against the Company due to acts/omission on the part of the Vendor.<br>
12. To ensure and not to provide any description/image/text/graphic which is unlawful, illegal, intimidating, obnoxious, objectionable, obscene, vulgar, opposed to public policy, prohibited by law or morality or is in violation of intellectual property rights including but not limited to Trademark and Copyright of any third party or of inaccurate, false, incorrect, misleading description or is surrogatory in nature. Further it will forward the service description and image only for the service which is offered for sale through the website of the Company. The affiliate agrees that in case there is violation of this covenant, it shall do and cause to be done all such acts as are necessary to prevent disrepute being caused to the Company.<br>
13. The Company reserves the right to sell its contracts with the Vendors to other service providers. In the event the Company decides to transfer its website to another provider, the current contracts will also be transferred. Upon such transfer, the contracts shall continue to be valid and enforceable between the new service provider and Vendor unless otherwise provided in a subsequent Contract or Agreement.<br>
14. The affiliate expressly authorizes the Company to use its trade marks/copy rights/ designs /logos and other intellectual property owned and/or licensed by it for the purpose of reproduction on the website and at such other places as the Company may deem necessary. It is expressly agreed and clarified that, except as specified agreed in this Agreement, each Party shall retain all right, title and interest in their respective trademarks and logos and that nothing contained in this Agreement, nor the use of the trademark / logos on the publicity, advertising, promotional or other material in relation to the services shall be construed as giving to any Party any right, title or interest of any nature whatsoever to any of the other Party’s trademarks and / or logos.<br>
15. The agreement shall stand terminated only after expiry of contract period. However, the minimum contract period for contracts shall be 3 months. The affiliate can terminate the contract only after the completion of the above minimum contract period. If affiliate terminates contract before expiry of Three (3), then affiliate will not be able to claim refund of the unutilized package amount.<br>
16. This agreement is subject to exclusive jurisdiction of competent Courts of law at Delhi only.
17. This Agreement embodies the entire agreement and understanding of the Parties and supersedes any and all other prior and contemporaneous agreements, correspondence, arrangements and understandings (whether written or oral) between the Parties with respect to its subject matter
              </p>

            </div>

          </div>
     
      </div>

   
</md-content>

</div>
</div>