
<md-dialog layout="column" ng-cloak="" style="" class="weekdayToWeekendSwitching-page-container">

    <md-content  flex="100">
        <div layout="row" flex="100" style="" classs="weekdayToWeekendSwitching-page-Cart">
            <div flex="90" style="" class="weekdayToWeekendSwitching-page-Clear">Clear Cart?</div>
            <!--<div flex="10" ng-click="keepMeHere()"><ng-md-icon icon="close" style="fill:gray" size="15"></ng-md-icon> </div>-->
        </div>
        <div layout="row" flex="100" style="" class="weekdayToWeekendSwitching-page-message">
            <div flex="100" style="" class="weekdayToWeekendSwitching-page-weekend">You selected <span style="color:red;">weekend</span>  please select the items again.</div>
        </div>
        <div layout="row" flex="100" style="" class="weekdayToWeekendSwitching-page-ok" layout-align="center">
            <div layout="row" flex="50" style="" class="weekdayToWeekendSwitching-page-btn" layout-align="center">
                <md-button ng-click="close()" style="" class="weekdayToWeekendSwitching-page-okay">Okay</md-button>
            </div>
        </div>

    </md-content>

</md-dialog>

