
<md-dialog layout="column" ng-cloak="" style="" class="weekendToweekday-page-container">

    <md-content  flex="100">
        <div layout="row" flex="100" style="" class="weekendToweekdaypage-Clear-Cart ">
            <div flex="90" class="clearcart-page">Clear Cart?</div>
            <!--<div flex="10" ng-click="keepMeHere()"><ng-md-icon icon="close" style="fill:gray" size="15"></ng-md-icon> </div>-->
        </div>
        <div layout="row" flex="100" style="" class="weekendToweekdaypage-weekday">
            <div flex="100" style="">You selected <span style="color:red;">weekday</span>  please select the items again.</div>
        </div>
        <div layout="row" flex="100" style="" class="weekendToweekdaypage-btn-container" layout-align="center">
            <div layout="row" flex="50" style="" class="weekendToweekdaypage-btn-div" layout-align="center">
                <md-button ng-click="close()" style="" class="weekendToweekdaypage-Okay-btn">Okay</md-button>
            </div>
        </div>

    </md-content>

</md-dialog>

