<style media="screen">
  th{
    text-align:center;
  }
  .row{
    margin-top:1em;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2>Trainings Completed</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8" style="margin-top:1em;">
    <div class="row">
      <div class="col-md-offset-2 col-md-3">
        <label style="margin-left: 1em">Select Parlor:</label>
      </div>
      <div class="col-md-3">
        <select class="form-control" ng-options="item as item.name for item in parlors" ng-model="parlors.selected" ng-change="activeEmployees()" required></select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-3">
        <label style="margin-left: 1em">Select Employee:</label>
      </div>
      <div class="col-md-3">
        <select class="form-control" ng-options="item as item.employeeName for item in employeelist" ng-model="employeeName.selected" ng-change="sendDetails(employeeName.selected._id)" required></select>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 1em;">
  <div class="col-md-offset-3 col-md-6">
    <table>
      <thead>
        <tr>
          <th>Chapter Name</th>
          <th>Date</th>
          <th>Theory</th>
          <th>Practical</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in employeeDetails">
          <td>{{data.chapterName}}</td>
          <td>{{data.takenAt | date:'dd/MM/yyyy'}}</td>
          <td><span ng-if="data.theory==true">Yes</span><span ng-if="data.theory==false">No</span>
            <td><span ng-if="data.practical==true">Yes</span><span ng-if="data.practical==false">No</span>
        </tr>
      </tbody>
    </table>
  </div>
</div>
