<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-default btn-lg btn-block" ui-sref="dashboard.create-parlor">Add New Parlor</a>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                Pay Product Discount
            </div>
            <div class="row">
                <h2>Upload Product Discount</h2>
                <ng-csv-import content="csv.content"
                material
                md-button-class="md-icon-button md-raised md-accent"
                md-svg-icon="file:ic_file_upload_24px"
                header="csv.header"
                separator="seperator"
                result="csv.result"
                accept="csv.accept"></ng-csv-import>
        
        </div>
        <div class="row"><button class="btn btn-primary" ng-click="apply(csv.result)">Upload Data</button></div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper table-responsive">
                    <table class="table table-striped table-bordered" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Salon Id</th>
                                <th>Name</th>
                                 <th>Active</th>
                                <th>Amount acc to System</th>
                                <th>Adjusted Amount</th>
                                <th>Update Amount</th>

                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="" ng-repeat="parlor in parlors">
                                <td>{{parlor.id}}</td>
                                <td>{{parlor.name}}</td>
                                <td>{{parlor.active}}</td>
                                <td>{{parlor.address}}</td>
                                <td> <input ng-model="parlor." /> </td>
                                <td><button class="btn" ng-click="updateamount(parlor.id)" ng-disabled="role!=1 && role!=11">Edit</button> <button ng-if="parlor.ownerPhoneNumber==''" class="btn" ng-click="showOwners($index)">Add Owner</button> <button class="btn" ng-click="showAddCredit($index)">Add SMS Credit</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>